/* Add (anthem__calender__full__layout) class to the main parent to achieve calender component to full width in desktop mode */
.calender__wrapper {
  width: 100%;
  padding: 24px 8px 24px 16px;
  margin-top: 36px;
  box-sizing: border-box;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(38px);
  backdrop-filter: blur(38px);
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.1), 0 16px 32px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.calender__wrapper.anthem__calender__full__layout {
  padding: 8px 8px 0 24px;
  margin-bottom: 36px;
}

.calender__wrapper .calender__header .header__text {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Bitter-Medium";
  color: #333333;
  line-height: 1.25;
  text-transform: none;
}

.calender__wrapper .calender__desc {
  font-family: "Lato-Regular";
  font-size: 0.75rem;
  line-height: 22px;
  color: #333333;
  margin: 0 0 16px;
}

.calender__wrapper .date__picker {
  margin: 16px 8px 0 0;
}
.calender__wrapper.anthem__calender__full__layout .date__picker {
  margin: 16px 0 24px;
}

.calender__wrapper .picker__separator {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  margin-right: 8px;
}

.date__picker__container .calender__list {
  height: 250px;
  overflow: scroll;
  scrollbar-color: #e5edfb #ffffff;
  overflow-x: hidden;
  margin-top: 16px;
  padding-right: 12px;
}

.date__picker__container .calender__list::-webkit-scrollbar-thumb {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  background-color: #cccccc;
  border-radius: 2.5px;
}

.date__picker__container .calender__list::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

.calender__wrapper.anthem__calender__full__layout
  .date__picker__container
  .calender__list::-webkit-scrollbar-thumb {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.calender__list .calender__list__item .list__info {
  align-items: center;
  background-image: linear-gradient(
    to right,
    #ffffff,
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 8px;
  padding: 16px 12px 16px 10px;
  margin-top: 16px;
  box-sizing: border-box;
}

.anthem__calender__full__layout
  .calender__list
  .calender__list__item
  .list__info {
  padding: 16px 24px 16px 6px;
  margin-top: 12px;
}

.calender__list .calender__list__item:not(:last-child) {
  margin-bottom: 16px;
}
.calender__list .calender__list__item {
  width: 100%;
}

.anthem__calender__full__layout
  .calender__list
  .calender__list__item:first-child {
  margin-top: 3px;
}

.calender__list .calender__list__item .list__header {
  display: flex;
}

.calender__list .calender__list__item .list__header .list__title {
  font-family: "Lato-Bold";
  font-size: 1rem;
  display: inline-block;
  line-height: normal;
  color: #003274;
}

.calender__list .calender__list__item .list__header .list__title__date {
  font-family: "Lato-Regular";
  font-size: 0.75rem;
  line-height: 22px;
  display: inline-block;
  color: #6d7278;
  margin-left: 8px;
}

.calender__list .calender__list__item .list__data {
  margin-top: 16px;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.calender__wrapper.anthem__calender__full__layout
  .calender__list
  .calender__list__item
  .list__data
  .list__events__redirect {
  display: none;
}
.calender__list .calender__list__item .list__data:first-child {
  margin-top: 0;
}

.calender__list .calender__list__item .list__data .list__events__info {
  width: calc(100% - 24px);
  margin-right: 12px;
  display: flex;
  flex-direction: column;
}

.list__data .list__events__info .events__date {
  font-family: "Lato-Regular";
  font-size: 1rem;
  line-height: 1.5;
  color: #6d7278;
  border-left: 2px solid #006ece;
  padding-left: 12px;
  box-sizing: border-box;
}

.list__data .list__events__info .events__title {
  font-family: "Lato-Regular";
  font-size: 0.875rem;
  line-height: 1.57;
  border-left: 2px solid transparent;
  color: #333333;
  display: block;
  margin: 0;
  padding-left: 12px;
}

.anthem__calender__full__layout .list__data .list__events__info .events__date,
.anthem__calender__full__layout .list__data .list__events__info .events__title {
  padding-left: 16px;
}

.list__data .list__events__redirect {
  color: #286ce2;
}

.list__data .list__events__redirect > .motif-icon {
  font-size: 1rem;
}

.calender__wrapper .date__picker .motif-icon {
  color: #6d7278 !important;
}

.vanilla-calendar .vanilla-calendar-date > span,
.vanilla-calendar .vanilla-calendar-date--selected > span,
.vanilla-calendar .vanilla-calendar-date--today > span {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for events page calender component */
.calender__wrapper.anthem__calender__full__layout {
  display: flex;
  width: 100%;
  padding-bottom: 0;
}
.calender__wrapper.anthem__calender__full__layout .date__picker__container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.calender__wrapper.anthem__calender__full__layout .vanilla-calendar {
  width: 415px;
}
.anthem__calender__full__layout .calender__header,
.anthem__calender__full__layout .calender__desc,
.anthem__calender__full__layout.calender__wrapper .picker__separator {
  display: none;
}

.anthem__calender__full__layout.calender__wrapper .calender__list {
  overflow: scroll;
  overflow-x: hidden;
  width: calc(100% - 415px);
  max-width: 466px;
  margin-left: 25px;
  height: 342px;
}

/* Custom styling for calender component */
.vanilla-calendar {
  width: 100%;
  box-shadow: none;
  border: none;
  padding: 6px;
  box-sizing: border-box;
}
.vanilla-calendar .vanilla-calendar-header {
  padding: 6px 0 10px;
}
.anthem__calender__full__layout .vanilla-calendar .vanilla-calendar-header {
  padding: 20px 0 10px;
}

.vanilla-calendar .vanilla-calendar-header,
.vanilla-calendar .vanilla-calendar-week span {
  text-transform: none;
}
.vanilla-calendar .vanilla-calendar-btn.focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

.vanilla-calendar .vanilla-calendar-week {
  background-color: transparent;
}
.anthem__calender__full__layout
  .vanilla-calendar-header
  .vanilla-calendar-btn:first-child {
  display: flex;
  justify-content: flex-end;
}
.anthem__calender__full__layout
  .vanilla-calendar-header
  .vanilla-calendar-btn:last-child {
  display: flex;
  justify-content: flex-start;
}
.vanilla-calendar .vanilla-calendar-btn > span {
  color: #286ce2;
}
.vanilla-calendar .vanilla-calendar-week span,
.vanilla-calendar .vanilla-calendar-header__label,
.vanilla-calendar .vanilla-calendar-date,
.calender__wrapper .date__picker .motif-icon {
  font-size: 0.5625rem;
}
.anthem__calender__full__layout .vanilla-calendar .vanilla-calendar-week span,
.anthem__calender__full__layout
  .vanilla-calendar
  .vanilla-calendar-header__label,
.anthem__calender__full__layout .vanilla-calendar .vanilla-calendar-date,
.anthem__calender__full__layout .date__picker .motif-icon {
  font-size: 1rem;
}

.vanilla-calendar .vanilla-calendar-week span {
  color: #6d7278;
  font-family: "Lato-Light";
  font-weight: normal;
  padding: 10px;
}

.anthem__calender__full__layout .vanilla-calendar .vanilla-calendar-week span {
  padding: 10px 0 5px;
}

.anthem__calender__full__layout .vanilla-calendar .vanilla-calendar-week span {
  padding: 30px 0 5px;
}
.vanilla-calendar .vanilla-calendar-header__label {
  line-height: 1.38;
  font-family: "Lato-Bold";
  color: #6d7278;
}

.vanilla-calendar .vanilla-calendar-date {
  line-height: 1.38;
  font-family: "Lato-Regular";
  color: #6d7278;
  padding: 0;
}

.anthem__calender__full__layout .vanilla-calendar .vanilla-calendar-date > span,
.anthem__calender__full__layout
  .vanilla-calendar
  .vanilla-calendar-date--selected
  > span,
.anthem__calender__full__layout
  .vanilla-calendar
  .vanilla-calendar-date--today
  > span {
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vanilla-calendar .vanilla-calendar-date--selected {
  background-color: transparent;
}
.vanilla-calendar .vanilla-calendar-date--selected > span {
  border: solid 1px #006ece;
  border-radius: 50px;
}
.vanilla-calendar .vanilla-calendar-date--today {
  background-color: transparent;
  color: #ffffff;
  font-family: "Lato-Bold";
}

.anthem__calender__full__layout
  .vanilla-calendar
  .vanilla-calendar-date--today {
  font-family: "Lato-SemiBold";
}

.vanilla-calendar .vanilla-calendar-date--today > span {
  background-color: rgba(0, 110, 206, 0.1);
  border: solid 1px #006ece;
  border-radius: 50px;
  color: #286ce2;
}

@media screen and (max-width: 767px) {
  .calender__wrapper {
    padding: 16px;
  }
  .calender__wrapper.anthem__calender__full__layout {
    padding: 0 16px 16px 16px;
  }
  .calender__wrapper .calender__header {
    padding-right: 8px;
    margin: 0;
  }
  .calender__wrapper .calender__header .header__text {
    font-size: 1.125rem;
  }
  .calender__wrapper,
  .calender__wrapper.anthem__calender__full__layout .vanilla-calendar {
    width: 100%;
    padding-bottom: 16px;
  }
  .calender__wrapper .calender__desc {
    margin: 0;
  }
  .calender__wrapper .date__picker {
    margin: 12px 0 16px 0;
  }
  .anthem__calender__full__layout .date__picker {
    margin-bottom: 16px !important;
  }
  .calender__list .calender__list__item:first-child {
    margin-top: 0;
  }
  .calender__wrapper .calender__list {
    padding-right: 8px;
    margin: 0;
  }

  .calender__wrapper .calender__list .calender__list__item .list__info {
    margin-top: 8px;
  }
  .anthem__calender__full__layout
    .calender__list
    .calender__list__item
    .list__info {
    padding: 16px 24px 16px 12px;
    margin-top: 12px;
  }

  /* Events page variation */
  .calender__wrapper.anthem__calender__full__layout .date__picker__container {
    flex-direction: column;
  }
  .anthem__calender__full__layout.calender__wrapper .calender__list {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }

  .calender__wrapper .picker__separator {
    display: block !important;
  }
  .vanilla-calendar .vanilla-calendar-date > span,
  .vanilla-calendar .vanilla-calendar-date--selected > span,
  .vanilla-calendar .vanilla-calendar-date--today > span {
    width: 26px;
    height: 26px;
  }
  .anthem__calender__full__layout .vanilla-calendar .vanilla-calendar-week span,
  .anthem__calender__full__layout
    .vanilla-calendar
    .vanilla-calendar-header__label,
  .anthem__calender__full__layout .vanilla-calendar .vanilla-calendar-date,
  .calender__list .calender__list__item .list__header .list__title__date,
  .calender__list .calender__list__item .list__header .list__title {
    font-size: 0.75rem;
  }
}
