@font-face {
  font-family: "Montserrat-Regular";
  src: url("../resources/fonts/montserrat/Montserrat-Regular.otf");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../resources/fonts/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Medium";
  src: url("../resources/fonts/lato/Lato-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../resources/fonts/montserrat/Montserrat-Light.otf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../resources/fonts/montserrat/Montserrat-SemiBold.otf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../resources/fonts/montserrat/Montserrat-Medium.otf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../resources/fonts/montserrat/Montserrat-Bold.otf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../resources/fonts/lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato-SemiBold";
  src: url("../resources/fonts/lato/Lato-Semibold.ttf");
}

@font-face {
  font-family: "Lato-Light";
  src: url("../resources/fonts/lato/Lato-Light.ttf");
}

@font-face {
  font-family: "Bitter-Medium";
  src: url("../resources/fonts/bitter/Bitter-Medium.ttf");
}

@font-face {
  font-family: "Bitter-SemiBold";
  src: url("../resources/fonts/bitter/Bitter-SemiBold.ttf");
}
@font-face {
  font-family: "Bitter-Regular";
  src: url("../resources/fonts/bitter/Bitter-Regular.ttf");
}
/* styling for motif icon library */
@font-face {
  font-family: "ant-motif-icons";
  src: url("../resources/fonts/motif/ant-motif-icons.eot?6o51c8");
  src: url("../resources/fonts/motif/ant-motif-icons.eot?6o51c8#iefix")
      format("embedded-opentype"),
    url("../resources/fonts/motif/ant-motif-icons.ttf?6o51c8")
      format("truetype"),
    url("../resources/fonts/motif/ant-motif-icons.woff?6o51c8") format("woff"),
    url("../resources/fonts/motif/ant-motif-icons.svg?6o51c8#ant-motif-icons")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
.motif-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ant-motif-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.motif-about:before {
  content: "\e900";
}

.motif-access-for-blind:before {
  content: "\e901";
}

.motif-add-more:before {
  content: "\e902";
}

.motif-add-phone:before {
  content: "\e903";
}

.motif-add-shopping-cart:before {
  content: "\eb32";
}

.motif-add-tag:before {
  content: "\e904";
}

.motif-add-text:before {
  content: "\e905";
}

.motif-aed:before {
  content: "\e906";
}

.motif-aids-ribbon:before {
  content: "\e907";
}

.motif-alarm-clock:before {
  content: "\e908";
}

.motif-alluminium_massagetable:before {
  content: "\e909";
}

.motif-alphabetical-sorting:before {
  content: "\e90a";
}

.motif-alphabetical-sorting-2:before {
  content: "\e90b";
}

.motif-ambulance:before {
  content: "\e90c";
}

.motif-amnesty_international:before {
  content: "\e90d";
}

.motif-amputee:before {
  content: "\e90e";
}

.motif-angle-down:before {
  content: "\e90f";
}

.motif-angle-left:before {
  content: "\e910";
}

.motif-angle-right:before {
  content: "\e911";
}

.motif-angle-up:before {
  content: "\e912";
}

.motif-antiseptic-cream:before {
  content: "\e913";
}

.motif-apple:before {
  content: "\e914";
}

.motif-appointment-reminders:before {
  content: "\e915";
}

.motif-archived:before {
  content: "\eb25";
}

.motif-arrow:before {
  content: "\e916";
}

.motif-arrow-pointing-left:before {
  content: "\e917";
}

.motif-arrows-long-down:before {
  content: "\e918";
}

.motif-arrows-long-left:before {
  content: "\e919";
}

.motif-arrows-long-right:before {
  content: "\e91a";
}

.motif-arrows-long-up:before {
  content: "\e91b";
}

.motif-assistive_listening_systems:before {
  content: "\e91c";
}

.motif-attention:before {
  content: "\e91d";
}

.motif-audio-description:before {
  content: "\e91e";
}

.motif-average:before {
  content: "\e91f";
}

.motif-average-2:before {
  content: "\e920";
}

.motif-avocado:before {
  content: "\eb33";
}

.motif-ball-point-pen:before {
  content: "\e921";
}

.motif-banana:before {
  content: "\e922";
}

.motif-bandage:before {
  content: "\e923";
}

.motif-bank-cards:before {
  content: "\eb34";
}

.motif-bench-press-with-dumbbells:before {
  content: "\e924";
}

.motif-bento-box:before {
  content: "\eb28";
}

.motif-binoculars:before {
  content: "\e925";
}

.motif-birthday-cake:before {
  content: "\e926";
}

.motif-bitbucket:before {
  content: "\e927";
}

.motif-blind:before {
  content: "\e928";
}

.motif-block:before {
  content: "\e929";
}

.motif-body-scan:before {
  content: "\e92a";
}

.motif-bookmark:before {
  content: "\e92b";
}

.motif-bookmark-ribbon:before {
  content: "\e92c";
}

.motif-bottle-of-water:before {
  content: "\e92d";
}

.motif-braille:before {
  content: "\e92e";
}

.motif-brain:before {
  content: "\e92f";
}

.motif-bullet:before {
  content: "\eb35";
}

.motif-bulleted-list:before {
  content: "\e930";
}

.motif-business-contact:before {
  content: "\e931";
}

.motif-buy:before {
  content: "\e932";
}

.motif-caduceus:before {
  content: "\e933";
}

.motif-caduceus_gavel:before {
  content: "\e934";
}

.motif-cafe:before {
  content: "\e935";
}

.motif-calculator:before {
  content: "\e936";
}

.motif-calendar:before {
  content: "\e937";
}

.motif-calendar-minus:before {
  content: "\e938";
}

.motif-calendar-plus:before {
  content: "\e939";
}

.motif-call-transfer:before {
  content: "\e93a";
}

.motif-calories:before {
  content: "\eb36";
}

.motif-cancel:before {
  content: "\e93b";
}

.motif-cancel-2:before {
  content: "\e93c";
}

.motif-cancel-file:before {
  content: "\e93d";
}

.motif-cancer-ribbon:before {
  content: "\e93e";
}

.motif-car:before {
  content: "\eb37";
}

.motif-card-exchange:before {
  content: "\e93f";
}

.motif-card-security:before {
  content: "\e940";
}

.motif-card-security-code:before {
  content: "\e941";
}

.motif-card-verification-value:before {
  content: "\e942";
}

.motif-cardboard-box:before {
  content: "\e943";
}

.motif-cast:before {
  content: "\e944";
}

.motif-cc-amex:before {
  content: "\eb29";
}

.motif-cc-discover:before {
  content: "\eb2a";
}

.motif-cc-mastercard:before {
  content: "\eb2b";
}

.motif-cc-visa:before {
  content: "\eb2c";
}

.motif-charge-battery:before {
  content: "\e945";
}

.motif-chat:before {
  content: "\e946";
}

.motif-chat-bubble:before {
  content: "\eb2f";
}

.motif-chat-send:before {
  content: "\eb30";
}

.motif-cheap-2:before {
  content: "\e947";
}

.motif-check-wide:before {
  content: "\eb31";
}

.motif-checked:before {
  content: "\e948";
}

.motif-checked-2:before {
  content: "\e949";
}

.motif-checkmark:before {
  content: "\e94a";
}

.motif-checkout:before {
  content: "\e94b";
}

.motif-chef-hat:before {
  content: "\eb1d";
}

.motif-chevron:before {
  content: "\e94c";
}

.motif-chevron-down:before {
  content: "\e94d";
}

.motif-chevron-down-round:before {
  content: "\e94e";
}

.motif-chevron-filled-down:before {
  content: "\e94f";
}

.motif-chevron-filled-up:before {
  content: "\e950";
}

.motif-chevron-left:before {
  content: "\e951";
}

.motif-chevron-left-round:before {
  content: "\e952";
}

.motif-chevron-right:before {
  content: "\e953";
}

.motif-chevron-right-round:before {
  content: "\e954";
}

.motif-chevron-up:before {
  content: "\e955";
}

.motif-chevron-up-round:before {
  content: "\e956";
}

.motif-circle:before {
  content: "\e957";
}

.motif-circle-checked-inverse:before {
  content: "\eb1e";
}

.motif-circle-notch:before {
  content: "\e958";
}

.motif-circle-thin:before {
  content: "\e959";
}

.motif-circled:before {
  content: "\e95a";
}

.motif-circled-down:before {
  content: "\e95b";
}

.motif-circled-down-left:before {
  content: "\e95c";
}

.motif-circled-down-right:before {
  content: "\e95d";
}

.motif-circled-left:before {
  content: "\e95e";
}

.motif-circled-right:before {
  content: "\e95f";
}

.motif-circled-up:before {
  content: "\e960";
}

.motif-circled-up-left:before {
  content: "\e961";
}

.motif-circled-up-right:before {
  content: "\e962";
}

.motif-clinic:before {
  content: "\e963";
}

.motif-clipboard:before {
  content: "\e964";
}

.motif-clock:before {
  content: "\e965";
}

.motif-clone:before {
  content: "\e966";
}

.motif-closed-captioning:before {
  content: "\e967";
}

.motif-collapse:before {
  content: "\e968";
}

.motif-color-dropper:before {
  content: "\e969";
}

.motif-comments:before {
  content: "\e96a";
}

.motif-commercial-development-management:before {
  content: "\e96b";
}

.motif-compare:before {
  content: "\e96c";
}

.motif-compose:before {
  content: "\eb38";
}

.motif-compress:before {
  content: "\e96d";
}

.motif-computer-support:before {
  content: "\e96e";
}

.motif-concept:before {
  content: "\e96f";
}

.motif-condom:before {
  content: "\e970";
}

.motif-condom-package:before {
  content: "\e971";
}

.motif-contacts:before {
  content: "\e972";
}

.motif-content:before {
  content: "\e973";
}

.motif-copy:before {
  content: "\e974";
}

.motif-coronavirus:before {
  content: "\e975";
}

.motif-counselor:before {
  content: "\e976";
}

.motif-create-new:before {
  content: "\e977";
}

.motif-crop:before {
  content: "\e978";
}

.motif-crutch:before {
  content: "\e979";
}

.motif-curls-with-dumbbells:before {
  content: "\e97a";
}

.motif-cursor:before {
  content: "\e97b";
}

.motif-customer-support:before {
  content: "\e97c";
}

.motif-death:before {
  content: "\e97d";
}

.motif-decrease-font:before {
  content: "\e97e";
}

.motif-delete:before {
  content: "\e97f";
}

.motif-delete_link:before {
  content: "\e980";
}

.motif-delete_slide:before {
  content: "\e981";
}

.motif-department:before {
  content: "\e982";
}

.motif-design:before {
  content: "\e983";
}

.motif-details:before {
  content: "\e984";
}

.motif-device-information:before {
  content: "\e985";
}

.motif-diabetes:before {
  content: "\e986";
}

.motif-diabetes-monitor:before {
  content: "\e987";
}

.motif-dialysis_machine:before {
  content: "\e988";
}

.motif-diamond:before {
  content: "\e989";
}

.motif-dislike:before {
  content: "\e98a";
}

.motif-dislike-fill:before {
  content: "\e98b";
}

.motif-doctors-bag:before {
  content: "\e98c";
}

.motif-doctors-without-borders:before {
  content: "\e98d";
}

.motif-document:before {
  content: "\e98e";
}

.motif-documents:before {
  content: "\e98f";
}

.motif-donate:before {
  content: "\e990";
}

.motif-door-sensor-alarmed:before {
  content: "\e991";
}

.motif-double-down:before {
  content: "\e992";
}

.motif-double-left:before {
  content: "\e993";
}

.motif-double-right:before {
  content: "\e994";
}

.motif-double-up:before {
  content: "\e995";
}

.motif-down-2:before {
  content: "\e996";
}

.motif-down-3:before {
  content: "\e997";
}

.motif-down-arrow:before {
  content: "\e998";
}

.motif-down-left:before {
  content: "\e999";
}

.motif-down-left-arrow:before {
  content: "\e99a";
}

.motif-down-left-round:before {
  content: "\e99b";
}

.motif-down-right:before {
  content: "\e99c";
}

.motif-down-right-arrow:before {
  content: "\e99d";
}

.motif-down-right-round:before {
  content: "\e99e";
}

.motif-down-round:before {
  content: "\e99f";
}

.motif-down-squared:before {
  content: "\e9a0";
}

.motif-download:before {
  content: "\e9a1";
}

.motif-download-2:before {
  content: "\e9a2";
}

.motif-download-graph-report:before {
  content: "\e9a3";
}

.motif-download-pie-chart-report:before {
  content: "\e9a4";
}

.motif-downloads:before {
  content: "\e9a5";
}

.motif-drag-list-down:before {
  content: "\e9a6";
}

.motif-drag-list-up:before {
  content: "\e9a7";
}

.motif-drag-reorder:before {
  content: "\e9a8";
}

.motif-dumbbell:before {
  content: "\e9a9";
}

.motif-edit:before {
  content: "\e9aa";
}

.motif-elderly-person:before {
  content: "\e9ab";
}

.motif-ellipse:before {
  content: "\e9ac";
}

.motif-ellipse-filled:before {
  content: "\e9ad";
}

.motif-employee-card:before {
  content: "\e9ae";
}

.motif-empty-hourglass:before {
  content: "\e9af";
}

.motif-empty-trash:before {
  content: "\e9b0";
}

.motif-environment:before {
  content: "\e9b1";
}

.motif-erase:before {
  content: "\e9b2";
}

.motif-eraser:before {
  content: "\e9b3";
}

.motif-error:before {
  content: "\e9b4";
}

.motif-error-cloud:before {
  content: "\e9b5";
}

.motif-escape-mask:before {
  content: "\e9b6";
}

.motif-event-accepted:before {
  content: "\e9b7";
}

.motif-event-accepted-tentatively:before {
  content: "\e9b8";
}

.motif-exercise:before {
  content: "\e9b9";
}

.motif-expand:before {
  content: "\e9ba";
}

.motif-external-link:before {
  content: "\eb2d";
}

.motif-eye:before {
  content: "\e9bb";
}

.motif-facebook:before {
  content: "\e9bc";
}

.motif-false-teeth:before {
  content: "\e9bd";
}

.motif-family:before {
  content: "\e9be";
}

.motif-feedback:before {
  content: "\e9bf";
}

.motif-file:before {
  content: "\e9c0";
}

.motif-fill-color:before {
  content: "\e9c1";
}

.motif-filled-like:before {
  content: "\e9c2";
}

.motif-filled-star:before {
  content: "\e9c3";
}

.motif-filter:before {
  content: "\e9c4";
}

.motif-find-matching-job:before {
  content: "\e9c5";
}

.motif-fingerprint:before {
  content: "\e9c6";
}

.motif-fitness-tracker:before {
  content: "\eb39";
}

.motif-flip-horizontal:before {
  content: "\e9c7";
}

.motif-flip-vertical:before {
  content: "\e9c8";
}

.motif-flow-chart:before {
  content: "\e9c9";
}

.motif-foil-space-blanket:before {
  content: "\e9ca";
}

.motif-fold:before {
  content: "\e9cb";
}

.motif-foot-angle:before {
  content: "\e9cc";
}

.motif-forgot-password:before {
  content: "\e9cd";
}

.motif-fridge:before {
  content: "\e9ce";
}

.motif-full-image:before {
  content: "\e9cf";
}

.motif-full-stop:before {
  content: "\e9d0";
}

.motif-gavel:before {
  content: "\e9d1";
}

.motif-general-ledger:before {
  content: "\e9d2";
}

.motif-go-to-link:before {
  content: "\e9d3";
}

.motif-gold-bars:before {
  content: "\e9d4";
}

.motif-good-decision:before {
  content: "\e9d5";
}

.motif-graduation-cap:before {
  content: "\e9d6";
}

.motif-graph-report:before {
  content: "\e9d7";
}

.motif-graph-report-script:before {
  content: "\e9d8";
}

.motif-group-background-selected:before {
  content: "\e9d9";
}

.motif-group-foreground-selected:before {
  content: "\e9da";
}

.motif-group-of-questions:before {
  content: "\e9db";
}

.motif-groups:before {
  content: "\e9dc";
}

.motif-hand-cursor:before {
  content: "\e9dd";
}

.motif-hand-with-pen:before {
  content: "\e9de";
}

.motif-handshake:before {
  content: "\e9df";
}

.motif-hashtag-large:before {
  content: "\e9e0";
}

.motif-head-brain:before {
  content: "\eb43";
}

.motif-headset:before {
  content: "\e9e1";
}

.motif-health-book:before {
  content: "\e9e2";
}

.motif-health-plus:before {
  content: "\eb3a";
}

.motif-hearing:before {
  content: "\e9e3";
}

.motif-hearing-aid:before {
  content: "\e9e4";
}

.motif-heart-health:before {
  content: "\e9e5";
}

.motif-heart-monitor:before {
  content: "\e9e6";
}

.motif-heart-with-pulse:before {
  content: "\e9e7";
}

.motif-help:before {
  content: "\e9e8";
}

.motif-helping-hand:before {
  content: "\e9e9";
}

.motif-high-connection:before {
  content: "\e9ea";
}

.motif-high-importance:before {
  content: "\e9eb";
}

.motif-high-priority:before {
  content: "\e9ec";
}

.motif-home:before {
  content: "\e9ed";
}

.motif-honesty:before {
  content: "\e9ee";
}

.motif-honey:before {
  content: "\e9ef";
}

.motif-hospital-3:before {
  content: "\e9f0";
}

.motif-hot-dog:before {
  content: "\e9f1";
}

.motif-human-bone:before {
  content: "\e9f2";
}

.motif-ice-cream-cone:before {
  content: "\e9f3";
}

.motif-id-card:before {
  content: "\e9f4";
}

.motif-id-verified:before {
  content: "\e9f5";
}

.motif-idea:before {
  content: "\e9f6";
}

.motif-in-transit:before {
  content: "\e9f7";
}

.motif-inbox:before {
  content: "\e9f8";
}

.motif-info:before {
  content: "\e9f9";
}

.motif-info-squared:before {
  content: "\e9fa";
}

.motif-infusion-pumps:before {
  content: "\e9fb";
}

.motif-ingredients-list:before {
  content: "\e9fc";
}

.motif-inspection:before {
  content: "\e9fd";
}

.motif-internal:before {
  content: "\e9fe";
}

.motif-internet:before {
  content: "\e9ff";
}

.motif-invisible:before {
  content: "\ea00";
}

.motif-invite:before {
  content: "\ea01";
}

.motif-ios-development:before {
  content: "\ea02";
}

.motif-job:before {
  content: "\ea03";
}

.motif-key:before {
  content: "\ea04";
}

.motif-keyhole-shield:before {
  content: "\ea05";
}

.motif-kidney:before {
  content: "\ea06";
}

.motif-label-printer:before {
  content: "\ea07";
}

.motif-language:before {
  content: "\ea08";
}

.motif-large-intestine:before {
  content: "\ea09";
}

.motif-leave:before {
  content: "\ea0a";
}

.motif-left-2:before {
  content: "\ea0b";
}

.motif-left-3:before {
  content: "\ea0c";
}

.motif-left-arrow:before {
  content: "\ea0d";
}

.motif-left-down-2:before {
  content: "\ea0e";
}

.motif-left-round:before {
  content: "\ea0f";
}

.motif-left-squared:before {
  content: "\ea10";
}

.motif-left-up-2:before {
  content: "\ea11";
}

.motif-lgbt-men:before {
  content: "\ea12";
}

.motif-lgbt-women:before {
  content: "\ea13";
}

.motif-library:before {
  content: "\ea14";
}

.motif-lightning-bolt:before {
  content: "\ea15";
}

.motif-like:before {
  content: "\ea16";
}

.motif-list:before {
  content: "\ea17";
}

.motif-liver:before {
  content: "\ea18";
}

.motif-lock:before {
  content: "\ea19";
}

.motif-lock-2:before {
  content: "\ea1a";
}

.motif-login:before {
  content: "\eb3b";
}

.motif-loser:before {
  content: "\ea1b";
}

.motif-low-priority:before {
  content: "\ea1c";
}

.motif-loyalty:before {
  content: "\ea1d";
}

.motif-lungs:before {
  content: "\ea1e";
}

.motif-manage-payment:before {
  content: "\eb3c";
}

.motif-map-marker:before {
  content: "\ea1f";
}

.motif-marker:before {
  content: "\ea20";
}

.motif-marker-pen:before {
  content: "\ea21";
}

.motif-massage:before {
  content: "\ea22";
}

.motif-medical-doctor:before {
  content: "\ea23";
}

.motif-medical-heart:before {
  content: "\ea24";
}

.motif-medical-mobile-app:before {
  content: "\ea25";
}

.motif-medical-thermometer:before {
  content: "\ea26";
}

.motif-megaphone:before {
  content: "\ea27";
}

.motif-membership-card:before {
  content: "\ea28";
}

.motif-mental-state:before {
  content: "\ea29";
}

.motif-menu:before {
  content: "\eb3d";
}

.motif-menu-kebab:before {
  content: "\ea2a";
}

.motif-merge-horizontal:before {
  content: "\ea2b";
}

.motif-merge-vertical:before {
  content: "\ea2c";
}

.motif-message:before {
  content: "\ea2d";
}

.motif-message-filled:before {
  content: "\ea2e";
}

.motif-metamorphose:before {
  content: "\ea2f";
}

.motif-microbeam_radiation_therapy:before {
  content: "\ea30";
}

.motif-micropore-tape:before {
  content: "\ea31";
}

.motif-mind-and-body:before {
  content: "\eb3e";
}

.motif-minus:before {
  content: "\ea32";
}

.motif-mobile-shop-cards:before {
  content: "\ea33";
}

.motif-mortar-and-pestle:before {
  content: "\ea34";
}

.motif-move:before {
  content: "\ea35";
}

.motif-ms-excel:before {
  content: "\eb26";
}

.motif-multiple-devices:before {
  content: "\ea36";
}

.motif-music:before {
  content: "\ea37";
}

.motif-mute:before {
  content: "\ea38";
}

.motif-negative-dynamic:before {
  content: "\ea39";
}

.motif-news:before {
  content: "\ea3a";
}

.motif-no-chat:before {
  content: "\ea3b";
}

.motif-no-edit:before {
  content: "\ea3c";
}

.motif-no-filling:before {
  content: "\ea3d";
}

.motif-no-idea:before {
  content: "\ea3e";
}

.motif-no-reminders:before {
  content: "\ea3f";
}

.motif-no-smoking:before {
  content: "\ea40";
}

.motif-nose:before {
  content: "\ea41";
}

.motif-not-hearing:before {
  content: "\ea42";
}

.motif-notebook:before {
  content: "\eb3f";
}

.motif-numbered-list:before {
  content: "\ea43";
}

.motif-numerical-sorting-12:before {
  content: "\ea44";
}

.motif-numerical-sorting-21:before {
  content: "\ea45";
}

.motif-ok:before {
  content: "\ea46";
}

.motif-opened-captioning:before {
  content: "\ea47";
}

.motif-opened-folder:before {
  content: "\ea48";
}

.motif-order-on-the-way:before {
  content: "\ea49";
}

.motif-order-shipped:before {
  content: "\ea4a";
}

.motif-organization:before {
  content: "\ea4b";
}

.motif-overview_pages_3:before {
  content: "\ea4c";
}

.motif-pacemaker:before {
  content: "\ea4d";
}

.motif-paper-clip:before {
  content: "\eb27";
}

.motif-paper-plane:before {
  content: "\ea4e";
}

.motif-parse-from-clipboard:before {
  content: "\ea4f";
}

.motif-past:before {
  content: "\ea50";
}

.motif-paste:before {
  content: "\ea51";
}

.motif-paycheque:before {
  content: "\ea52";
}

.motif-pdf:before {
  content: "\ea53";
}

.motif-pen:before {
  content: "\ea54";
}

.motif-pencil:before {
  content: "\ea55";
}

.motif-pencil-tip:before {
  content: "\ea56";
}

.motif-pharmacist:before {
  content: "\ea57";
}

.motif-phone:before {
  content: "\ea58";
}

.motif-physical-therapy:before {
  content: "\ea59";
}

.motif-picture:before {
  content: "\ea5a";
}

.motif-pill:before {
  content: "\ea5b";
}

.motif-play:before {
  content: "\ea5c";
}

.motif-play-round:before {
  content: "\ea5d";
}

.motif-plus:before {
  content: "\ea5e";
}

.motif-posture:before {
  content: "\ea5f";
}

.motif-prescription-pill-bottle:before {
  content: "\ea60";
}

.motif-presentation-filled:before {
  content: "\ea61";
}

.motif-price-tag:before {
  content: "\ea62";
}

.motif-price-tag-usd:before {
  content: "\ea63";
}

.motif-print:before {
  content: "\ea64";
}

.motif-printed-ocr:before {
  content: "\ea65";
}

.motif-pulse:before {
  content: "\ea66";
}

.motif-puzzle:before {
  content: "\ea67";
}

.motif-question:before {
  content: "\ea68";
}

.motif-rating:before {
  content: "\ea69";
}

.motif-read-message:before {
  content: "\ea6a";
}

.motif-read-message1:before {
  content: "\ea6b";
}

.motif-reading:before {
  content: "\ea6c";
}

.motif-rebalance-portfolio:before {
  content: "\ea6d";
}

.motif-recurring-appointment:before {
  content: "\ea6e";
}

.motif-recurring-appointment-exception:before {
  content: "\ea6f";
}

.motif-redo:before {
  content: "\ea70";
}

.motif-refresh:before {
  content: "\ea71";
}

.motif-reply:before {
  content: "\ea72";
}

.motif-resize-diagonal:before {
  content: "\ea73";
}

.motif-resize-four-directions:before {
  content: "\ea74";
}

.motif-resize-horizontal:before {
  content: "\ea75";
}

.motif-resize-vertical:before {
  content: "\ea76";
}

.motif-restrict:before {
  content: "\ea77";
}

.motif-retweet:before {
  content: "\ea78";
}

.motif-reviewer-male:before {
  content: "\ea79";
}

.motif-ribbon:before {
  content: "\eb2e";
}

.motif-right-2:before {
  content: "\ea7a";
}

.motif-right-3:before {
  content: "\ea7b";
}

.motif-right-arrow:before {
  content: "\ea7c";
}

.motif-right-down-2:before {
  content: "\ea7d";
}

.motif-right-round:before {
  content: "\ea7e";
}

.motif-right-squared:before {
  content: "\ea7f";
}

.motif-right-up-2:before {
  content: "\ea80";
}

.motif-rod_of_asclepius:before {
  content: "\ea81";
}

.motif-rotate:before {
  content: "\ea82";
}

.motif-rotate-left:before {
  content: "\ea83";
}

.motif-rotate-right:before {
  content: "\ea84";
}

.motif-rotate-right-1-1-1:before {
  content: "\ea85";
}

.motif-rss:before {
  content: "\ea86";
}

.motif-ruler:before {
  content: "\ea87";
}

.motif-rules:before {
  content: "\ea88";
}

.motif-sad-cloud:before {
  content: "\eb1f";
}

.motif-safety-collection-place:before {
  content: "\ea89";
}

.motif-safety-pin:before {
  content: "\ea8a";
}

.motif-safety-shower:before {
  content: "\ea8b";
}

.motif-salad:before {
  content: "\eb40";
}

.motif-sales-performance:before {
  content: "\ea8c";
}

.motif-saliva-test:before {
  content: "\ea8d";
}

.motif-save-the-children:before {
  content: "\ea8e";
}

.motif-scale:before {
  content: "\ea8f";
}

.motif-scalpel:before {
  content: "\ea90";
}

.motif-scissors:before {
  content: "\ea91";
}

.motif-search-1:before {
  content: "\ea92";
}

.motif-search-contacts:before {
  content: "\ea93";
}

.motif-search-property:before {
  content: "\ea94";
}

.motif-secured-by-alarm-system:before {
  content: "\ea95";
}

.motif-security-ssl:before {
  content: "\ea96";
}

.motif-sell-property:before {
  content: "\ea97";
}

.motif-send:before {
  content: "\eb41";
}

.motif-sent:before {
  content: "\ea98";
}

.motif-services:before {
  content: "\ea99";
}

.motif-settings:before {
  content: "\ea9a";
}

.motif-shield:before {
  content: "\ea9b";
}

.motif-shopping-bag:before {
  content: "\ea9c";
}

.motif-shopping-cart:before {
  content: "\ea9d";
}

.motif-sign_language_interpretation:before {
  content: "\ea9e";
}

.motif-skeleton:before {
  content: "\ea9f";
}

.motif-skin:before {
  content: "\eaa0";
}

.motif-skull:before {
  content: "\eaa1";
}

.motif-sleeping-in-bed:before {
  content: "\eaa2";
}

.motif-slippery-floor:before {
  content: "\eb44";
}

.motif-small-business:before {
  content: "\eaa3";
}

.motif-smartphone-approve:before {
  content: "\eaa4";
}

.motif-sneaker:before {
  content: "\eb20";
}

.motif-sneeze:before {
  content: "\eaa5";
}

.motif-soldering-iron:before {
  content: "\eaa6";
}

.motif-sort:before {
  content: "\eaa7";
}

.motif-sort-down:before {
  content: "\eaa8";
}

.motif-sort-down-filled:before {
  content: "\eaa9";
}

.motif-sort-left:before {
  content: "\eaaa";
}

.motif-sort-right:before {
  content: "\eaab";
}

.motif-sort-up:before {
  content: "\eaac";
}

.motif-sort-up-filled:before {
  content: "\eaad";
}

.motif-sorting-arrows:before {
  content: "\eaae";
}

.motif-sorting-arrows-horizontal:before {
  content: "\eaaf";
}

.motif-sorting-options:before {
  content: "\eab0";
}

.motif-speech-bubble:before {
  content: "\eab1";
}

.motif-sperm-bank:before {
  content: "\eab2";
}

.motif-split-horizontal:before {
  content: "\eab3";
}

.motif-split-vertical:before {
  content: "\eab4";
}

.motif-standing-man:before {
  content: "\eab5";
}

.motif-standing-woman:before {
  content: "\eab6";
}

.motif-star:before {
  content: "\eab7";
}

.motif-star-half:before {
  content: "\eab8";
}

.motif-star-half-empty:before {
  content: "\eab9";
}

.motif-statistics:before {
  content: "\eaba";
}

.motif-stethoscope:before {
  content: "\eabb";
}

.motif-stitch-marker:before {
  content: "\eabc";
}

.motif-stocks:before {
  content: "\eabd";
}

.motif-stomach:before {
  content: "\eabe";
}

.motif-stop-pie-chart-report:before {
  content: "\eabf";
}

.motif-stretcher:before {
  content: "\eac0";
}

.motif-submit-resume:before {
  content: "\eac1";
}

.motif-suicide-risk:before {
  content: "\eac2";
}

.motif-support:before {
  content: "\eac3";
}

.motif-surgical-scissors:before {
  content: "\eac4";
}

.motif-swap:before {
  content: "\eac5";
}

.motif-symbol-mars:before {
  content: "\eb21";
}

.motif-symbol-venus:before {
  content: "\eb22";
}

.motif-synchronize:before {
  content: "\eac6";
}

.motif-syringe:before {
  content: "\eac7";
}

.motif-tags:before {
  content: "\eac8";
}

.motif-tasklist:before {
  content: "\eac9";
}

.motif-tasks:before {
  content: "\eaca";
}

.motif-tax:before {
  content: "\eacb";
}

.motif-technical_support:before {
  content: "\eacc";
}

.motif-technology-items:before {
  content: "\eacd";
}

.motif-template:before {
  content: "\eace";
}

.motif-test-partial-passed:before {
  content: "\eacf";
}

.motif-therapy:before {
  content: "\ead0";
}

.motif-thick-arrow-pointing-down:before {
  content: "\ead1";
}

.motif-thick-arrow-pointing-up:before {
  content: "\ead2";
}

.motif-thumb-down:before {
  content: "\ead3";
}

.motif-thumb-up:before {
  content: "\ead4";
}

.motif-tied-hands:before {
  content: "\ead5";
}

.motif-time-card:before {
  content: "\ead6";
}

.motif-timeline:before {
  content: "\ead7";
}

.motif-todo-list:before {
  content: "\ead8";
}

.motif-tooth:before {
  content: "\ead9";
}

.motif-toothbrush:before {
  content: "\eada";
}

.motif-toothpaste:before {
  content: "\eadb";
}

.motif-topic:before {
  content: "\eadc";
}

.motif-touchscreen-smartphone:before {
  content: "\eadd";
}

.motif-training:before {
  content: "\eade";
}

.motif-transaction-list:before {
  content: "\eadf";
}

.motif-transfer-between-users:before {
  content: "\eae0";
}

.motif-trash:before {
  content: "\eae1";
}

.motif-travel-card:before {
  content: "\eae2";
}

.motif-treatment-plan:before {
  content: "\eae3";
}

.motif-tree-structure:before {
  content: "\eae4";
}

.motif-triangle:before {
  content: "\eae5";
}

.motif-triangular-bandage:before {
  content: "\eae6";
}

.motif-true-false:before {
  content: "\eae7";
}

.motif-trust:before {
  content: "\eae8";
}

.motif-tv:before {
  content: "\eae9";
}

.motif-tweezers:before {
  content: "\eaea";
}

.motif-twitter:before {
  content: "\eaeb";
}

.motif-ultrasound:before {
  content: "\eaec";
}

.motif-unchecked-checkbox:before {
  content: "\eaed";
}

.motif-undo:before {
  content: "\eaee";
}

.motif-unhcr:before {
  content: "\eaef";
}

.motif-unicef:before {
  content: "\eaf0";
}

.motif-unlock:before {
  content: "\eaf1";
}

.motif-unlock-2:before {
  content: "\eaf2";
}

.motif-up-2:before {
  content: "\eaf3";
}

.motif-up-3:before {
  content: "\eaf4";
}

.motif-up-arrow:before {
  content: "\eaf5";
}

.motif-up-left:before {
  content: "\eaf6";
}

.motif-up-left-arrow:before {
  content: "\eaf7";
}

.motif-up-left-round:before {
  content: "\eaf8";
}

.motif-up-right:before {
  content: "\eaf9";
}

.motif-up-right-arrow:before {
  content: "\eafa";
}

.motif-up-right-round:before {
  content: "\eafb";
}

.motif-up-round:before {
  content: "\eafc";
}

.motif-up-squared:before {
  content: "\eafd";
}

.motif-update-tag:before {
  content: "\eafe";
}

.motif-upload:before {
  content: "\eaff";
}

.motif-upload-2:before {
  content: "\eb00";
}

.motif-urgent-message:before {
  content: "\eb01";
}

.motif-urine-collection:before {
  content: "\eb02";
}

.motif-user-checked:before {
  content: "\eb23";
}

.motif-user-group-man-man:before {
  content: "\eb03";
}

.motif-user-group-man-woman:before {
  content: "\eb04";
}

.motif-user-group-woman-woman:before {
  content: "\eb05";
}

.motif-user-male-circle:before {
  content: "\eb06";
}

.motif-user-manual:before {
  content: "\eb07";
}

.motif-user-remove:before {
  content: "\eb24";
}

.motif-uterus:before {
  content: "\eb08";
}

.motif-vaccine-drop:before {
  content: "\eb09";
}

.motif-vending-machine:before {
  content: "\eb0a";
}

.motif-video-conference:before {
  content: "\eb0b";
}

.motif-video-projector:before {
  content: "\eb0c";
}

.motif-view-details:before {
  content: "\eb0d";
}

.motif-vip:before {
  content: "\eb0e";
}

.motif-virus:before {
  content: "\eb0f";
}

.motif-visible:before {
  content: "\eb10";
}

.motif-visualy-impaired:before {
  content: "\eb11";
}

.motif-walker:before {
  content: "\eb12";
}

.motif-walking-stick:before {
  content: "\eb13";
}

.motif-warning-shield:before {
  content: "\eb14";
}

.motif-wheelchair:before {
  content: "\eb15";
}

.motif-why-us-male:before {
  content: "\eb16";
}

.motif-wipes:before {
  content: "\eb17";
}

.motif-wooden_massagetable:before {
  content: "\eb18";
}

.motif-world-health-organization:before {
  content: "\eb19";
}

.motif-xray:before {
  content: "\eb1a";
}

.motif-yoga:before {
  content: "\eb42";
}

.motif-yogurt:before {
  content: "\eb1b";
}

.motif-youtube-play:before {
  content: "\eb1c";
}

/*# sourceMappingURL=icons.css.map */

/* styling for font awesome icon library, Icons which are not available in Motif-Library will be used from this library */
@font-face {
  font-family: "FontAwesome";
  src: url("../resources/fonts/font-awesome/fontawesome-webfont.eot?v=4.7.0");
  src: url("../resources/fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("../resources/fonts/font-awesome/fontawesome-webfont.woff?v=4.7.0")
      format("woff"),
    url("../resources/fonts/font-awesome/fontawesome-webfont.ttf?v=4.7.0")
      format("truetype"),
    url("../resources/fonts/font-awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font-family: "FontAwesome" !important;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: 0.2em 0.25em 0.15em;
  border: solid 0.08em #eeeeee;
  border-radius: 0.1em;
}
.fa-pull-left {
  float: left;
}
.fa-pull-right {
  float: right;
}
.fa.fa-pull-left {
  margin-right: 0.3em;
}
.fa.fa-pull-right {
  margin-left: 0.3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: 0.3em;
}
.fa.pull-right {
  margin-left: 0.3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-feed:before,
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
.fa-space-shuttle:before {
  content: "\f197";
}
.fa-slack:before {
  content: "\f198";
}
.fa-envelope-square:before {
  content: "\f199";
}
.fa-wordpress:before {
  content: "\f19a";
}
.fa-openid:before {
  content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}
.fa-yahoo:before {
  content: "\f19e";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-reddit:before {
  content: "\f1a1";
}
.fa-reddit-square:before {
  content: "\f1a2";
}
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}
.fa-stumbleupon:before {
  content: "\f1a4";
}
.fa-delicious:before {
  content: "\f1a5";
}
.fa-digg:before {
  content: "\f1a6";
}
.fa-pied-piper-pp:before {
  content: "\f1a7";
}
.fa-pied-piper-alt:before {
  content: "\f1a8";
}
.fa-drupal:before {
  content: "\f1a9";
}
.fa-joomla:before {
  content: "\f1aa";
}
.fa-language:before {
  content: "\f1ab";
}
.fa-fax:before {
  content: "\f1ac";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-child:before {
  content: "\f1ae";
}
.fa-paw:before {
  content: "\f1b0";
}
.fa-spoon:before {
  content: "\f1b1";
}
.fa-cube:before {
  content: "\f1b2";
}
.fa-cubes:before {
  content: "\f1b3";
}
.fa-behance:before {
  content: "\f1b4";
}
.fa-behance-square:before {
  content: "\f1b5";
}
.fa-steam:before {
  content: "\f1b6";
}
.fa-steam-square:before {
  content: "\f1b7";
}
.fa-recycle:before {
  content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}
.fa-tree:before {
  content: "\f1bb";
}
.fa-spotify:before {
  content: "\f1bc";
}
.fa-deviantart:before {
  content: "\f1bd";
}
.fa-soundcloud:before {
  content: "\f1be";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-file-pdf-o:before {
  content: "\f1c1";
}
.fa-file-word-o:before {
  content: "\f1c2";
}
.fa-file-excel-o:before {
  content: "\f1c3";
}
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}
.fa-file-code-o:before {
  content: "\f1c9";
}
.fa-vine:before {
  content: "\f1ca";
}
.fa-codepen:before {
  content: "\f1cb";
}
.fa-jsfiddle:before {
  content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}
.fa-circle-o-notch:before {
  content: "\f1ce";
}
.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}
.fa-git-square:before {
  content: "\f1d2";
}
.fa-git:before {
  content: "\f1d3";
}
.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "\f1d4";
}
.fa-tencent-weibo:before {
  content: "\f1d5";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}
.fa-history:before {
  content: "\f1da";
}
.fa-circle-thin:before {
  content: "\f1db";
}
.fa-header:before {
  content: "\f1dc";
}
.fa-paragraph:before {
  content: "\f1dd";
}
.fa-sliders:before {
  content: "\f1de";
}
.fa-share-alt:before {
  content: "\f1e0";
}
.fa-share-alt-square:before {
  content: "\f1e1";
}
.fa-bomb:before {
  content: "\f1e2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}
.fa-tty:before {
  content: "\f1e4";
}
.fa-binoculars:before {
  content: "\f1e5";
}
.fa-plug:before {
  content: "\f1e6";
}
.fa-slideshare:before {
  content: "\f1e7";
}
.fa-twitch:before {
  content: "\f1e8";
}
.fa-yelp:before {
  content: "\f1e9";
}
.fa-newspaper-o:before {
  content: "\f1ea";
}
.fa-wifi:before {
  content: "\f1eb";
}
.fa-calculator:before {
  content: "\f1ec";
}
.fa-paypal:before {
  content: "\f1ed";
}
.fa-google-wallet:before {
  content: "\f1ee";
}
.fa-cc-visa:before {
  content: "\f1f0";
}
.fa-cc-mastercard:before {
  content: "\f1f1";
}
.fa-cc-discover:before {
  content: "\f1f2";
}
.fa-cc-amex:before {
  content: "\f1f3";
}
.fa-cc-paypal:before {
  content: "\f1f4";
}
.fa-cc-stripe:before {
  content: "\f1f5";
}
.fa-bell-slash:before {
  content: "\f1f6";
}
.fa-bell-slash-o:before {
  content: "\f1f7";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-copyright:before {
  content: "\f1f9";
}
.fa-at:before {
  content: "\f1fa";
}
.fa-eyedropper:before {
  content: "\f1fb";
}
.fa-paint-brush:before {
  content: "\f1fc";
}
.fa-birthday-cake:before {
  content: "\f1fd";
}
.fa-area-chart:before {
  content: "\f1fe";
}
.fa-pie-chart:before {
  content: "\f200";
}
.fa-line-chart:before {
  content: "\f201";
}
.fa-lastfm:before {
  content: "\f202";
}
.fa-lastfm-square:before {
  content: "\f203";
}
.fa-toggle-off:before {
  content: "\f204";
}
.fa-toggle-on:before {
  content: "\f205";
}
.fa-bicycle:before {
  content: "\f206";
}
.fa-bus:before {
  content: "\f207";
}
.fa-ioxhost:before {
  content: "\f208";
}
.fa-angellist:before {
  content: "\f209";
}
.fa-cc:before {
  content: "\f20a";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}
.fa-meanpath:before {
  content: "\f20c";
}
.fa-buysellads:before {
  content: "\f20d";
}
.fa-connectdevelop:before {
  content: "\f20e";
}
.fa-dashcube:before {
  content: "\f210";
}
.fa-forumbee:before {
  content: "\f211";
}
.fa-leanpub:before {
  content: "\f212";
}
.fa-sellsy:before {
  content: "\f213";
}
.fa-shirtsinbulk:before {
  content: "\f214";
}
.fa-simplybuilt:before {
  content: "\f215";
}
.fa-skyatlas:before {
  content: "\f216";
}
.fa-cart-plus:before {
  content: "\f217";
}
.fa-cart-arrow-down:before {
  content: "\f218";
}
.fa-diamond:before {
  content: "\f219";
}
.fa-ship:before {
  content: "\f21a";
}
.fa-user-secret:before {
  content: "\f21b";
}
.fa-motorcycle:before {
  content: "\f21c";
}
.fa-street-view:before {
  content: "\f21d";
}
.fa-heartbeat:before {
  content: "\f21e";
}
.fa-venus:before {
  content: "\f221";
}
.fa-mars:before {
  content: "\f222";
}
.fa-mercury:before {
  content: "\f223";
}
.fa-intersex:before,
.fa-transgender:before {
  content: "\f224";
}
.fa-transgender-alt:before {
  content: "\f225";
}
.fa-venus-double:before {
  content: "\f226";
}
.fa-mars-double:before {
  content: "\f227";
}
.fa-venus-mars:before {
  content: "\f228";
}
.fa-mars-stroke:before {
  content: "\f229";
}
.fa-mars-stroke-v:before {
  content: "\f22a";
}
.fa-mars-stroke-h:before {
  content: "\f22b";
}
.fa-neuter:before {
  content: "\f22c";
}
.fa-genderless:before {
  content: "\f22d";
}
.fa-facebook-official:before {
  content: "\f230";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-whatsapp:before {
  content: "\f232";
}
.fa-server:before {
  content: "\f233";
}
.fa-user-plus:before {
  content: "\f234";
}
.fa-user-times:before {
  content: "\f235";
}
.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}
.fa-viacoin:before {
  content: "\f237";
}
.fa-train:before {
  content: "\f238";
}
.fa-subway:before {
  content: "\f239";
}
.fa-medium:before {
  content: "\f23a";
}
.fa-yc:before,
.fa-y-combinator:before {
  content: "\f23b";
}
.fa-optin-monster:before {
  content: "\f23c";
}
.fa-opencart:before {
  content: "\f23d";
}
.fa-expeditedssl:before {
  content: "\f23e";
}
.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: "\f240";
}
.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "\f241";
}
.fa-battery-2:before,
.fa-battery-half:before {
  content: "\f242";
}
.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "\f243";
}
.fa-battery-0:before,
.fa-battery-empty:before {
  content: "\f244";
}
.fa-mouse-pointer:before {
  content: "\f245";
}
.fa-i-cursor:before {
  content: "\f246";
}
.fa-object-group:before {
  content: "\f247";
}
.fa-object-ungroup:before {
  content: "\f248";
}
.fa-sticky-note:before {
  content: "\f249";
}
.fa-sticky-note-o:before {
  content: "\f24a";
}
.fa-cc-jcb:before {
  content: "\f24b";
}
.fa-cc-diners-club:before {
  content: "\f24c";
}
.fa-clone:before {
  content: "\f24d";
}
.fa-balance-scale:before {
  content: "\f24e";
}
.fa-hourglass-o:before {
  content: "\f250";
}
.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "\f251";
}
.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "\f252";
}
.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "\f253";
}
.fa-hourglass:before {
  content: "\f254";
}
.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "\f255";
}
.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "\f256";
}
.fa-hand-scissors-o:before {
  content: "\f257";
}
.fa-hand-lizard-o:before {
  content: "\f258";
}
.fa-hand-spock-o:before {
  content: "\f259";
}
.fa-hand-pointer-o:before {
  content: "\f25a";
}
.fa-hand-peace-o:before {
  content: "\f25b";
}
.fa-trademark:before {
  content: "\f25c";
}
.fa-registered:before {
  content: "\f25d";
}
.fa-creative-commons:before {
  content: "\f25e";
}
.fa-gg:before {
  content: "\f260";
}
.fa-gg-circle:before {
  content: "\f261";
}
.fa-tripadvisor:before {
  content: "\f262";
}
.fa-odnoklassniki:before {
  content: "\f263";
}
.fa-odnoklassniki-square:before {
  content: "\f264";
}
.fa-get-pocket:before {
  content: "\f265";
}
.fa-wikipedia-w:before {
  content: "\f266";
}
.fa-safari:before {
  content: "\f267";
}
.fa-chrome:before {
  content: "\f268";
}
.fa-firefox:before {
  content: "\f269";
}
.fa-opera:before {
  content: "\f26a";
}
.fa-internet-explorer:before {
  content: "\f26b";
}
.fa-tv:before,
.fa-television:before {
  content: "\f26c";
}
.fa-contao:before {
  content: "\f26d";
}
.fa-500px:before {
  content: "\f26e";
}
.fa-amazon:before {
  content: "\f270";
}
.fa-calendar-plus-o:before {
  content: "\f271";
}
.fa-calendar-minus-o:before {
  content: "\f272";
}
.fa-calendar-times-o:before {
  content: "\f273";
}
.fa-calendar-check-o:before {
  content: "\f274";
}
.fa-industry:before {
  content: "\f275";
}
.fa-map-pin:before {
  content: "\f276";
}
.fa-map-signs:before {
  content: "\f277";
}
.fa-map-o:before {
  content: "\f278";
}
.fa-map:before {
  content: "\f279";
}
.fa-commenting:before {
  content: "\f27a";
}
.fa-commenting-o:before {
  content: "\f27b";
}
.fa-houzz:before {
  content: "\f27c";
}
.fa-vimeo:before {
  content: "\f27d";
}
.fa-black-tie:before {
  content: "\f27e";
}
.fa-fonticons:before {
  content: "\f280";
}
.fa-reddit-alien:before {
  content: "\f281";
}
.fa-edge:before {
  content: "\f282";
}
.fa-credit-card-alt:before {
  content: "\f283";
}
.fa-codiepie:before {
  content: "\f284";
}
.fa-modx:before {
  content: "\f285";
}
.fa-fort-awesome:before {
  content: "\f286";
}
.fa-usb:before {
  content: "\f287";
}
.fa-product-hunt:before {
  content: "\f288";
}
.fa-mixcloud:before {
  content: "\f289";
}
.fa-scribd:before {
  content: "\f28a";
}
.fa-pause-circle:before {
  content: "\f28b";
}
.fa-pause-circle-o:before {
  content: "\f28c";
}
.fa-stop-circle:before {
  content: "\f28d";
}
.fa-stop-circle-o:before {
  content: "\f28e";
}
.fa-shopping-bag:before {
  content: "\f290";
}
.fa-shopping-basket:before {
  content: "\f291";
}
.fa-hashtag:before {
  content: "\f292";
}
.fa-bluetooth:before {
  content: "\f293";
}
.fa-bluetooth-b:before {
  content: "\f294";
}
.fa-percent:before {
  content: "\f295";
}
.fa-gitlab:before {
  content: "\f296";
}
.fa-wpbeginner:before {
  content: "\f297";
}
.fa-wpforms:before {
  content: "\f298";
}
.fa-envira:before {
  content: "\f299";
}
.fa-universal-access:before {
  content: "\f29a";
}
.fa-wheelchair-alt:before {
  content: "\f29b";
}
.fa-question-circle-o:before {
  content: "\f29c";
}
.fa-blind:before {
  content: "\f29d";
}
.fa-audio-description:before {
  content: "\f29e";
}
.fa-volume-control-phone:before {
  content: "\f2a0";
}
.fa-braille:before {
  content: "\f2a1";
}
.fa-assistive-listening-systems:before {
  content: "\f2a2";
}
.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: "\f2a3";
}
.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: "\f2a4";
}
.fa-glide:before {
  content: "\f2a5";
}
.fa-glide-g:before {
  content: "\f2a6";
}
.fa-signing:before,
.fa-sign-language:before {
  content: "\f2a7";
}
.fa-low-vision:before {
  content: "\f2a8";
}
.fa-viadeo:before {
  content: "\f2a9";
}
.fa-viadeo-square:before {
  content: "\f2aa";
}
.fa-snapchat:before {
  content: "\f2ab";
}
.fa-snapchat-ghost:before {
  content: "\f2ac";
}
.fa-snapchat-square:before {
  content: "\f2ad";
}
.fa-pied-piper:before {
  content: "\f2ae";
}
.fa-first-order:before {
  content: "\f2b0";
}
.fa-yoast:before {
  content: "\f2b1";
}
.fa-themeisle:before {
  content: "\f2b2";
}
.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: "\f2b3";
}
.fa-fa:before,
.fa-font-awesome:before {
  content: "\f2b4";
}
.fa-handshake-o:before {
  content: "\f2b5";
}
.fa-envelope-open:before {
  content: "\f2b6";
}
.fa-envelope-open-o:before {
  content: "\f2b7";
}
.fa-linode:before {
  content: "\f2b8";
}
.fa-address-book:before {
  content: "\f2b9";
}
.fa-address-book-o:before {
  content: "\f2ba";
}
.fa-vcard:before,
.fa-address-card:before {
  content: "\f2bb";
}
.fa-vcard-o:before,
.fa-address-card-o:before {
  content: "\f2bc";
}
.fa-user-circle:before {
  content: "\f2bd";
}
.fa-user-circle-o:before {
  content: "\f2be";
}
.fa-user-o:before {
  content: "\f2c0";
}
.fa-id-badge:before {
  content: "\f2c1";
}
.fa-drivers-license:before,
.fa-id-card:before {
  content: "\f2c2";
}
.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: "\f2c3";
}
.fa-quora:before {
  content: "\f2c4";
}
.fa-free-code-camp:before {
  content: "\f2c5";
}
.fa-telegram:before {
  content: "\f2c6";
}
.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: "\f2c7";
}
.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: "\f2c8";
}
.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: "\f2c9";
}
.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: "\f2ca";
}
.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: "\f2cb";
}
.fa-shower:before {
  content: "\f2cc";
}
.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: "\f2cd";
}
.fa-podcast:before {
  content: "\f2ce";
}
.fa-window-maximize:before {
  content: "\f2d0";
}
.fa-window-minimize:before {
  content: "\f2d1";
}
.fa-window-restore:before {
  content: "\f2d2";
}
.fa-times-rectangle:before,
.fa-window-close:before {
  content: "\f2d3";
}
.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: "\f2d4";
}
.fa-bandcamp:before {
  content: "\f2d5";
}
.fa-grav:before {
  content: "\f2d6";
}
.fa-etsy:before {
  content: "\f2d7";
}
.fa-imdb:before {
  content: "\f2d8";
}
.fa-ravelry:before {
  content: "\f2d9";
}
.fa-eercast:before {
  content: "\f2da";
}
.fa-microchip:before {
  content: "\f2db";
}
.fa-snowflake-o:before {
  content: "\f2dc";
}
.fa-superpowers:before {
  content: "\f2dd";
}
.fa-wpexplorer:before {
  content: "\f2de";
}
.fa-meetup:before {
  content: "\f2e0";
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
