.card__list__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
}

.card__list__container .card__container {
  margin: 48px 16px 24px 0;
  position: relative;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 11px 0 rgba(62, 62, 62, 0.18);
  width: 264px;
  box-sizing: border-box;
  line-height: 0.75;
  font-size: unset;
}

.card__list__container .card__container .card__img__border {
  width: 96px;
  height: 96px;
  z-index: 50;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  border-radius: 50px;
  box-shadow: 0 2px 11px 0 rgb(62 62 62 / 18%);
  border: solid 1px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.card__container .simple__card__img {
  width: 84px;
  height: 84px;
  position: absolute;
  background: #ffffff;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  z-index: 100;
  border-radius: 50px;
}

.card__container .links__card__img {
  width: 93px;
  height: 80px;
}
.card__container .simple__card__img > img {
  border-radius: 50px;
}
.card__container .simple__card__img > img,
.card__container .links__card__img > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.simple__card.card__container {
  display: flex;
}

.simple__card.card__container .card__text__section {
  width: 100%;
  background: #ffffff;
  padding: 48px 24px 36px;
  z-index: 75;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 11px 0 rgb(62 62 62 / 18%);
  border: solid 1px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

.card__container .card__text__section .card__text__header {
  font-family: "Lato-Bold";
  font-size: 1rem;
  line-height: normal;
  color: #000000;
  margin-top: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__container .card__text__section .card__text__description {
  font-family: "Lato-Regular";
  margin-top: 12px;
  display: inline-block;
  color: #6d7278;
  width: 100%;
}
.card__container .card__text__section .card__text__description p {
  margin: 0;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card__container .card__text__section .card__text__link {
  font-family: "Lato-Bold";
  font-size: 1rem;
  margin-top: 12px;
  line-height: normal;
}
.card__container .card__text__section .card__text__link .card__link {
  color: #286ce2;
  text-decoration: underline;
}

/* Styling for links card */
.card__list__container .card__container.links__card {
  margin: 0 16px 16px 0;
  padding: 24px 24px 20px 24px;
}

.simple__card.card__container:hover {
  box-shadow: 0 0 20px 0 rgba(215, 222, 227, 0.39),
    0 26px 90px 0 rgba(51, 60, 70, 0.3);
}

@media screen and (max-width: 767px) {
  .card__list__container .card__container {
    margin: 36px 0 16px 0;
    width: 100%;
  }
  .card__list__container .card__container:last-child {
    margin-bottom: 0;
  }

  .simple__card.card__container .card__text__section {
    padding: 24px 16px 16px 16px;
  }

  .simple__card.card__container .card__text__section .card__text__header {
    margin-top: 12px;
  }

  .card__container .card__text__section .card__text__description p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    font-size: 0.75rem;
    line-height: 22px;
  }
  .card__container .links__card__img {
    width: 66px;
    height: 57px;
  }
  .card__list__container .card__container .card__img__border {
    width: 64px;
    height: 64px;
  }
  .card__container .simple__card__img {
    width: 52px;
    height: 52px;
  }
  .card__list__container .card__container.links__card {
    margin: 0 0 16px 0;
    padding: 16px;
  }
}
