<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories='anthem.component.navigation'}"
/>
<div class="nav__container">
  <div class="nav__header">
    <h1 class="header__text">${properties.navTitle}</h1>
  </div>
  <nav
    data-sly-use.navigation="com.adobe.cq.wcm.core.components.models.Navigation"
    data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-use.groupTemplate="group.html"
    data-sly-call="${groupTemplate.group @ items=navigation.items}"
    data-sly-test.hasContent="${navigation.items.size > 0}"
    id="${component.id}"
    class="cmp-navigation"
    role="navigation"
    itemscope
    itemtype="http://schema.org/SiteNavigationElement"
    data-cmp-data-layer="${navigation.data.json}"
    aria-label="${navigation.accessibilityLabel}"
  ></nav>
  <div class="auth__container">
    <div class="author__info">
      <div class="author__img">
        <img src="${properties.quoteeImage}" alt="author" role="presentation" />
      </div>
      <div class="author__details">
        <p>${properties.quote}</p>
        <span>${properties.quotee}</span>
      </div>
    </div>
    <div class="brand__logo">
      <img
        src="${properties.acquiredBrandLogo}"
        alt="brandLogo"
        role="presentation"
      />
    </div>
  </div>
  <sly
    data-sly-call="${template.placeholder @ isEmpty=!hasContent, classAppend='cmp-navigation'}"
  ></sly>
</div>
<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.js @ categories='anthem.component.navigation'}"
/>
