.events__card {
  display: block;
  width: 264px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 2px 11px 0 rgba(62, 62, 62, 0.18);
  background-color: #ffffff;
  margin-right: 16px;
  text-decoration: none !important;
}
.events__card .events__resource {
  width: 100%;
  height: 104px;
  border-radius: 8px;
}
.events__card .video {
  position: relative;
}
.events__card .video .video__play__icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(40, 108, 226, 0.9);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.events__card .video .video__play__icon > img {
  width: 22px;
  height: 22px;
}

.events__card .events__resource > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.events__card .events__info {
  padding: 16px 24px 22px;
  box-sizing: border-box;
}

.events__card .events__info .events__title {
  margin: 0;
  font-family: "Lato-Bold";
  font-size: 1rem;
  line-height: normal;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000000;
}

.events__card .events__info .events__desc {
  margin: 0;
  font-family: "Lato-Regular";
  font-size: 1rem;
  line-height: 1.5;
  color: #6d7278;
  margin-top: 12px;
}

@media screen and (max-width: 767px) {
  .events__card {
    width: 199px;
  }
  .events__card .events__resource {
    width: 100%;
    height: 68px;
  }
  .events__card .events__info .events__desc {
    font-size: 0.75rem;
    line-height: 24px;
  }
  .events__card .events__info {
    padding: 16px;
    box-sizing: border-box;
  }
  .events__card .video .video__play__icon {
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
  }
  .events__card .video .video__play__icon > img {
    width: 18px;
    height: 18px;
  }
}
