.card__carousel {
  margin-top: 36px;
  position: relative;
}

.card__carousel .carousel__header {
  font-family: "Lato-Bold";
  font-size: 1rem;
  display: block;
  line-height: normal;
  color: #003274;
  margin: 0;
}
.card__carousel .horizontal__card__list {
  padding: 0;
  margin: 0;
}
.card__carousel .horizontal__card__list .horizontal__card__list__item {
  list-style-type: none;
}
.owl-item {
  width: 264px !important;
}
.owl-carousel .owl-nav .motif-icon {
  font-size: 0.75rem;
  font-weight: bold;
  color: #333333;
}
.owl-carousel .owl-nav.disabled {
  display: flex;
}

.hide-nav .motif-icon,
.owl-carousel .owl-nav.disabled .motif-icon {
  color: #949494 !important;
  cursor: not-allowed;
}
.owl-carousel .owl-nav {
  width: 96px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 12px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.owl-carousel .owl-stage {
  padding: 19px 0 16px 3px;
}

.card__carousel .events__page__redirect {
  font-family: "Lato-Bold";
  font-size: 1rem;
  line-height: normal;
  color: #286ce2;
  text-decoration: underline;
  position: absolute;
  right: 0;
  bottom: 20px;
  z-index: 99;
}

@media screen and (max-width: 767px) {
  .card__carousel .owl-item {
    width: 199px !important;
  }
}
