.welcome__container {
  display: flex;
  width: 100%;
  margin-top: 36px;
  justify-content: space-between;
}
.welcome__container .welcome__text__section {
  width: 50%;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.welcome__container
  .welcome__text__section
  .text__section__upper__block
  .text__section__welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.welcome__container
  .welcome__text__section
  .text__section__upper__block
  .text__section__welcome
  h1 {
  margin: 0 16px 0 0;
  font-family: "Bitter-Medium";
  font-size: 1.5rem;
  line-height: 1.25;
  color: #333333;
  font-weight: 500 !important;
}
.welcome__container
  .welcome__text__section
  .text__section__upper__block
  .text__section__welcome
  .text__section__img {
  background: #fff;
  padding: 12px 16px;
  border-radius: 10px;
  display: flex;
}
.welcome__container
  .welcome__text__section
  .text__section__upper__block
  .text__section__welcome
  .text__section__img
  img {
  width: 108px;
  height: 30px;
  object-fit: cover;
}
.welcome__container .welcome__text__section .text__section__text {
  font-family: "Lato-Regular";
  font-size: 1rem;
  line-height: 1.5;
  color: #333333;
  display: flex;
}
.welcome__container
  .welcome__text__section
  .text__section__upper__block
  .text__section__text {
  margin-top: 16px;
}
.welcome__container .welcome__video__img__section .weclome__img__block {
  width: 100%;
}
.welcome__container .welcome__video__img__section img {
  width: 315px;
  height: 192px;
  object-fit: cover;
}

@media screen and (min-width: 992px) and (max-width: 1140px) {
  .nav__visible .welcome__container .welcome__video__img__section img {
    width: 190px;
    height: 152px;
  }
}

@media screen and (min-width: 868px) and (max-width: 1003px) {
  .welcome__container
    .welcome__text__section
    .text__section__upper__block
    .text__section__welcome
    .text__section__img
    img {
    width: 54px;
    height: 15px;
  }
  .welcome__container .welcome__video__img__section img {
    width: 156px;
    height: 92px;
  }
}

@media screen and (max-width: 868px) {
  .welcome__container {
    flex-direction: column-reverse;
  }
  .welcome__container .welcome__text__section {
    padding: 0;
    margin: 16px 0 0 0;
  }
  .welcome__container .welcome__text__section,
  .welcome__container .welcome__video__img__section {
    width: 100%;
  }
  .welcome__container .welcome__video__img__section img {
    width: inherit;
  }
}
