a.cmp-navigation__item-link:focus,a.cmp-navigation__item-link:hover {
	position: relative;
	background-color: #0079c2;
}

div.cmp-navigation--header .cmp-navigation__item--level-1.cmp-navigation__item--active .cmp-navigation__item-link {
	background-color: #0079c2;
}

.container {
	width: 100%;
}
footer.experiencefragment.cmp-experiencefragment--footer{
    background-color: #0079c2;
}
div.cmp-layoutcontainer--footer{
 background-color: #0079c2;
}
div.cmp-layoutcontainer--utility{
 background-color: #0079c2;
}