<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories='anthem.component.quickLinks'}" />
<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Quick Links"></div>

<div class="quick__links__container">
  <span class="quick__links__header">${properties.mainHeading}</span>
  <ul class="quick__links__info">
    <sly data-sly-use.QuickLinksList="com.anthem.hrportal.core.models.QuickLinksModel"></sly>

    <sly data-sly-list.list="${QuickLinksList.quickLinkItems}">
      <li class="quick__links__details">
        <a href="${list.buttonCta @extension=(list.externalLink=='true'? '':'html')}" target="${list.linkTarget}"
          rel="noopener noreferrer" class="info__details">

          <div class="quick__links__image">
            <img src="${list.quickLinkImage}" alt="quick link" />
          </div>
          <div class="quick__info__main">
            <span class="info__text">${list.quickLinkTitle}</span>
          </div>
        </a>
      </li>
  </ul>

  </sly>

</div>
