.genericlist__container {
  width: 100%;
  padding: 16px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;
  background-color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  display: flex;
}

.genericlist__container .genericlist__info {
  width: 90%;
}

.genericlist__container .genericlist__info .listinfo__text {
  font-family: "Lato-Regular";
  margin-bottom: 4px;
  font-size: 1.125rem;
  line-height: 24px;
  color: #333333;
  display: block;
}

.genericlist__container .genericlist__info .infotext__action {
  font-family: "Lato-Regular";
  font-size: 1rem;
  line-height: 24px;
  color: #6d7278;
}

.genericlist__container .genericlist__icon {
  width: calc(100% - 90%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.genericlist__container .genericlist__icon .motif-icon {
  margin-right: 8px;
  font-size: 0.75rem;
  font-weight: bold;
  color: #286ce2;
}
