<div
  data-sly-test="${wcmmode.edit}"
  class="cq-placeholder"
  data-emptytext="Hero Banner Component"
></div>
<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories='anthem.component.herobanner'}"
/>
<div
  class="heroBnr"
  data-sly-test="${properties.title || properties.description}"
>
  <div class="heroBnr__cont">
    <h1 class="heroBnr__cont__title">${properties.title}</h1>
    <p class="heroBnr__cont__desc">${properties.description}</p>
  </div>
  <div class="heroBnr__image">
    <img
      src="${properties.imagePath}"
      alt="${properties.imgAlt}"
      role="presentation"
    />
  </div>
</div>

<div
  class="heroBnrImg"
  data-sly-test="${!properties.title && !properties.description}"
>
  <img
    src="${properties.imagePath}"
    alt="${properties.imgAlt}"
    role="presentation"
  />
</div>
