<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.all @ categories='anthem.covid.component.stateeligibilitycriteria'}"
/>
<div class="vaccine__links__container">
  <div class="vaccine__state__link__section">
    <h2>State Links</h2>
    <div class="vaccine__state__link__list"></div>
  </div>
  <div class="vaccine__helpful__link__section">
    <h2>Helpful Links</h2>
    <div class="vaccine__helpful__link">
      <span class="motif-icon motif-go-to-link mob__view"></span>
      <a
        class="vaccine__helpful__link"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/recommendations.html"
        >CDC's COVID-19 Vaccine Rollout Recommendation</a
      >
      <span class="motif-icon motif-external-link des__view"></span>
    </div>
  </div>
</div>
