.cmp-accordion .cmp-accordion__button {
  display: flex;
  align-items: center;
}

.cmp-accordion .cmp-accordion__icon {
  font-size: 1.5rem;
  color: #286ce2;
  font-weight: 300;
  margin-right: 31px;
}

.cmp-accordion__button--expanded .cmp-accordion__icon {
  transform: rotate(90deg);
}

.cmp-accordion .cmp-accordion__icon:before {
  content: "\e90f";
  font-family: "ant-motif-icons" !important;
}

.cmp-accordion .cmp-accordion__title {
  padding: 0;
  font-family: "Montserrat-Light";
  font-size: 1.375rem;
  color: #333333;
  text-transform: none;
  font-weight: normal;
}

.cmp-accordion .cmp-accordion__item {
  border-bottom: 1px solid #cccccc;
}

.cmp-accordion .cmp-accordion__button {
  border: none;
  padding: 24px 16px;
}

.cmp-accordion .cmp-accordion__panel {
  padding: 0 16px 24px 70px;
}

.cmp-accordion .cmp-accordion__panel p {
  margin: 12px 0 0;
  color: #666666;
  font-size: 0.875rem;
  font-family: "Lato-Regular";
  font-weight: normal;
  line-height: 22px;
}

.cmp-accordion .cmp-accordion__panel a {
  font-family: "Lato-Regular";
  font-size: 1rem;
  color: #286ce2;
}

.cmp-accordion .cmp-accordion__panel h6 {
  font-size: 16px;
  color: #000000;
  font-family: "Lato-Bold";
  margin: 0;
}

.cmp-accordion .cmp-accordion__panel span {
  font-size: 1rem;
  font-family: "Lato-Regular";
  color: #000000;
  display: block;
  margin: 4px 0;
}

.cmp-accordion .cmp-accordion__header {
  visibility: visible !important;
}

.aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--12 {
  padding-left: 0;
}
