<sly data-sly-use.navigationRefModel="com.anthem.hrportal.core.models.HeaderAndNavigationRefModel">
<sly data-sly-resource="${NavigationRefModel.navigationRefPath @ resourceType='anthemhr/hrportal/components/navigation'}"></sly>
</sly>