/* event__video class can be accessed by AEM in case of the usage of video inside the component */

.events__list {
  margin-top: 36px;
  padding: 0;
  position: relative;
}
.events__list__item {
  list-style-type: none;
}
.events__list .event__header {
  font-family: "Lato-Bold";
  font-size: 1rem;
  line-height: 1.38;
  display: block;
  color: #003274;
  margin: 0;
  text-transform: uppercase;
}
.listevent__container {
  width: 100%;
  padding: 0;
  padding-left: 48px;
  margin: 36px 0;
  box-sizing: border-box;
  border: solid 1px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  display: flex;
}
.listevent__container:hover {
  border: solid 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(215, 222, 227, 0.39),
    0 26px 90px 0 rgba(51, 60, 70, 0.3);
}
.listevent__container .events__briefnote {
  width: calc(100% - 498px);
  padding-top: 32px;
}
.listevent__container .events__briefnote .event__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.listevent__container
  .events__briefnote
  .event__content
  .featured__content
  .event__feature {
  width: 85px;
  box-sizing: border-box;
  padding: 4px 6px 2px 7px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
}

.listevent__container
  .events__briefnote
  .event__content
  .featured__content
  .event__feature
  .feature__text {
  font-family: "Lato-Bold";
  margin-left: 4px;
  font-size: 0.625rem;
  line-height: normal;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000;
}
.listevent__container .events__briefnote .batch__icon {
  width: 32px;
  height: 32px;
  border: solid 2px #286ce2;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listevent__container .events__briefnote .batch__icon .motif-icon {
  font-size: 1.125rem;
}
.listevent__container .events__briefnote .event__list {
  width: 100%;
}
.listevent__container .events__briefnote .event__list .list__text {
  width: 100%;
  font-family: "Bitter-Medium";
  margin: 10px 0 12px 0;
  font-size: 1.5rem;
  line-height: 1.25;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333333;
  display: block;
}
.listevent__container .events__briefnote .event__list .list__date {
  font-family: "Lato-Regular";
  font-size: 0.875rem;
  line-height: 1.57;
  display: block;
  color: #333333;
}
.listevent__container .event__image {
  width: 468px;
  height: 206px;
  margin-left: 30px;
}
.listevent__container .event__image > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.listevent__container .event__video {
  width: 468px;
  height: 206px;
  margin-left: 30px;
}
.listevent__container .event__video > .event__video__placeholder {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.listevent__container .event__video {
  position: relative;
}
.listevent__container .event__video .video__play__icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listevent__container .event__video .video__play__icon > img {
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 767px) {
  .listevent__container {
    padding: 0;
    margin: 16px 0 0;
  }
  .listevent__container:hover {
    border: none;
  }
  .listevent__container .event__image {
    width: 82px;
    height: 120px;
    margin-left: 0;
  }
  .listevent__container .event__video {
    width: 82px;
    height: 120px;
    margin-left: 0;
  }
  .listevent__container .events__briefnote {
    width: calc(100% - 82px);
    padding: 16px;
  }
  .listevent__container .events__briefnote .batch__icon {
    width: 24px;
    height: 24px;
  }
  .listevent__container .events__briefnote .batch__icon .motif-icon {
    font-size: 1rem;
  }
  .listevent__container .events__briefnote .event__list {
    width: 100%;
  }
  .listevent__container .events__briefnote .event__list .list__text {
    width: 85%;
    font-size: 1rem;
    line-height: 1.38;
    margin: 8px 0;
  }
  .listevent__container .events__briefnote .event__list .list__date {
    font-size: 0.75rem;
    line-height: 1.83;
  }
  .listevent__container .events__briefnote .featured__content .event__feature {
    margin-top: 0;
  }
  .listevent__container .event__video .video__play__icon {
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
  }
  .listevent__container .event__video .video__play__icon > img {
    width: 18px;
    height: 18px;
  }
}
