.cmp-tabs {
  position: relative;
}

.cmp-tabs .cmp-tabs__tab {
  font-size: 1rem;
  font-family: "Lato-Bold";
  text-transform: none;
  max-height: none;
  min-width: 172px;
  color: #286ce2;
  padding: 11px 0 10px;
  text-align: center;
  line-height: normal;
  background-color: #ffffff;
  border: solid 1px #e9e9e9;
  border-right: none;
  min-width: 200px;
  display: block;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.cmp-tabs .cmp-tabs__tab:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.cmp-tabs .cmp-tabs__tab:last-child {
  border-right: solid 1px #e9e9e9;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.cmp-tabs .cmp-tabs__tab.cmp-tabs__tab--active:last-child {
  border-right: none;
}

.cmp-tabs .cmp-tabs__tablist {
  margin: 20px 0 0;
}

.cmp-tabs .cmp-tabs__tab:hover,
.show-focus-outlines .cmp-tabs .cmp-tabs__tab:focus {
  border: 1px solid #286ce2;
  color: #286ce2;
}

.cmp-tabs .cmp-tabs__tab--active,
.cmp-tabs .cmp-tabs__tab--active:hover,
.cmp-tabs .cmp-tabs__tab--active:focus,
.show-focus-outlines .cmp-tabs .cmp-tabs__tab--active:focus {
  background-color: #286ce2;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  border: none;
}

.cmp-tabs .tab__dropdown__icon {
  display: none;
}

@media screen and (max-width: 767px) {
  .cmp-tabs .cmp-tabs__tab {
    width: 100%;
    padding: 12px 16px;
    text-align: left;
    display: none;
    border-radius: 8px;
  }
  .cmp-tabs .tab__dropdown__icon {
    display: block;
    position: absolute;
    right: 16px;
    top: 14px;
    font-size: 1rem;
    color: #ffffff;
    transform: rotate(0deg);
    transition: all 0.5s ease;
  }

  .cmp-tabs__tab--active:first-child {
    display: none;
  }
  .cmp-tabs .cmp-tabs__tab--active {
    display: block;
  }

  .cmp-tabs .cmp-tabs__expanded .cmp-tabs__tab {
    display: block;
  }

  .cmp-tabs .cmp-tabs__expanded + .tab__dropdown__icon {
    transform: rotate(-180deg);
  }

  .cmp-tabs .cmp-tabs__expanded + .icon-grey {
    color: #666666;
  }
  .cmp-tabs .cmp-tabs__tab {
    border: solid 1px #e9e9e9;
    border-bottom: none;
  }
  .cmp-tabs .cmp-tabs__tab:last-child {
    border-bottom: solid 1px #e9e9e9;
  }
  .cmp-tabs .cmp-tabs__tab.cmp-tabs__tab--active {
    border: none;
  }
  .cmp-tabs .cmp-tabs__tablist {
    margin: 36px 0 0;
  }
}
