<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Generic List Component"></div>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
   data-sly-call="${clientlib.all @ categories='anthem.component.genericlist'}" />
<sly data-sly-use.genericlist="com.anthem.hrportal.core.models.GenericList"></sly>
   <sly data-sly-list.list="${genericlist.genericListItems}">
    <a
      href="${list.itemLink @extension=(list.externalLink=='true'? '':'html')}"
      target="${list.itemlinkTarget}"
      rel="noopener noreferrer"
      class="genericlist__container"
    >
      <div class="genericlist__info">
        <span class="listinfo__text">${list.itemTitle}</span>
        <span class="infotext__action">${list.subtitle}</span>
      </div>
      <div class="genericlist__icon">
        <span class="motif-icon motif-angle-right"> </span>
      </div>
    </a>
   </sly>