.cmp-teaser .cmp-teaser__content {
  background-image: linear-gradient(to right, #58abdf, #286ce2);
  opacity: 0.9;
  padding-bottom: 0;
  width: 552px;
  position: relative;
  padding: 24px;
  height: 164px;
  box-sizing: border-box;
  margin-top: -171px;
}

.teaser .cmp-teaser {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cmp-teaser .cmp-teaser__image {
  width: 100%;
}

.cmp-teaser .cmp-teaser__title {
  font-size: 1.375rem;
  font-family: "Montserrat-Light";
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.cmp-teaser .cmp-teaser__description {
  margin: 12px 0;
  font-size: 1rem;
  font-family: "Lato-Regular";
  color: #ffffff;
  line-height: 1.38;
  text-align: center;
}

.cmp-teaser .cmp-teaser__title-link {
  color: #ffffff;
}

.cmp-teaser .cmp-teaser__action-link {
  background-color: transparent;
  text-transform: none;
  font-size: 1rem;
  font-family: "Lato-Bold";
  color: #fff;
  text-decoration: underline;
  padding: 0;
}

.cmp-teaser .cmp-teaser__action-container {
  display: flex;
  justify-content: center;
  margin: 0;
  float: none;
}

.teaser .cmp-image__image {
  padding: 0;
  margin: 0;
  max-height: 305px;
  object-fit: cover;
}