<sly data-sly-use.headerRefModel="com.anthem.hrportal.core.models.HeaderAndNavigationRefModel">
          <sly data-sly-resource="${headerRefModel.headerRefPath @ resourceType='anthemhr/hrportal/components/header'}"></sly>
</sly>