<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories='anthem.component.contact'}"
/>
<div
  data-sly-test="${wcmmode.edit}"
  class="cq-placeholder"
  data-emptytext="Contact Us"
></div>
<div class="contactus__container">
  <span data-sly-test="${properties.deptLabel}" class="header__text">
    ${properties.deptLabel}
  </span>
  <sly data-sly-use.contact="com.anthem.hrportal.core.models.ContactUsModel" />
  <div class="author__contact__container">
    <sly data-sly-list="${contact.contactUs}">
      <div class="contactus__info">
        <div class="author__img__border"></div>
        <div class="author__img">
          <img
            src="${item.authorImage}"
            alt="${item.authorDesig}"
            role="presentation"
          />
        </div>
        <div class="author__details">
          <span class="author__name">${item.authorName}</span>
          <span class="author__post">${item.authorDesig}</span>
          <div class="author__linkedin">
            <div class="linkedin__img">
              <img data-sly-test="${item.linkedinIcon}"
                src="${item.linkedinIcon}"
                alt="${item.linkedinAlt}"
                role="presentation"
              />
            </div>
            <a
              href="${item.linkedinLink}"
              target="${properties.target}"
              rel="noopener noreferrer"
              class="author__id"
              >${item.letsConnect}</a
            >
          </div>
        </div>
      </div>
    </sly>
  </div>
</div>
