<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.all @ categories='anthem.component.calendar'}"
/>
<div
  data-sly-test="${wcmmode.edit}"
  class="cq-placeholder"
  data-emptytext="Events Calendar"
></div>

<sly data-sly-use.calendar="com.anthem.hrportal.core.models.CardList" />
<div class="calender__wrapper ${properties.fullWidth}">
  <div class="date__picker__container">
    <div class="calender__header">
      <span class="header__text">${properties.heading}</span>
    </div>
    <p class="calender__desc">${properties.subHeading}</p>
    <div class="date__picker">
      <div id="myCalendar" class="vanilla-calendar"></div>
    </div>
    <div class="picker__separator"></div>
    <div class="calender__list"></div>
  </div>
</div>
<div
  class="calender__data__value"
  calender-data-events="${calendar.json}"
></div>
<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.js @ categories='anthem.component.calendar'}"
/>
