.cmp-carousel .cmp-carousel__action--next i{
    color:#333333;
    font-size:1.5rem;
	cursor:pointer;
}

.cmp-carousel .cmp-carousel__action--previous i{
    color:#333333;
    font-size:1.5rem;
	cursor:pointer;
}

.cmp-carousel .cmp-carousel__actions {
	position: absolute;
	right: 0;
    margin-top:10px;
}

.cmp-carousel__action.cmp-carousel__action--pause {
	display: none;
}

.cmp-carousel__action.cmp-carousel__action--play {
	display: none;
}
.cmp-carousel__indicator{
    background-color:#d8d8d8;
    outline: none;
    }
.cmp-carousel__indicator--active{
    background-color: #878787;
}

.cmp-carousel .cmp-carousel__action{
    outline:none;
}

.cmp-carousel .cmp-carousel__indicators{
 margin:20px 0;
}