.footerWrap {
  width: 100%;
  padding: 26px 76px;
  box-sizing: border-box;
  background-color: #37475a;
}

.footerWrap .footerWrap__cont {
  margin: 0 auto;
  max-width: 1680px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerWrap .footerWrap__cont .footerWrap__desc {
  width: calc(80% - 24px);
  margin-right: 24px;
}

.footerWrap .footerWrap__text {
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  margin: 0;
  font-family: "Lato-Regular";
  font-size: 0.875rem;
}

.footerWrap .footerWrap__links {
  border-left: 1px solid #f7f7f7;
  max-width: 15%;
  padding: 0 23px;
  display: flex;
  flex-direction: column;
}

.footerWrap .footerWrap__links .footerWrap__text:not(:first-child) {
  margin-top: 12px;
}

@media screen and (max-width: 767px) {
  .footerWrap {
    padding: 26px 16px;
  }
  .footerWrap .footerWrap__text {
    font-size: 0.75rem;
  }
  .footerWrap .footerWrap__cont {
    flex-direction: column;
    align-items: flex-start;
  }
  .footerWrap .footerWrap__cont .footerWrap__desc {
    margin-right: 0;
    width: 100%;
  }
  .footerWrap .footerWrap__links {
    border-left: none;
    border-top: 1px solid #f7f7f7;
    max-width: unset;
    width: 100%;
    margin-top: 24px;
    padding: 24px 0 0;
  }
}
