.navigation {
  display: block;
}

.cmp-navigation {
  padding-top: 0;
}

.cmp-navigation__group .cmp-navigation__item .cmp-navigation__group {
  display: flex;
  flex-direction: column;
}

.cmp-navigation__group
  .cmp-navigation__item
  .cmp-navigation__group
  .cmp-navigation__item {
  line-height: 22px;
  margin-bottom: 17px;
}

.cmp-navigation__item:last-child {
  margin-bottom: 0;
}

.cmp-navigation__item-link {
  color: #333333;
  font-size: 0.875rem;
  font-family: Lato-Regular;
  font-weight: normal;
  padding: 0;
  text-transform: none;
  cursor: pointer;
}

.cmp-navigation__item-link:focus,
.cmp-navigation__item-link:hover {
  background-color: transparent;
}

.cmp-navigation__item--active > .cmp-navigation__item-link {
  color: #286ce2;
  font-family: Lato-Bold;
}

@media screen and (max-width: 767px) {
  .navigation {
    background-color: #ffffff;
    position: absolute;
    display: none;
    top: 80px;
    left: 600px;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
  }
  @-webkit-keyframes slide {
    100% {
      left: 0;
    }
  }
  @keyframes slide {
    100% {
      left: 0;
    }
  }
  .cmp-navigation__item:last-child {
    margin-bottom: 16px;
  }
  .cmp-navigation__item-link {
    font-size: 1rem;
  }
}
