.cmp-breadcrumb {
  width: 100%;
}

.cmp-breadcrumb .cmp-breadcrumb__list {
  display: flex;
  margin: 0;
  padding: 0 0 4px 16px;
}

.cmp-breadcrumb .cmp-breadcrumb__item {
  padding: 0;
  font-family: "Lato-Regular";
  font-size: 1rem;
  text-decoration: none;
  text-transform: none;
  display: flex;
  align-items: center;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cmp-breadcrumb .cmp-breadcrumb__item-link {
  font-weight: normal;
  color: #286ce2;
}

.cmp-breadcrumb .cmp-breadcrumb__item--active {
  color: #000000;
}

.cmp-breadcrumb .cmp-breadcrumb__item span {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cmp-breadcrumb .cmp-breadcrumb__item::before {
  content: "\e911";
  font-family: "ant-motif-icons" !important;
  color: #000000;
  font-size: 0.5rem;
  margin: 4px 4px 0;
  padding-right: 0;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .cmp-breadcrumb .cmp-breadcrumb__item {
    max-width: 95%;
  }
}
