.contact__form__container {
  padding: 28px 24px 24px 16px;
  border-radius: 8px;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-top: 36px;
}
.contact__form__container form {
  display: flex;
}
.contact__form__container .contact__form__details__section {
  margin-right: 36px;
  max-width: 384px;
}
.contact__form__container .contact__form__more__submit__section {
  max-width: 476px;
}
.contact__form__container
  .contact__form__details__section
  .form__details__field {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin-bottom: 24px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 16px;
}
.contact__form__container
  .contact__form__details__section
  .form__details__field__email
  .form__details__field {
  margin-bottom: 0;
}
.contact__form__container
  .contact__form__details__section
  .form__details__field
  .fa,
.motif-icon.motif-message {
  color: #949494;
  font-size: 1.25rem;
}
.contact__form__container
  .contact__form__details__section
  .form__details__field
  .fa.fa-mobile {
  font-size: 1.5rem;
}
.contact__form__container
  .contact__form__details__section
  .form__details__field
  .form__details__label {
  background-color: #ffffff;
  font-family: "Lato-Regular";
  font-size: 0.75rem;
  line-height: 1.83;
  color: #333333;
  padding: 2px 4px;
  box-sizing: border-box;
  position: absolute;
  top: -13px;
  left: 11px;
  display: none;
}
.contact__form__container
  .contact__form__details__section
  .form__details__field__email
  .form__email__error__msg {
  font-family: "Lato-Regular";
  font-size: 0.75rem;
  color: #d20a3c;
  margin-top: 9px;
  display: none;
}
.contact__form__container .contact__form__details__section,
.contact__form__more__submit__section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact__form__container
  .contact__form__details__section
  .contact__form__input__style {
  margin-left: 8px;
  border: 0;
  width: 100%;
}
.contact__form__container .contact__form__input__style {
  border-radius: 4px;
  border: solid 1px #cccccc;
  outline: none;
  font-family: "Lato-Regular";
  font-size: 1rem;
  color: #333333;
}
.contact__form__container
  .contact__form__details__section
  .contact__form__input__style:focus::placeholder {
  color: transparent;
}
.contact__form__container
  .contact__form__more__submit__section
  .contact__form__input__style {
  margin-bottom: 16px;
  min-height: 127px;
  resize: none;
  padding: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: #949494 transparent;
}
.contact__form__container
  .contact__form__input__style::-webkit-input-placeholder,
.contact__form__container .contact__form__input__style:-ms-input-placeholder,
.contact__form__container .contact__form__input__style::placeholder {
  color: #949494;
}
/* Scroll bar styling for chrome and safari on tell us more textbox in contact form */
.contact__form__container
  .contact__form__more__submit__section
  .contact__form__input__style::-webkit-scrollbar-thumb {
  background: #949494;
  border-radius: 2.5px;
}
.contact__form__container
  .contact__form__more__submit__section
  .contact__form__input__style::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}
.contact__form__container
  .contact__form__more__submit__section
  .contact__form__submit__btn {
  border-radius: 4px;
  background: linear-gradient(to right, #58abdf 1%, #286ce2 100%);
  border: none;
  color: #ffffff;
  text-align: left;
  padding: 10px 24px;
  font-family: "Lato-Bold";
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
}
.contact__form__container
  .contact__form__more__submit__section
  .contact__form__submit__btn[disabled] {
  background: #949494 !important;
}
.contact__form__container
  .error__form__submission
  .contact__form__details__section
  .form__details__field__email
  .form__email__error__msg {
  display: block;
}
.contact__form__container
  .error__form__submission
  .contact__form__details__section
  .form__details__field__email
  .form__details__field {
  border: 1px solid #d20a3c;
}
.contact__form__container
  .error__form__submission
  .contact__form__details__section
  .form__details__field__email
  .form__details__field
  .form__details__label {
  color: #d20a3c;
}
.contact__form__ack__container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 121, 194, 0.9);
}
.contact__form__ack__container .contact__form__info {
  width: 734px;
  padding: 16px 16px 36px 36px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 11px 0 rgba(62, 62, 62, 0.18);
  background-color: #ffffff;
}
.contact__form__ack__container .contact__form__info .contact__info__crossicon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.contact__form__ack__container
  .contact__form__info
  .contact__info__crossicon
  .contact__cross__icon {
  width: 24px;
  height: 24px;
  font-size: 1rem;
  object-fit: cover;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.contact__form__ack__container .contact__form__info .contact__form__content {
  width: calc(100% - 24px);
  display: flex;
  flex-direction: row-reverse;
}

.contact__form__ack__container.support__error__dialog
  .contact__form__info
  .contact__form__content {
  flex-direction: column;
  align-items: center;
}
.contact__form__ack__container.support__error__dialog
  .contact__form__info
  .contact__form__content
  > .motif-icon {
  color: #d20a3c;
  font-size: 2.5rem;
  transform: rotate(180deg);
}
.contact__form__ack__container.support__error__dialog
  .contact__form__info
  .contact__form__content
  .contact__info__message
  .contact__info__header {
  margin: 24px 0 0;
  width: 446px;
}
.contact__form__ack__container.support__error__dialog
  .contact__form__info
  .contact__form__content
  .contact__info__message
  .contact__info__text {
  text-align: center;
}
.contact__form__ack__container.support__error__dialog
  .contact__form__info
  .contact__form__content
  .contact__info__message {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contact__form__ack__container
  .contact__form__info
  .contact__form__content
  .contact__info__image {
  width: 220px;
  height: 190px;
  object-fit: cover;
}
.contact__form__ack__container
  .contact__form__info
  .contact__form__content
  .contact__info__image
  > img {
  width: inherit;
  height: inherit;
  object-fit: inherit;
}
.contact__form__ack__container
  .contact__form__info
  .contact__form__content
  .contact__info__message {
  width: calc(100% - 220px);
}
.contact__form__ack__container
  .contact__form__info
  .contact__form__content
  .contact__info__message
  .contact__info__header {
  width: 263px;
  font-family: "Bitter-Regular";
  font-size: 1.5rem;
  line-height: normal;
  color: #000000;
  display: block;
}
.contact__form__ack__container
  .contact__form__info
  .contact__form__content
  .contact__info__message
  .contact__info__text {
  width: 341px;
  margin-top: 30px;
  margin-bottom: 0;
  font-family: "Lato-Regular";
  font-size: 1rem;
  line-height: 1.38;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .contact__form__container {
    padding: 28px 16px 16px 16px;
    margin-top: 24px;
  }
  .contact__form__container form {
    flex-direction: column;
  }
  .contact__form__container
    .contact__form__details__section
    .form__details__field__email {
    margin-bottom: 16px;
  }
  .contact__form__container .contact__form__details__section,
  .contact__form__more__submit__section {
    width: 100%;
  }
  .contact__form__container
    .contact__form__more__submit__section
    .contact__form__input__style {
    padding: 11px;
    min-height: 52px;
  }
  .contact__form__container
    .contact__form__more__submit__section
    .contact__form__submit__btn {
    padding: 10px 16px 10px 24px;
  }
  .contact__form__container .contact__form__details__section {
    max-width: initial;
  }
  .contact__form__container .contact__form__more__submit__section {
    max-width: initial;
  }
  .contact__form__ack__container .contact__form__info {
    width: 90%;
    padding: 16px 16px 94px 36px;
  }
  .contact__form__ack__container .contact__form__info .contact__form__content {
    display: block;
  }
  .contact__form__ack__container.support__error__dialog
    .contact__form__info
    .contact__form__content {
    display: flex;
  }
  .contact__form__ack__container
    .contact__form__info
    .contact__form__content
    .contact__info__image {
    width: 138px;
    height: 119px;
  }
  .contact__form__ack__container
    .contact__form__info
    .contact__form__content
    .contact__info__message {
    width: 100%;
    margin-top: 24px;
  }
  .contact__form__ack__container
    .contact__form__info
    .contact__form__content
    .contact__info__message
    .contact__info__header,
  .contact__form__ack__container.support__error__dialog
    .contact__form__info
    .contact__form__content
    .contact__info__message
    .contact__info__header {
    width: 100%;
    margin: 0;
  }
  .contact__form__ack__container
    .contact__form__info
    .contact__form__content
    .contact__info__message
    .contact__info__text {
    width: 100%;
  }
}
@media screen and (min-width: 936px) {
  .contact__form__container form {
    justify-content: center;
  }
}

/* Styling for loader */
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 1000;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #000000;
  opacity: 0.6;
  display: none;
}

@-webkit-keyframes slideDown {
  0%,
  100% {
    top: 0;
    bottom: 100%;
    opacity: 0;
  }

  5% {
    top: 0;
    bottom: 0;
  }

  12% {
    opacity: 1;
  }

  50% {
    top: 0;
    bottom: 0;
    opacity: 1;
  }

  55% {
    top: 0;
    bottom: 100%;
  }

  62% {
    opacity: 0;
  }
}

@keyframes slideDown {
  0%,
  100% {
    top: 0;
    bottom: 100%;
    opacity: 0;
  }

  5% {
    top: 0;
    bottom: 0;
  }

  12% {
    opacity: 1;
  }

  50% {
    top: 0;
    bottom: 0;
    opacity: 1;
  }

  55% {
    top: 0;
    bottom: 100%;
  }

  62% {
    opacity: 0;
  }
}

@-webkit-keyframes slideUp {
  0% {
    top: 100%;
    bottom: 0;
    opacity: 0;
  }

  5%,
  50% {
    top: 0;
    bottom: 0;
  }

  12% {
    opacity: 1;
  }

  55% {
    top: 100%;
    bottom: 0;
    opacity: 1;
  }

  62% {
    opacity: 0;
  }

  100% {
    top: 100%;
    bottom: 0;
  }
}

@keyframes slideUp {
  0% {
    top: 100%;
    bottom: 0;
    opacity: 0;
  }

  5%,
  50% {
    top: 0;
    bottom: 0;
  }

  12% {
    opacity: 1;
  }

  55% {
    top: 100%;
    bottom: 0;
    opacity: 1;
  }

  62% {
    opacity: 0;
  }

  100% {
    top: 100%;
    bottom: 0;
  }
}

.ant-loading-wrapper[_ngcontent-lxi-c2] {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 160px;
  height: 100%;
  margin: 25% auto;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2] {
  display: -webkit-box;
  display: flex;
  padding: 10px;
  height: 120px;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2] {
  position: relative;
  background: #eee;
  width: 8px;
  display: -webkit-box;
  display: flex;
  margin: 4px;
  border-radius: 4px;
  height: 80px;
  top: 25px;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(even)::before {
  -webkit-animation: 5s ease-out infinite slideUp;
  animation: 5s ease-out infinite slideUp;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(odd)::before {
  -webkit-animation: 5s ease-out infinite slideDown;
  animation: 5s ease-out infinite slideDown;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(2)::before {
  -webkit-animation-delay: 286ms;
  animation-delay: 286ms;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(3)::before {
  -webkit-animation-delay: 572ms;
  animation-delay: 572ms;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(4)::before {
  -webkit-animation-delay: 858ms;
  animation-delay: 858ms;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(5)::before {
  -webkit-animation-delay: 1.144s;
  animation-delay: 1.144s;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(6)::before {
  -webkit-animation-delay: 1.43s;
  animation-delay: 1.43s;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(7)::before {
  -webkit-animation-delay: 1.716s;
  animation-delay: 1.716s;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(1),
.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(7) {
  height: 30px;
  top: 20px;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(2),
.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(6) {
  height: 60px;
  top: 10px;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(3),
.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(5) {
  height: 80px;
  top: 10px;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(odd)::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#2ab5ca),
    to(#0079c2)
  );
  background: linear-gradient(0deg, #2ab5ca, #0079c2);
  border-radius: 4px;
  top: 0;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(even)::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#2ab5ca),
    to(#0079c2)
  );
  background: linear-gradient(180deg, #2ab5ca, #0079c2);
  border-radius: 4px;
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .ant-loading-wrapper[_ngcontent-lxi-c2] {
    margin: 50% auto;
  }
}
