<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories='anthem.component.welcome'}"
/>
<div class="welcome__container">
  <div class="welcome__text__section">
    <div class="text__section__upper__block">
      <div class="text__section__welcome">
        <h1>${properties.welcomeLabel}</h1>
        <div class="text__section__img">
          <img
            src="${properties.brandLogo}"
            alt="${properties.brandAltText}"
            role="presentation"
          />
        </div>
      </div>
      <p class="text__section__text">${properties.welcomeMessage}</p>
    </div>
    <div
      data-sly-test="${properties.hostName}"
      class="text__section__lower__block text__section__text"
    >
      <span>-</span>
      <span class="welcome__profile__name">${properties.hostName}</span>
      <span>,&nbsp;</span>
      <span class="welcome__profile__designation">${properties.hostDesig}</span>
    </div>
  </div>
  <div class="welcome__video__img__section">
    <div
      class="weclome__img__block"
    >
      <img
        class="welcome__img"
        src="${properties.welcomeImage}"
        alt="${properties.welcomeImgAlt}"
        role="presentation"
      />
    </div>
    </div>
  </div>