<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories='anthem.component.login'}"
/>
<sly data-sly-use.model="com.anthem.hrportal.core.models.UserLogin"></sly>
<section class="login__wrapper">
  <div class="content__align welcome__content">

<div class="welcome__logo">
      <img src="${properties.backgroundImagePath}" alt="WelcomeImage" />
    </div>
    <h1>${properties.welcomeTitle}</h1>
    <p>${properties.welcomeDescription}</p>

  </div>
  <div class="content__align login__content">
    <div class="anthem__logo__title">
      <div class="anthem__logo">
        <img src="${properties.anthemLogo}" alt="Anthem logo" role="presentation"/>
      </div>
      <div class="logo__separator"></div>
      <div class="anthem__brand">
        <img src="${properties.acquiredBrandLogo}" alt="CoBrand logo" role="presentation"/>
      </div>
    </div>
    <div class="anthem__login">
      <h3>${properties.subTitle}</h3>
      <div id="errordiv">
        <span class="motif-icon motif-info"></span>
       ${properties.loginError @context='html'}
      </div>
      <form id="loginform">
        <div class="loginform__field">
          <label>${properties.usrAnimation}</label>
          <span class="motif-icon motif-user-male-circle"></span>
          <input
          type="text"
          placeholder="${properties.usrPlaceholder}"
          aria-label="${properties.usrPlaceholder}"
          id="username"
          autocomplete="off"
        />
        </div>
        <div class="loginform__field">
          <label>${properties.pwdAnimation}</label>
          <span class="motif-icon motif-lock"></span>
          <div class="loginform__password">
            <input type="password" id="password" placeholder="${properties.pwdPlaceholder}" aria-label="${properties.pwdPlaceholder}"/>
            <span class="motif-icon motif-invisible" id="togglePassword" tabindex="0"></span>
          </div>
        </div>
      </form>
      <div class="login__buttons">
        <button class="login__submit" type="submit" form="loginform" id="login">
         ${properties.loginButtonLabel}
          <span class="motif-icon motif-arrows-long-right">
        </button>
      </div>
		${properties.needHelpText @context='html'}
    </div>
  </div>
</section>

<span
  ><input type="hidden" id="url" value="${currentPage.path}/j_security_check"
/></span>
<span
  ><input type="hidden" id="homePagePath" value="${properties.homePagePath}"
/></span>
<span><input type="hidden" id="isLoggedIn" value="${model.loggedIn}" /></span>
<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.js @ categories='anthem.component.login'}"
/>
