.header {
  background-color: #ffffff;
  padding: 12px 76px !important;
  min-height: 111px;
}

.headerWrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-sizing: border-box;
  max-width: 1680px;
  margin: 0 auto;
  position: relative;
}

.headerWrap .headerWrap__logo {
  width: 245px;
  height: 87px;
  object-fit: cover;
}

.headerWrap .headerWrap__logo > img {
  width: inherit;
  height: inherit;
}

.headerWrap .headerWrap__info .headerWrap__info__name {
  font-size: 2rem;
  font-family: "Montserrat-Light";
  font-weight: 400;
  color: #333333;
}

.hamburger__menu {
  display: none;
}

.hamburger__menu > #menu__icon {
  color: #286ce2;
  font-size: 1.5rem;
  cursor: pointer;
}

body .root {
  padding: 0;
  max-width: 100%;
}

body .aem-GridColumn {
  padding: 0;
}

.header {
  width: 100%;
}

.nav-search--container {
  padding: 48px 76px 0 !important;
  max-width: 1680px;
  margin: 0 auto;
  float: none !important;
  clear: both !important;
}

.nav-search--container .aem-GridColumn--default--10 .cmp-container {
  border-left: 1px solid #cccccc;
  padding-left: 25px;
  min-height: 662px;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px !important;
    min-height: 80px;
  }
  .headerWrap .headerWrap__logo {
    width: 132px;
    height: 47px;
  }
  .nav-search--container .aem-GridColumn--default--10 .cmp-container {
    border: none;
    padding: 0;
    min-height: 463px;
  }
  .hamburger__menu {
    display: block;
  }
  .cmp-navigation__group
    .cmp-navigation__item
    .cmp-navigation__group
    .cmp-navigation__item {
    padding: 16px 18px;
    margin-bottom: 0 !important;
  }
  .headerWrap .headerWrap__info .headerWrap__info__name {
    font-size: 1rem;
  }
  .nav-search--container {
    padding: 48px 16px 24px !important;
  }
}

@media screen and (min-width: 1680px) {
  .nav-search--container {
    padding: 48px 0 0 !important;
  }
}
