<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories='anthem.component.support'}"
/>
<div
  data-sly-test="${wcmmode.edit}"
  class="cq-placeholder"
  data-emptytext="Support Form"
></div>
<div class="contact__form__container">
  <form id="contactForm">
    <div class="contact__form__details__section">
      <div class="form__details__field">
        <i class="fa fa-user-o contact__form__icon"></i>
        <input
          class="contact__form__input__style form__details__full__name"
          type="text"
          autocomplete="off"
          placeholder="${properties.enterLabel} ${properties.name}"
          name="Full Name"
          aria-labelledby="fullname__input"
        />
        <label class="form__details__label" id="fullname__input"
          >${properties.name}</label
        >
      </div>
      <div class="form__details__field">
        <i class="fa fa-mobile contact__form__icon"></i>
        <input
          class="contact__form__input__style form__details__phone_no"
          type="text"
          autocomplete="off"
          placeholder="(XXX) - ${properties.enterLabel} ${properties.telephone}"
          maxlength="18"
          name="Mobile number"
          id="telephone__input"
          aria-labelledby="telephone__input"
        />
        <label class="form__details__label" id="telephone__input"
          >${properties.telephone}</label
        >
      </div>
      <div class="form__details__field__email">
        <div class="form__details__field">
          <span class="motif-icon motif-message contact__form__icon"></span>
          <input
            class="contact__form__input__style form__details__email"
            type="text"
            autocomplete="off"
            placeholder="${properties.enterLabel} ${properties.email}"
            name="Email Address"
            id="email__input"
            aria-labelledby="email__input"
          />
          <label class="form__details__label" id="email__input"
            >${properties.email}</label
          >
        </div>
        <div class="form__email__error__msg">${properties.emailError}</div>
      </div>
    </div>
    <div class="contact__form__more__submit__section">
      <textarea
        class="contact__form__input__style tell__us__more__input"
        name="Tell us more"
        placeholder="${properties.userInput}"
        id="tell__us__more__input"
        aria-labelledby="tell__us__more__input"
      ></textarea>
      <button
        class="contact__form__submit__btn"
        disabled
        id="support__submit__btn"
      >
        ${properties.submit}
        <span class="motif-icon motif-right-arrow"></span>
      </button>
    </div>
  </form>
</div>
<div
  class="contact__form__ack__container support__success__dialog"
  role="dialog"
  aria-labelledby="support__submit__btn"
  aria-hidden="false"
>
  <div class="contact__form__info">
    <div class="contact__info__crossicon">
      <button
        class="motif-icon motif-delete contact__cross__icon"
        aria-label="Modal close"
      ></button>
    </div>
    <div class="contact__form__content">
      <div class="contact__info__image">
        <img src="${properties.ackImage}" alt="${properties.ackImageAlt}" />
      </div>
      <div class="contact__info__message">
        <span class="contact__info__header"> ${properties.greetingLabel} </span>
        <p class="contact__info__text">${properties.revertMessage}</p>
      </div>
    </div>
  </div>
</div>
<div
  class="contact__form__ack__container support__error__dialog"
  role="dialog"
  aria-labelledby="support__submit__btn"
  aria-hidden="false"
>
  <div class="contact__form__info">
    <div class="contact__info__crossicon">
      <button
        class="motif-icon motif-delete contact__cross__icon"
        aria-label="Modal close"
      ></button>
    </div>
    <div class="contact__form__content">
      <span class="motif-icon motif-info"></span>
      <div class="contact__info__message">
          <span class="contact__info__header">${properties.errorMessage}</span>
        <p class="contact__info__text">
            ${properties.retryMessage}
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Code snippet for Anthem's motif loader -->
<div class="loader">
  <div
    _ngcontent-lxi-c0=""
    class="text-align-center-loader"
    id="screen-loader-sec-id"
  >
    <div
      _ngcontent-lxi-c0=""
      class="modal-backdropP"
      id="modal-backdrop-div-id"
    ></div>
    <div _ngcontent-lxi-c0="" class="modalP" id="modal-div-id">
      <uxd-spinner _ngcontent-lxi-c0="" _nghost-lxi-c2="">
        <div _ngcontent-lxi-c2="" class="ant-loading-wrapper">
          <div _ngcontent-lxi-c2="" class="motif-spinner-heart">
            <span _ngcontent-lxi-c2=""></span><span _ngcontent-lxi-c2=""></span
            ><span _ngcontent-lxi-c2=""></span><span _ngcontent-lxi-c2=""></span
            ><span _ngcontent-lxi-c2=""></span><span _ngcontent-lxi-c2=""></span
            ><span _ngcontent-lxi-c2=""></span>
          </div>
        </div>
      </uxd-spinner>
    </div>
  </div>
</div>
<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.js @ categories='anthem.component.support'}"
/>
