<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories='anthem.component.ctaCard'}"
/>
<div
  data-sly-test="${wcmmode.edit}"
  class="cq-placeholder"
  data-emptytext="CTA Card"
></div>
<div  class="card__list__container">
<sly data-sly-include="${properties.selectVariation}.html"/>
</div>