<sly data-sly-use.ctaCards="com.anthem.hrportal.core.models.CtaCardModel" />
<sly data-sly-list="${ctaCards.linksCard}">
  <div class="card__container links__card">
    <div class="card__image__section">
      <div class="links__card__img">
        <img
          src="${item.cardImage}"
          alt="${item.ctaImageAlt}"
          role="presentation"
        />
      </div>
    </div>
    <div class="card__text__section">
      <div class="card__text__header">${item.ctaHeading}</div>
      <div class="card__text__link">
        <a
          class="card__link"
          href="${item.ctaLink @extension='html'}"
          target="_blank"
          aria-label="link related to profile details"
          rel="noopener noreferrer"
          >${item.ctaLabel}</a
        >
      </div>
    </div>
  </div>
</sly>
