<sly data-sly-use.ctaCards="com.anthem.hrportal.core.models.CtaCardModel" />
<sly data-sly-test="${properties.selectVariation=='simpleCard'}">
  <sly data-sly-list="${ctaCards.simpleCard}">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="${item.ctaLink @extension='html'}"
      aria-label="view details related to profile arrow"
      class="card__container simple__card"
    >
      <div class="card__img__border"></div>
      <div class="simple__card__img">
        <img
          src="${item.cardImage}"
          alt="${item.ctaImageAlt}"
          role="presentation"
        />
      </div>
      <div class="card__text__section">
        <div class="card__text__header">${item.ctaHeading}</div>
        <div class="card__text__description">
          <p>${item.ctaDescription}</p>
        </div>
      </div>
    </a>
  </sly>
</sly>
