.heroBnr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 44px 0 0;
  box-sizing: border-box;
}

.heroBnr .heroBnr__cont {
  width: calc(100% - 209px);
  margin-right: 30px;
}

.heroBnr .heroBnr__cont .heroBnr__cont__title {
  max-width: 377px;
  font-size: 1.5rem;
  font-family: "Bitter-Medium";
  line-height: 1.25;
  font-weight: 500;
  color: #333333;
  margin: 0;
}

.heroBnr .heroBnr__cont .heroBnr__cont__desc {
  max-width: 438px;
  font-size: 1rem;
  font-family: "Lato-Regular";
  line-height: 1.5;
  color: #333333;
  margin: 20px 0 0;
  text-align: left;
}

.heroBnr .heroBnr__image {
  max-width: 270px;
  height: 156px;
}

.heroBnr .heroBnr__image > img {
  max-width: inherit;
  height: inherit;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .heroBnr {
    padding: 16px 0 0;
  }
  .heroBnr .heroBnr__cont .heroBnr__cont__title {
    width: 100%;
    font-size: 1.125rem;
  }

  .heroBnr .heroBnr__cont .heroBnr__cont__desc {
    width: calc(100% - 22px);
    font-size: 0.75rem;
    line-height: 1.83;
    margin: 16px 0 0;
  }
  .heroBnr .heroBnr__cont {
    max-width: unset;
  }
  .heroBnr .heroBnr__image,
  .heroBnrImg {
    max-width: 141px;
    height: 105px;
  }
  .heroBnr .heroBnr__cont {
    width: calc(100% - 141px);
    margin-right: 5px;
  }
}

.heroBnrImg {
  width: 100%;
  height: 162px;
}

.heroBnrImg > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
