<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.all @ categories='anthem.component.list'}"
/>

<div
  data-sly-test="${wcmmode.edit}"
  class="cq-placeholder"
  data-emptytext="Events or Articles List"
></div>

<sly
  data-sly-use.card="com.anthem.hrportal.core.models.CardList"
  data-sly-call="${cards @ card=card}"
/>
<div data-sly-template.cards="${ @ card }">
  <ul class="events__list">
    <span class="event__header">${properties.heading}</span>
    <sly data-sly-list="${card.cardlist}">
      <li class="events__list__item">
        <a
          href="${item.path @ extension='html'}"
          target="_self"
          rel="noopener noreferrer"
          class="listevent__container"
        >
          <div class="events__briefnote">
            <div class="event__content">
              <div class="featured__content">
                <div
                  class="event__feature"
                  style="background-color:${item.tagBackground @context='styleString'}"
                  data-sly-use.tag="${'anthemhr/hrportal/components/server-side-utils/tag.js' @ tag=item.tag}"
                >
                  <span class="feature__text">${tag.shortTag}</span>
                </div>
              </div>

              <div class="batch__icon">
                <span class="motif-icon motif-bookmark-ribbon"></span>
              </div>
            </div>
            <div class="event__list">
              <span class="list__text"> ${item.pageTitle} </span>
              <span class="list__date">
                ${properties.publish} ${ 'dd MMM, yyyy' @ format=item.startDate
                || item.publishDate}<sly data-sly-test="${item.startTime}">
                  | ${ 'hh:mm a' @ format=item.startTime}</sly
                >
              </span>
            </div>
          </div>
          <div
            data-sly-test="${item.image || item.eventImage}"
            class="event__image"
          >
            <img
              src="${item.image || item.eventImage}"
              alt="${item.altText || item.alt}"
              role="presentation"
            />
          </div>
          <div data-sly-test="${item.video}" class="event__video">
            <img
              src="${item.video  || '/content/dam/gatewaytoanthem/sample/fallback.png'}"
              alt="Video"
              class="event__video__placeholder"
            />
            <div class="video__play__icon">
              <img
                src="/content/dam/gatewaytoanthem/sample/video_play_arrow.png"
                alt="video play icon"
              />
            </div>
          </div>
        </a>
      </li>
    </sly>
  </ul>
</div>
