.cmp-title > .cmp-title__text {
  color: #333333;
  text-transform: none;
  margin: 0;
}

.cmp-title {
  margin-top: 36px;
}

.cmp-title > h1 {
  font-size: 2rem;
  font-family: "Bitter-Medium";
  font-weight: 500;
  color: #333333;
}

.cmp-title > h2 {
  font-size: 1.625rem;
  font-family: "Bitter-Medium";
  font-weight: 500;
  color: #333333;
}

.cmp-title > h3 {
  font-size: 1.375rem;
  font-family: "Bitter-Medium";
  font-weight: 500;
  color: #333333;
}

.cmp-title > h4 {
  font-size: 1.375rem;
  font-family: "Bitter-Medium";
  font-weight: 500;
  color: #333333;
}

.cmp-title > h5 {
  font-size: 1.125rem;
  font-family: "Bitter-Medium";
  font-weight: 500;
  color: #333333;
}

.cmp-title > h6 {
  font-size: 1rem;
  font-family: "Lato-Bold";
  color: #003274 !important;
  text-transform: uppercase !important;
}
