<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories='anthem.covid.component.title'}"
/>
<div
  data-sly-use.title="com.adobe.cq.wcm.core.components.models.Title"
  data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
  data-sly-use.template="core/wcm/components/commons/v1/templates.html"
  data-sly-test.text="${title.text}"
  data-cmp-data-layer="${title.data.json}"
  id="${component.id}"
  class="cmp-title"
>
  <h1 class="cmp-title__text" data-sly-element="${title.type}">
    <a
      data-sly-unwrap="${!title.linkURL || title.linkDisabled}"
      class="cmp-title__link"
      href="${title.linkURL}"
      data-cmp-clickable="${title.data ? true : false}"
      >${text}</a
    >
  </h1>
  <div class="cmp-title__sep"></div>
</div>
<sly
  data-sly-call="${template.placeholder @ isEmpty=!text, classAppend='cmp-title'}"
></sly>
