<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories='anthem.component.authordetails'}"
/>
<div class="authordetails__container ${properties.separator}">
  <div class="author__img">
    <img src="${properties.authorImage}" alt="author" role="presentation" />
  </div>
  <div class="author__details">
    <div class="author__details__info">
      <span class="author__name">${properties.authorName}</span>
      <div class="authorInfo__split__line"></div>
      <span class="author__post">${properties.authorDesignation}</span>
    </div>
    <span class="author__details__date"
      >${'dd MMM yyyy' @format=properties.detailsDate}</span
    >
  </div>
</div>
