/* Styling for result initial state container */
.search_empty_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 530px;
  margin-top: 36px;
}

.search_empty_container .search_empty_img_section {
  height: 146px;
  width: 146px;
}

.search_empty_container .search_empty_img_section > span {
  color: #e3e9ea;
  font-size: 9.125rem;
}

.search_empty_container .search_empty_text_section p {
  margin: 0;
  color: #333333;
}

.search_empty_container .search_empty_text_section .search_empty_location_text {
  margin: 24px 0 12px;
  font-family: "Montserrat-SemiBold";
  font-size: 1.375rem;
  font-weight: 600;
  text-align: center;
  line-height: normal;
}

.search_empty_container .search_empty_text_section .search_empty_result_text {
  font-family: "Lato-Regular";
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
}

/* Styling for search result data container */
.search_wrap {
  display: none;
}

.search_wrap .search_cont {
  display: flex;
  align-items: flex-start;
}

.search_wrap .search_cont .search_content {
  width: 50%;
}

.search_content .search_title {
  color: #333333;
  font-size: 1.625rem;
  font-family: "Montserrat-Light";
  font-weight: 300;
  line-height: normal;
  margin: 0 0 24px;
}

.search_content .search_result {
  display: flex;
}

.search_content .search_summary {
  color: #333333;
  font-size: 0.875rem;
  font-family: Lato-Regular;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
}

.search_content .search_summary > b {
  font-family: "Lato-Bold";
}

@media screen and (max-width: 767px) {
  .search_wrap .search_cont {
    flex-direction: column;
  }
  .search_wrap .search_cont .search_content {
    width: 100%;
  }
  .search_wrap .search_cont .search_summary {
    margin-bottom: 24px;
  }
}

/* Styling for search results */
.search_cont .resultsInfo_view {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: calc(50% - 24px);
  margin-left: 24px;
}

.resultsInfo_view .resultsInfo_view_info {
  border-bottom: 2px solid #ccc;
  margin: 0 3px;
  padding: 0 10px 6px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.resultsInfo_view .activeView {
  border-bottom: 2px solid #286ce2;
}

.resultsInfo_view .resultsInfo_view_info .resultsInfo_type {
  font-size: 0.875rem;
  line-height: 22px;
  color: #666666;
  font-family: "Lato-Bold";
  margin-left: 6px;
}

.resultsInfo_view .resultsInfo_view_info > .typeIcon {
  color: #333;
  font-size: 1.15rem;
}

.resultsInfo_view .activeView > .typeIcon {
  color: #81cfc2;
}

.resultsInfo_view .activeView .resultsInfo_type {
  color: #333333;
}

@media screen and (max-width: 767px) {
  .search_cont .resultsInfo_view {
    width: 100%;
    justify-content: flex-start;
    margin: 0;
  }
  .resultsInfo_view .resultsInfo_view_info {
    width: 50%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .resultsInfo_view .resultsInfo_view_info .resultsInfo_type {
    font-size: 0.75rem;
  }
}

/* Styling for list view */
.search_wrap .vacnTileWrap {
  width: 100%;
}

.search_wrap .vacnTile {
  width: 100%;
}

/* Styling for map view */
.search_wrap .vacnMap {
  width: 100%;
  display: none;
}

/* Styling for list item*/
.search_result_item_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  padding: 24px 0;
}

.search_result_item_container .name_address_section {
  width: 30%;
}

.search_result_item_container .name_address_section .name_section_text {
  margin-bottom: 6px;
}

.search_result_item_container .name_address_section .name_section_text a {
  color: #286ce2;
  font-size: 1.125rem;
  font-family: "Lato-Bold";
  font-weight: bold;
  text-decoration: none;
}

.search_result_item_container .name_address_section .address_section_miles {
  display: flex;
  align-items: center;
}

.search_result_item_container
  .name_address_section
  .address_section_miles
  > span {
  color: #333333;
  font-size: 0.875rem;
  font-family: "Lato-Regular";
  font-weight: normal;
  line-height: 22px;
  margin-left: 6px;
}

.search_result_item_container
  .name_address_section
  .address_section_miles
  > .loc__marker {
  color: #81cfc2;
  font-size: 1rem;
  margin-left: 0;
}

.search_result_item_container .name_address_section .address_section_text {
  color: #333333;
  font-size: 0.875rem;
  font-family: "Lato-Regular";
  font-weight: normal;
  line-height: 22px;
}

.search_result_item_container .contact_section {
  color: #286ce2;
  font-size: 0.875rem;
  font-family: "Lato-Bold";
  font-weight: bold;
  text-decoration: underline !important;
  letter-spacing: 0px;
  line-height: 22px;
  cursor: pointer;
  text-decoration: none;
}

.search_result_item_container .button_section a {
  text-decoration: none;
}

.search_result_item_container .button_section .visit_web_btn {
  background: #286ce2;
  border-radius: 0px;
  padding: 11px 22px 9px 22px;
  border: 0;
  outline: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-family: "Lato-Regular";
  cursor: pointer;
}

.search_result_item_container .button_section .visit_web_btn > span {
  color: #ffffff;
  margin-right: 10px;
  font-size: 1.7rem;
}

.search_result_item_container .visit_web_btn[disabled] {
  cursor: not-allowed;
  background-color: #6666;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media screen and (max-width: 767px) {
  .search_result_item_container {
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 0;
    margin: 0 auto;
  }
  .search_result_item_container .name_address_section {
    width: 100%;
  }
  .search_result_item_container .button_section {
    width: 100%;
  }
  .search_result_item_container .button_section .visit_web_btn {
    width: 100%;
    justify-content: center;
  }
  .search_result_item_container .contact_section {
    margin-bottom: 22px;
  }
}

.search_result_item_container.search_result_map_view {
  padding: 24px 0;
  flex-direction: column;
  align-items: flex-start;
}

.search_result_item_container.search_result_map_view .button_section {
  margin-top: 22px;
}
.search_result_map_view:first-child {
  padding-top: 0;
}

/* Styling for loader */
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #000000;
  opacity: 0.6;
  display: none;
}

@-webkit-keyframes slideDown {
  0%,
  100% {
    top: 0;
    bottom: 100%;
    opacity: 0;
  }

  5% {
    top: 0;
    bottom: 0;
  }

  12% {
    opacity: 1;
  }

  50% {
    top: 0;
    bottom: 0;
    opacity: 1;
  }

  55% {
    top: 0;
    bottom: 100%;
  }

  62% {
    opacity: 0;
  }
}

@keyframes slideDown {
  0%,
  100% {
    top: 0;
    bottom: 100%;
    opacity: 0;
  }

  5% {
    top: 0;
    bottom: 0;
  }

  12% {
    opacity: 1;
  }

  50% {
    top: 0;
    bottom: 0;
    opacity: 1;
  }

  55% {
    top: 0;
    bottom: 100%;
  }

  62% {
    opacity: 0;
  }
}

@-webkit-keyframes slideUp {
  0% {
    top: 100%;
    bottom: 0;
    opacity: 0;
  }

  5%,
  50% {
    top: 0;
    bottom: 0;
  }

  12% {
    opacity: 1;
  }

  55% {
    top: 100%;
    bottom: 0;
    opacity: 1;
  }

  62% {
    opacity: 0;
  }

  100% {
    top: 100%;
    bottom: 0;
  }
}

@keyframes slideUp {
  0% {
    top: 100%;
    bottom: 0;
    opacity: 0;
  }

  5%,
  50% {
    top: 0;
    bottom: 0;
  }

  12% {
    opacity: 1;
  }

  55% {
    top: 100%;
    bottom: 0;
    opacity: 1;
  }

  62% {
    opacity: 0;
  }

  100% {
    top: 100%;
    bottom: 0;
  }
}

.ant-loading-wrapper[_ngcontent-lxi-c2] {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 160px;
  height: 100%;
  margin: 25% auto;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2] {
  display: -webkit-box;
  display: flex;
  padding: 10px;
  height: 120px;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2] {
  position: relative;
  background: #eee;
  width: 8px;
  display: -webkit-box;
  display: flex;
  margin: 4px;
  border-radius: 4px;
  height: 80px;
  top: 25px;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(even)::before {
  -webkit-animation: 5s ease-out infinite slideUp;
  animation: 5s ease-out infinite slideUp;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(odd)::before {
  -webkit-animation: 5s ease-out infinite slideDown;
  animation: 5s ease-out infinite slideDown;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(2)::before {
  -webkit-animation-delay: 286ms;
  animation-delay: 286ms;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(3)::before {
  -webkit-animation-delay: 572ms;
  animation-delay: 572ms;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(4)::before {
  -webkit-animation-delay: 858ms;
  animation-delay: 858ms;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(5)::before {
  -webkit-animation-delay: 1.144s;
  animation-delay: 1.144s;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(6)::before {
  -webkit-animation-delay: 1.43s;
  animation-delay: 1.43s;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(7)::before {
  -webkit-animation-delay: 1.716s;
  animation-delay: 1.716s;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(1),
.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(7) {
  height: 30px;
  top: 20px;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(2),
.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(6) {
  height: 60px;
  top: 10px;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(3),
.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(5) {
  height: 80px;
  top: 10px;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(odd)::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#2ab5ca),
    to(#0079c2)
  );
  background: linear-gradient(0deg, #2ab5ca, #0079c2);
  border-radius: 4px;
  top: 0;
}

.ant-loading-wrapper[_ngcontent-lxi-c2]
  .motif-spinner-heart[_ngcontent-lxi-c2]
  span[_ngcontent-lxi-c2]:nth-child(even)::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#2ab5ca),
    to(#0079c2)
  );
  background: linear-gradient(180deg, #2ab5ca, #0079c2);
  border-radius: 4px;
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .ant-loading-wrapper[_ngcontent-lxi-c2] {
    margin: 50% auto;
  }
}

/* Styling for alert dialog */
.search_wrap .resultsInfo__alert {
  width: 100%;
  border: 1px solid #ccc;
  border-left: 5px solid #286ce2;
  padding: 7px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.search_wrap .resultsInfo__alert > .excIcon {
  color: #286ce2;
  font-size: 1.5rem;
  margin-right: 7px;
}

.search_wrap .resultsInfo__alert > .alert__msg > p {
  font-size: 0.875rem;
  color: #666;
  font-family: "Lato-Regular";
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
}

.search_wrap .resultsInfo__alert > .alert__msg > a {
  color: #286ce2;
  text-decoration: underline;
}

/* Styling for view more button */
.vacnTileWrap .vacTile__view {
  margin: 24px 0;
}

.vacnTileWrap .vacTile__view__Text {
  font-family: "Lato-SemiBold";
  font-size: 0.875rem;
  width: 100%;
  font-weight: 400;
  background-color: #286ce2;
  color: #fff;
  padding: 10px 40px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  outline: none;
}

@media screen and (max-width: 767px) {
  .vacnTileWrap .vacTile__view {
    margin-bottom: 0;
  }
}

/* Styling for Map view */
.vacnMap {
  width: 100%;
  height: 691px;
  margin: 32px auto 24px;
}

.vacnMap #vacnMap__view {
  width: 70% !important;
  height: 100% !important;
}

.vacnMap__view__list {
  width: calc(30% - 14px);
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 14px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.vacnMap .search_intro {
  width: 100%;
}

.vacnMap__view__list .search_result_map_view {
  cursor: pointer;
}

.search_result_item_container.search_result_map_view .name_address_section {
  width: 100%;
}

/* configure the scrollbar for chrome,safari */
.vacnMap__view__list::-webkit-scrollbar {
  width: 0px;
}

.vacnMap__view__list .vacnMap__selected__list {
  border-right: 5px solid #286ce2;
  border-radius: 0px;
}

.MicrosoftMap .NavBar_Container.Light .selectorIconDropDown,
.MicrosoftMap .NavBar_Container.Light .NavBar_locateMe {
  display: none;
}

.MicrosoftMap .NavBar_MapTypeButtonContainerWrapper {
  margin-bottom: 24px;
}

.maps-get-direction-link {
  font-weight: 400;
  font-size: 0.875rem;
  font-family: Lato-Regular;
  color: #2354a6;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .vacnMap {
    margin: 24px 0 0;
  }
  .vacnMap #vacnMap__view {
    width: 100% !important;
  }
  .vacnMap__view__list {
    display: none !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .vacnMap #vacnMap__view {
    width: 60% !important;
  }
  .vacnMap__view__list {
    width: calc(40% - 14px);
  }
}

/* Styling for Map Infobox */

.MicrosoftMap .Infobox {
  border: none;
  border-radius: 0px;
}
.infobox-info .search_result_item_container {
  padding: 0;
  border: none;
}

.infobox-info
  .search_result_item_container.search_result_map_view
  .contact_section {
  margin-bottom: 0;
}

.MicrosoftMap .Infobox.no-title .infobox-info {
  margin: 0;
}

.MicrosoftMap .Infobox .contact_section {
  text-decoration: underline;
}

.MicrosoftMap
  .Infobox
  .search_result_item_container
  .name_address_section
  .address_section_text {
  margin: 6px 0 12px;
}

.MicrosoftMap
  .Infobox
  .search_result_item_container
  .name_address_section
  .address_section_miles {
  margin: 6px 0;
}
.infobox-info .button_section {
  display: none;
}

.infobox-stalk {
  display: none;
}

.infobox-body {
  max-height: none !important;
}

.infobox-info {
  max-height: none !important;
}

@media screen and (max-width: 767px) {
  .infobox-info .button_section {
    display: block;
    margin-top: 24px;
  }

  .infobox-info .button_section .visit_web_btn {
    padding: 6px 11px;
  }
}
