/* Styling for accessibility */
body:not(.show-focus-outlines) button:focus,
body:not(.show-focus-outlines) [tabindex]:focus {
  outline: none;
}

body .root {
  padding-top: 0;
  max-width: 100%;
}

.anthem-layout-container--fixed {
  max-width: 1680px;
  padding: 0 44px !important;
  margin: 0 auto;
  float: none !important;
}

.padding--left--24 {
  padding-left: 24px !important;
}

.aem-GridColumn {
  padding: 0;
}

#hrportal__root > .aem-Grid--12 > .aem-GridColumn--default--2 {
  visibility: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 0 !important;
  align-self: flex-start;
}

#hrportal__root > .aem-Grid--12 > .aem-GridColumn--default--10 {
  width: 100% !important;
}

.nav__visible #hrportal__root > .aem-Grid--12 > .aem-GridColumn--default--2 {
  width: 16.667% !important;
  visibility: visible;
}

.nav__visible #hrportal__root > .aem-Grid--12 > .aem-GridColumn--default--10 {
  width: 83.333% !important;
  visibility: visible;
}
.nav__visible .aem-Grid--default--12 {
  position: relative;
  -webkit-animation: slideRight 0.3s normal;
  animation: slideRight 0.3s normal;
}

#fixed__container > .aem-Grid--12 > .aem-GridColumn--default--9 {
  width: calc(100% - 300px);
  margin-right: 36px;
}
#fixed__container > .aem-Grid--12 > .aem-GridColumn--default--3 {
  width: 264px;
}

#fixed__container {
  padding-bottom: 36px;
}

@-webkit-keyframes slideRight {
  from {
    left: -50px;
  }
  to {
    left: 0;
  }
}
@keyframes slideRight {
  from {
    left: -50px;
  }
  to {
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  body .root {
    overflow-x: hidden;
  }
  .anthem-layout-container--fixed {
    padding: 0 16px !important;
  }

  #hrportal__root
    > .aem-Grid--12
    > .aem-GridColumn--default--10
    > .cmp-container {
    overflow-y: scroll;
  }
  #hrportal__root
    > .aem-Grid--12
    > .aem-GridColumn--default--2
    > .cmp-container {
    overflow-y: scroll;
  }
  .nav__visible #hrportal__root > .aem-Grid--12 > .aem-GridColumn--default--2 {
    width: 264px !important;
  }
  .nav__visible #hrportal__root > .aem-Grid--12 > .aem-GridColumn--default--10 {
    width: 504px !important;
  }
  .nav__visible #hrportal__root > .aem-Grid--12 {
    width: 767px !important;
    display: flex;
    overflow-x: hidden;
  }
  #fixed__container > .aem-Grid--12 > .aem-GridColumn--default--9,
  #fixed__container > .aem-Grid--12 > .aem-GridColumn--default--3 {
    width: 100%;
    margin: 0;
  }
}

@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  /* IE10+ specific styles go here */
  #hrportal__root > .aem-Grid--12 > .aem-GridColumn--default--2 {
    position: fixed;
    top: 0;
    left: 0;
  }
  #hrportal__root > .aem-Grid--12 > .aem-GridColumn--default--10 {
    padding-top: 42px;
    float: left;
  }
  .aem-GridColumn {
    padding: 0;
  }
  .nav__visible #hrportal__root > .aem-Grid--12 > .aem-GridColumn--default--10 {
    width: 83.333% !important;
    float: right;
  }
  .nav__visible #hrportal__root > .aem-Grid--12 > .aem-GridColumn--default--2 {
    width: 16.667% !important;
    visibility: visible;
  }

  .anthem-layout-container--fixed {
    float: left;
  }
  @media screen and (max-width: 767px) {
    .nav__visible
      #hrportal__root
      > .aem-Grid--12
      > .aem-GridColumn--default--2 {
      width: 264px !important;
    }
    .nav__visible
      #hrportal__root
      > .aem-Grid--12
      > .aem-GridColumn--default--10 {
      width: 504px !important;
    }
    .nav__visible #hrportal__root > .aem-Grid--12 {
      width: 767px !important;
      display: flex;
      overflow-x: hidden;
    }
  }
}
