.cmp-text > p {
  margin: 12px 0 0;
  color: #333333;
  font-size: 0.875rem;
  font-family: "Lato-Regular";
  font-weight: normal;
  line-height: 22px;
}

.cmp-text a {
  text-decoration: underline !important;
}

.cmp-text h3 {
  color: #333333;
  font-size: 1.375rem;
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
}

.cmp-text h5 {
  color: #333333;
  font-size: 1.125rem;
  font-family: "Lato-Bold";
  font-weight: bold;
  text-transform: none;
}

.cmp-text h4 {
  color: #333333;
  font-size: 1.375rem;
  font-family: "Lato-Light";
  font-weight: 300;
  text-transform: none;
  margin: 14px 0 0;
}
