<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories='anthem.covid.component.footer'}"
/>
<div class="footerWrap">
  <div class="footerWrap__cont">
    <div class="footerWrap__desc">
      <p class="footerWrap__text">${properties.footerText}</p>
    </div>
	<sly data-sly-test="${properties.privacyPolicy || properties.termsOfUse}">
    <div class="footerWrap__links">
      <a x-cq-linkchecker="skip" data-sly-test="${properties.termsOfUse}" href="${properties.termsOfUse}" class="footerWrap__text">Terms of Use</a>
      <a x-cq-linkchecker="skip" data-sly-test="${properties.privacyPolicy}" href="${properties.privacyPolicy}" class="footerWrap__text">Privacy Policy</a>
    </div>
    </sly>
  </div>
</div>
