<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories='anthem.component.eventdetails'}"
/>
<div class="eventDetails__container">
  <div
    style="display: none"
    id="data-event-details"
    data-eventTitle="${properties.title}"
    data-description="${properties.description}"
    data-startDate="${'dd-MM-yyyy' @ format=properties.startDate}"
    data-startTime="${'HH:mm' @ format=properties.startTime}"
    data-endDate="${'dd-MM-yyyy' @ format=properties.endDate}"
    data-endTime="${'HH:mm' @ format=properties.endTime}"
    data-timezone="${properties.timezone}"
    data-organiser="${properties.organiser}"
    data-location="${properties.location}"
    data-meetingLink="${properties.meetingLink}"
    data-copylinklabel="${properties.copylinklabel}"
    data-copiedlinklabel="${properties.copiedlinklabel}"
  ></div>
 <div class="detailswrap">
    <div class="detailswrap__img" data-sly-test="${properties.eventImage}">
      <img
        src="${properties.eventImage}"
        alt="${properties.altText}"
        role="presentation"
      />
    </div>
    <div class="detailswrap__cont">
      <div class="detailswrap__info">
        <div>
          <h2 class="detailswrap__cont__title">${properties.title}</h2>
          <p
            class="detailswrap__meet__date"
            data-sly-use.timezone="${'anthemhr/hrportal/components/server-side-utils/timezone.js' @ timezone=properties.timezone }"
          >
            ${'dd MMM yyyy' @ format=properties.startDate} | ${'hh:mm a' @
            format=properties.startTime} ${timezone.shortCode}
          </p>
        </div>
        <div class="share__mob__view">
          <div
            data-sly-test="${properties.isVirtualEvent}"
            class="event__tag"
            style="background-color:${properties.tagBackground @context='styleString'}"
          >
            <div class="tag__image">
              <img
                src="${properties.tagIcon}"
                data-sly-use.tag="${'anthemhr/hrportal/components/server-side-utils/tag.js' @ tag=properties.cq:tags }"
                alt="${tag.shortTag}"
                role="presentation"
              />
            </div>
            <span>${tag.shortTag}</span>
          </div>
        </div>
      </div>
      <div class="detailswrap__img" data-sly-test="${properties.eventImage}">
        <img
          src="${properties.eventImage}"
          alt="${properties.altText}"
          role="presentation"
        />
      </div>
      <p class="detailswrap__cont__desc">${properties.description}</p>
      <div class="events__links">
        <a
          x-cq-linkchecker="skip"
          href="${properties.meetingLink}"
          class="detailswrap__meet__link"
          target="_blank"
          rel="noopener noreferrer"
          >${properties.joinMeetingButtonLabel}</a
        >
        <button
          class="events__options"
          aria-label="Expand the share menu"
          id="events__menu"
        >
          <span class="motif-icon motif-menu-kebab"></span>
        </button>
        <div
          class="events__share__link"
          role="dialog"
          aria-labelledby="events__menu"
        >
          <div
            data-sly-test="${properties.addToCalendarLabel}"
            class="events__interact add__calendar"
            role="button"
            aria-label="${properties.addToCalendarLabel}"
            tabindex="0"
          >
            <span class="motif-icon motif-calendar"></span>
            <span>${properties.addToCalendarLabel}</span>
          </div>
          <div
            data-sly-test="${properties.copyLinkLabel}"
            class="events__interact events__share"
            role="button"
            aria-label="${properties.copyLinkLabel}"
            tabindex="-1"
          >
            <i class="fa fa-clone"></i>
            <span>${properties.copyLinkLabel}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.js @ categories='anthem.component.eventdetails'}"
/>
