.timeline__container {
  padding: 24px 24px 20px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 11px 0 rgba(62, 62, 62, 0.18);
  background-color: #ffffff;
  margin-top: 16px;
  width: 100%;
  display: block;
}
.timeline__container:hover {
  box-shadow: 0 0 20px 0 rgba(215, 222, 227, 0.39),
    0 26px 90px 0 rgba(51, 60, 70, 0.3);
}
/* Add half__width__container class to the timeline container to restrict the width of the component to half of the screen width */
.timeline__container.half__width__container {
  width: 50% !important;
  margin-top: 36px;
}
.timeline__container .timeline__left__section {
  display: flex;
  align-items: center;
  width: 100%;
}
.timeline__container .timeline__left__section .timeline__img__block {
  width: 116px;
  height: 76px;
  margin-right: 56px;
}
.timeline__container .timeline__left__section .timeline__img__block img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.timeline__container
  .timeline__left__section
  .timeline__details__block
  .timeline__text__milestone {
  font-family: "Lato-Regular";
  font-size: 0.75rem;
  line-height: 1.83;
  color: #333333;
}
.timeline__container
  .timeline__left__section
  .timeline__details__block
  .timeline__text__days {
  font-family: "Bitter-Medium";
  font-size: 1.5rem;
  color: #003274;
  font-weight: 500;
  line-height: 1.25;
}
.timeline__container
  .timeline__left__section
  .timeline__details__block
  .timeline__text__milestone.timeline__text__date {
  font-size: 1rem;
  line-height: 24px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .timeline__container.half__width__container {
    width: 60% !important;
  }
}

@media screen and (max-width: 767px) {
  .timeline__container.half__width__container {
    width: 100% !important;
  }
  .timeline__container {
    padding: 24px 16px;
    margin-top: 36px;
  }
  .timeline__container .timeline__left__section .timeline__img__block {
    width: 110px;
    height: 72px;
    margin-right: 16px;
  }
  .timeline__container
    .timeline__left__section
    .timeline__details__block
    .timeline__text__days {
    font-size: 1.125rem;
  }
}
