<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories='anthem.covid.component.banner'}" />

      <div class="banner_tile_container">
        <div class="banner_tile_header">
          <h2 class="banner_tile_header_text">${properties.bannerText}</h2>
        </div>
      </div>