.quick__links__container {
  width: 100%;
  padding: 25px 24px 24px 22px;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 16px;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.quick__links__container .quick__links__header {
  font-family: "Lato-Bold";
  font-size: 1rem;
  line-height: normal;
  color: #003274;
  display: block;
}

.quick__links__container .quick__links__info {
  width: 100%;
  list-style-type: none;
  margin-top: 3px;
  margin: 0;
  padding: 0;
}

.quick__links__container .quick__links__info .quick__links__details {
  width: 100%;
  padding-top: 16px;
}

.quick__links__container
  .quick__links__info
  .quick__links__details
  .info__details {
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  display: flex;
}

.quick__links__container
  .quick__links__info
  .quick__links__details
  .info__details
  .quick__links__image {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.quick__links__container
  .quick__links__info
  .quick__links__details
  .info__details
  .quick__links__image
  > img {
  width: inherit;
  height: inherit;
  object-fit: inherit;
}

.quick__links__container
  .quick__links__info
  .quick__links__details
  .info__details
  .quick__info__main {
  width: calc(100% - 40px);
  margin-left: 16px;
  display: flex;
  justify-content: space-between;
}

.quick__links__container
  .quick__links__info
  .quick__links__details
  .info__details
  .quick__info__main
  .info__text {
  font-family: "Lato-Regular";
  font-size: 1rem;
  line-height: 1.5;
  color: #6d7278;
}

@media screen and (max-width: 767px) {
  .quick__links__container {
    padding: 16px;
  }
}
