<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.all @ categories='anthem.component.header'}"
/>
<header class="header__wrapper full__width__container">
  <div class="header__cont">
    <div class="header__left__block">
      <span
        class="motif-icon motif-menu"
        tabindex="0"
        aria-label="Hamburger menu"
        aria-haspopup="true"
        aria-expanded="false"
      ></span>
      <div class="header__logo">
          <img
            src="${properties.headerLogo}"
            alt="${properties.headerAlt}"
            role="presentation"
          />
      </div>
      <sly
        data-sly-resource="${'breadcrumb' @ resourceType='/apps/anthemhr/hrportal/components/breadcrumb'}"
      />
    </div>
    <div class="header__right__block">
      <a
        href="${properties.helpPath @extension=(properties.externalLink=='true'? '':'html')}"
        aria-label="Help section"
        rel="noopener noreferrer"
        target="${properties.helpLinkTarget}"
      >
        <span class="motif-icon motif-help"></span>
      </a>
      <button
        class="header__profile__icon"
        aria-label="Profile"
        id="profile__language__dropdown"
      >
        <img
          src="${properties.profileIcon}"
          alt="${properties.profileAltText}"
        />
      </button>
      <div
        class="header__radio__btn__dropdown"
        role="dialog"
        aria-modal="true"
        aria-labelledby="profile__language__dropdown"
      >
        <button class="radio__btn__header" tabindex="0" aria-expanded="false">
          <span class="radio__dropdown__option">Language</span>
          <span class="motif-icon motif-angle-down"></span>
        </button>
        <ul class="language__dropdown" role="radiogroup">
          <sly
            data-sly-use.headerModel="com.anthem.hrportal.core.models.HeaderModel"
          />
          <sly
            data-sly-test="${headerModel}"
            data-sly-list="${headerModel.languageDropDown}"
          >
            <li class="radio__btn__block" tabindex="0" role="radio">
              <label>
                <input
                  class="radio__btn"
                  type="radio"
                  name="language"
                  id="${item.languageKey}"
                  tabindex="-1"
                />
                <span class="radio__btn__checkmark"></span>
                <span class="radio__btn__text">${item.language}</span>
              </label>
            </li>
          </sly>
        </ul>
        <div
          data-sly-test="${properties.logoutLabel}"
          class="radio__dropdown__logout"
        >
          <button class="logout-button" data-href="${properties.logoutLink}">
            <span
              class="cmp-button__text"
              aria-label="${properties.logoutLabel}"
            >
              ${properties.logoutLabel}
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
