<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.all @ categories='anthem.covid.component.vaccinesearchresults'}"
/>
<section class="search_intro">
  <div class="search_empty_container">
    <div class="search_empty_img_section">
      <span class="motif-icon motif-search-1"></span>
    </div>
    <div class="search_empty_text_section">
      <p data-sly-test="${properties.locationLabel}" class="search_empty_location_text">${properties.locationLabel}</p>
      <p data-sly-test="${properties.resultsLabel}" class="search_empty_result_text">
       ${properties.resultsLabel}
      </p>
    </div>
  </div>
</section>
<section class="cloud_error_info">
  <div class="search_empty_container">
    <div class="search_empty_img_section">
      <span class="motif-icon motif-error-cloud"></span>
    </div>
    <div class="search_empty_text_section">
      <p class="search_empty_location_text">
       ${properties.cloudErrorLabel}
      </p>
      <p class="search_empty_result_text">${properties.searchRetryLabel}</p>
    </div>
  </div>
</section>
<section class="search_wrap">
  <div class="resultsInfo__alert">
    <span class="motif-icon motif-info excIcon"></span>
    <span class="alert__msg">
     ${properties.alertMessage @context='html'}
    </span>
  </div>
  <div class="search_cont">
    <div class="search_content">
      <h2 class="search_title">Search Results</h2>
      <div class="search_result">
        <p class="search_summary"></p>
      </div>
    </div>
    <div class="resultsInfo_view">
      <div class="resultsInfo_view_info">
        <span class="motif-icon motif-bulleted-list typeIcon"></span>
        <span class="resultsInfo_type">List View</span>
      </div>
      <div class="resultsInfo_view_info activeView">
        <span class="motif-icon motif-map-marker typeIcon"></span>
        <span class="resultsInfo_type">Map View</span>
      </div>
    </div>
  </div>
  <div class="vacnTileWrap">
    <div class="vacnTile"></div>
    <div class="vacTile__view">
      <button class="vacTile__view__Text">View More</button>
    </div>
  </div>
  <div class="vacnMap">
    <div id="vacnMap__view"></div>
    <div class="vacnMap__view__list"></div>
  </div>
  <div class="search_empty_container no_results_section">
    <div class="search_empty_img_section">
      <span class="motif-icon motif-search-1"></span>
    </div>
    <div class="search_empty_text_section">
      <p class="search_empty_location_text">No Results</p>
      <p class="search_empty_result_text"></p>
    </div>
  </div>
</section>
  <section class="loader">
    <div
      _ngcontent-lxi-c0=""
      class="text-align-center-loader"
      id="screen-loader-sec-id"
    >
      <div
        _ngcontent-lxi-c0=""
        class="modal-backdropP"
        id="modal-backdrop-div-id"
      ></div>
      <div _ngcontent-lxi-c0="" class="modalP" id="modal-div-id">
        <uxd-spinner _ngcontent-lxi-c0="" _nghost-lxi-c2="">
          <div _ngcontent-lxi-c2="" class="ant-loading-wrapper">
            <div _ngcontent-lxi-c2="" class="motif-spinner-heart">
              <span _ngcontent-lxi-c2=""></span
              ><span _ngcontent-lxi-c2=""></span
              ><span _ngcontent-lxi-c2=""></span
              ><span _ngcontent-lxi-c2=""></span
              ><span _ngcontent-lxi-c2=""></span
              ><span _ngcontent-lxi-c2=""></span
              ><span _ngcontent-lxi-c2=""></span>
            </div>
          </div>
        </uxd-spinner>
      </div>
    </div>
  </section>
</section>
<script
    async
    src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&s=1"
></script>
