.cmp-accordion .cmp-accordion__button {
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
}

.cmp-accordion .cmp-accordion__acc__icon {
  font-size: 1rem;
  color: #286ce2;
}

.cmp-accordion .cmp-accordion__acc__icon.motif-icon {
  font-weight: bold;
}

.cmp-accordion .cmp-accordion__acc__icon.fa.fa-minus {
  font-family: "FontAwesome" !important;
}
.cmp-accordion .cmp-accordion__title {
  padding-left: 16px;
  font-family: "Lato-Regular";
  font-size: 1.125rem;
  line-height: 1.33;
  color: #333333;
  font-weight: normal;
  text-transform: none !important;
}

.cmp-accordion .cmp-accordion__item {
  border-bottom: 1px solid #cccccc;
  padding: 32px 24px 30px;
}

.cmp-accordion .cmp-accordion__panel {
  padding: 12px 0 0;
  width: 85%;
}
.cmp-accordion .cmp-accordion__panel p {
  font-family: "Lato-Regular";
  font-size: 1rem;
  color: #000000;
  width: 100%;
  line-height: 1.375rem;
  margin-top: 0;
}

.cmp-accordion .cmp-accordion__panel a {
  font-family: "Lato-Regular";
  font-size: 1rem;
  color: #286ce2;
}

.cmp-accordion .cmp-accordion__panel h6 {
  font-size: 1rem;
  color: #000000;
  font-family: "Lato-Bold";
  margin: 0;
}

.cmp-accordion .cmp-accordion__panel span {
  font-size: 1rem;
  font-family: "Lato-Regular";
  color: #000000;
  display: block;
  margin: 4px 0;
}

.cmp-accordion .cmp-accordion__header {
  visibility: visible !important;
  margin: 0;
}

.aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--12 {
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .cmp-accordion .cmp-accordion__item {
    padding: 16px 0;
  }

  .cmp-accordion .cmp-accordion__panel p,
  .cmp-accordion .cmp-accordion__panel a,
  .cmp-accordion .cmp-accordion__panel h6,
  .cmp-accordion .cmp-accordion__panel span {
    font-size: 0.75rem;
  }
}
