<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories='anthem.component.timeline'}"
/>
<a
  rel="noopener noreferrer"
  aria-label="go to timeline arrow"
  target="_blank"
  href="${properties.timelineLink @extension='html'}"
  x-cq-linkchecker="skip"
  class="timeline__container ${properties.width}"
>
  <div class="timeline__left__section">
    <div
      data-sly-test="${properties.timelineImage}"
      class="timeline__img__block"
    >
      <img
        src="${properties.timelineImage}"
        alt="${properties.timelineAltText}"
        role="presentation"
      />
    </div>
    <div class="timeline__details__block">
      <div class="timeline__text__milestone">
        ${properties.upcomingMilestone}
      </div>
      <div class="timeline__text__days">${properties.subHeading}</div>
      <div class="timeline__text__milestone timeline__text__date">
        <span>${properties.startDateLabel}</span>
        <span>${'dd MMM yyyy' @format=properties.startDate}</span>
      </div>
    </div>
  </div>
</a>
