<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories='anthem.component.timelinedetails'}"
/>
<div
  data-sly-test="${wcmmode.edit}"
  class="cq-placeholder"
  data-emptytext="Timeline Details Component"
></div>
<div class="timelineDetails__container">
  <div class="stepper__image">
    <img
      src="${properties.timelineSectionStepperIcon}"
      alt="Stepper"
      role="presentation"
    />
  </div>
  <span class="header__text">${properties.mainHeading}</span>
  <div class="timelineDetails__info">
    <div class="timeline__image">
      <img
        src="${properties.stageSectionImage}"
        alt="timelineImage"
        role="presentation"
      />
    </div>
    <div class="timelineInfo__details">
      <span class="infoDetails__date">${properties.shortTitle}</span>
      <span class="infoDetails__stage">${properties.subHeading}</span>
      <p class="infoDetails__text">${properties.description}</p>
    </div>
    <div
      class="timelineSignup__content"
      data-sly-test="${properties.buttonLabel}"
    >
      <a
        href="${properties.buttonCta @extension=(properties.externalLink=='true'? '':'html')}"
        target="${properties.linkTarget}"
        rel="noopener noreferrer"
        class="timeline__signup"
      >
        <span class="signup__text">${properties.buttonLabel}</span>
      </a>
    </div>
  </div>
  <sly
    data-sly-use.milestoneList="com.anthem.hrportal.core.models.TimelineDetailModel"
  ></sly>
  <div class="card__list__container">
    <sly data-sly-list.list="${milestoneList.milestoneListItems}">
      <div class="card__container">
        <div class="card__img__border"></div>
        <div class="card__img">
          <img
            src="${list.milestoneImage}"
            alt="profile image"
            role="presentation"
          />
        </div>
        <div class="card__text__section">
          <div class="card__text__header">${list.milestoneTitle}</div>
          <div class="card__text__description">
            <p>${list.milestoneSubheading}</p>
          </div>
          <div class="card__icon">
            <div class="card__milestone" style="background: #00d795">
              <span class="milestone__text">${list.milestoneLabel}</span>
            </div>
          </div>
        </div>
      </div>
    </sly>
  </div>
</div>
