.contactus__container {
  width: 100%;
}

.contactus__container .header__text {
  font-family: "Lato-Bold";
  margin-top: 36px;
  display: block;
  font-size: 1rem;
  line-height: normal;
  color: #003274;
}

.contactus__container .author__contact__container {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contactus__container .author__contact__container .contactus__info {
  width: 360px;
  margin: 48px 16px 16px 0;
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
}

.contactus__container
  .author__contact__container
  .contactus__info
  .author__img__border {
  width: 94px;
  height: 94px;
  z-index: 50;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  border-radius: 50px;
  box-shadow: 0 2px 11px 0 rgb(62 62 62 / 18%);
  border: solid 1px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.contactus__container
  .author__contact__container
  .contactus__info
  .author__img {
  width: 82px;
  height: 82px;
  background-color: transparent;
  border-radius: 50px;
  position: absolute;
  background: #ffffff;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  z-index: 100;
}

.contactus__container
  .author__contact__container
  .contactus__info
  .author__img
  > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 30px;
}

.contactus__container
  .author__contact__container
  .contactus__info
  .author__details {
  width: 100%;
  background: #ffffff;
  padding: 36px 24px 24px;
  z-index: 75;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 11px 0 rgb(62 62 62 / 18%);
  border: solid 1px rgba(0, 0, 0, 0.08);
}

.contactus__container
  .author__contact__container
  .contactus__info
  .author__details
  .author__name {
  font-family: "Lato-Bold";
  text-transform: uppercase;
  font-size: 1rem;
  line-height: normal;
  color: #000;
  display: block;
  margin: 18px 0 6px;
}

.contactus__container
  .author__contact__container
  .contactus__info
  .author__details
  .author__post {
  font-family: "Lato-Regular";
  font-weight: normal;
  font-size: 1rem;
  line-height: 24px;
  display: inline-block;
  color: #6d7278;
}

.contactus__container
  .author__contact__container
  .author__details
  .author__linkedin {
  display: flex;
  margin-top: 12px;
  justify-content: center;
  line-height: normal;
}

.contactus__container
  .author__contact__container
  .author__details
  .author__linkedin
  .linkedin__img {
  width: 16px;
  height: 16px;
}

.contactus__container
  .author__contact__container
  .author__details
  .author__linkedin
  .linkedin__img
  > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.contactus__container
  .author__contact__container
  .author__details
  .author__linkedin
  .author__id {
  font-family: "Lato-Bold";
  font-size: 1rem;
  margin-left: 12px;
  color: #286ce2;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .contactus__container .header__text {
    margin-bottom: 16px;
  }

  .contactus__container .author__contact__container {
    margin-bottom: 16px;
  }

  .contactus__container .author__contact__container .contactus__info {
    width: 100%;
    margin-right: 0;
  }

  .contactus__container
    .author__contact__container
    .contactus__info
    .author__details {
    padding: 36px 22px 24px 16px;
  }
}
