<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories='anthem.component.horizontal'}"
/>

<div
  data-sly-test="${wcmmode.edit}"
  class="cq-placeholder"
  data-emptytext="Horizontal Cards List"
></div>

<sly
  data-sly-use.card="com.anthem.hrportal.core.models.CardList"
  data-sly-call="${cards @ card=card}"
/>
<div data-sly-template.cards="${ @ card }">
  <div class="card__carousel">
    <span class="carousel__header">${properties.heading}</span>
    <ul class="owl-carousel owl-theme horizontal__card__list">
      <sly data-sly-list="${card.cardlist}">
        <li class="horizontal__card__list__item">
          <a
            class="events__card"
            href="${item.path @ extension='html'}"
            target="_self"
            rel="noopener noreferrer"
          >
            <div
              data-sly-test="${item.image || item.eventImage}"
              class="events__resource"
            >
              <img
                src="${item.image || item.eventImage}"
                alt="${item.altText || item.alt}"
                role="presentation"
              />
            </div>
            <div data-sly-test="${item.video}" class="events__resource video">
              <img
                src="${item.video  || '/content/dam/gatewaytoanthem/sample/fallback.png'}"
                alt="video"
              />
              <div class="video__play__icon">
                <img
                  src="/content/dam/gatewaytoanthem/sample/video_play_arrow.png"
                  alt="video play icon"
                />
              </div>
            </div>
            <div class="events__info">
              <p class="events__title">${item.pageTitle}</p>
              <p class="events__desc">
                ${ 'dd/MM/yyyy' @ format=item.startDate || item.publishDate}
                <sly data-sly-test="${item.startTime}">
                  @ ${ 'hh:mm a' @ format=item.startTime}</sly
                >
              </p>
            </div>
          </a>
        </li>
      </sly>
    </ul>
    <a
      data-sly-test="${properties.listFrom=='tags'}"
      href="${properties.tagsSearchRoot || currentPage.path @ extension='html'}"
      rel="noopener noreferrer"
      target="_blank"
      class="events__page__redirect"
      aria-label="View All Button"
    >
      ${properties.viewAll}
    </a>
    <a
      data-sly-test="${properties.listFrom=='static'}"
      href="${properties.staticRoot || currentPage.path @ extension='html'}"
      rel="noopener noreferrer"
      target="_blank"
      class="events__page__redirect"
      aria-label="View All Button"
    >
      ${properties.viewAll}
    </a>
    <a
      data-sly-test="${properties.listFrom=='children'}"
      href="${properties.parentPage || currentPage.path @ extension='html'}"
      rel="noopener noreferrer"
      target="_blank"
      class="events__page__redirect"
      aria-label="View All Button"
    >
      ${properties.viewAll}
    </a>
  </div>
</div>

<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.js @ categories='anthem.component.horizontal'}"
/>
