<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories=['anthem.base','anthem.urlrewrite']}"/>
</sly>
<sly data-sly-test="${request.serverName == 'anthem-prod1.adobecqms.net' || request.serverName == 'www.communitycareexplorer.com' || request.serverName == 'communitycareexplorer.com' || request.serverName == 'www.anthem.com' || request.serverName == 'anthem.com' || request.serverName == 'www.empireblue.com' || request.serverName == 'empireblue.com'}">
        <script type="text/javascript">_satellite.pageBottom();</script>
 </sly>
 <sly data-sly-test="${request.serverName == 'anthem-uat2.adobecqms.net' || request.serverName == 'anthem-stage.adobecqms.net' || request.serverName == 'anthem-qa1.adobecqms.net' || request.serverName == 'anthem-dev3.adobecqms.net'}">
        <script type="text/javascript">_satellite.pageBottom();</script>
</sly>