<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="canonical" href="https://anthem.site${currentPage.path @ extension= 'html' }" />
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
	<sly data-sly-call="${clientlib.css @ categories='anthem.base'}" />
</sly>

<meta name="theme-color" content="#FFEA00">
<sly data-sly-test="${request.serverName == 'anthem-prod1.adobecqms.net' || request.serverName == 'www.gatewaytoanthem.com' || request.serverName == 'gatewaytoanthem.com'}">
   <script src="//assets.adobedtm.com/77d981f695af/25d693d21b9e/launch-4a679c0f56cd.min.js"></script>
</sly>
<sly data-sly-test="${request.serverName == 'anthem-uat2.adobecqms.net' || request.serverName == 'anthem-stage.adobecqms.net' || request.serverName == 'anthem-qa1.adobecqms.net' || request.serverName == 'anthem-dev3.adobecqms.net'}">
   <script src="//assets.adobedtm.com/77d981f695af/25d693d21b9e/launch-a50ebd39d9e5-development.min.js"></script>
</sly>