.vacnSearch {
  background: linear-gradient(#286ce2 0, #286ce2 100%) no-repeat;
  background-size: cover;
  padding: 48px 76px 36px;
  box-sizing: border-box;
}

.vacnSearch .vacnSearch__wrap {
  max-width: 1680px;
  margin: 0 auto;
}

.vacnSearch .vacnSearch__title {
  width: 100%;
  color: #ffffff;
  font-size: 2rem;
  font-family: "Montserrat-Medium";
  font-weight: 500;
  margin: 0;
}

.vacnSearch .vacnSearch__desc {
  width: 100%;
  color: #ffffff;
  font-size: 0.875rem;
  font-family: "Lato-Regular";
  font-weight: normal;
  line-height: 22px;
  margin: 8px 0 0;
}

.vacnSearch .vacnSearchBox {
  width: 100%;
  display: flex;
  margin: 32px 0;
}

.vacnSearch .vacnSearchBox .vacnInput {
  display: flex;
  height: 52px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .vacnSearch {
    padding: 16px;
  }
  .vacnSearch .vacnSearch__title {
    color: #ffffff;
    font-size: 1.375rem;
    font-family: "Montserrat-Regular";
    font-weight: normal;
  }
  .vacnSearch .vacnSearch__desc {
    font-size: 0.75rem;
  }
}

/* Styling for search box */

.vacnSearch .vacnSearch__wrap .vacnSearch__input {
  width: calc(100% - 204px);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  position: relative;
}

.vacnSearch .vacnSearch__wrap .vacnSearch__input .vacnSearch__input__search {
  padding: 11px 11px 7px;
  width: 45px;
  box-sizing: border-box;
}

.vacnSearch
  .vacnSearch__wrap
  .vacnSearch__input
  .vacnSearch__input__search
  > span {
  font-size: 1.6rem;
  color: #286ce2;
}

.vacnSearch .vacnSearch__wrap .vacnSearch__input .vacnSearch__input__searchBox {
  width: calc(100% - 45px);
}

.vacnSearch
  .vacnSearch__wrap
  .vacnSearch__input
  .vacnSearch__input__searchBox
  .vacnSearch__input__searchBox__text {
  border: none;
  line-height: normal;
  outline: none;
  width: 100%;
  font-family: "Lato-Regular";
  height: 22px;
  color: #666666;
  font-size: 1.125rem;
  font-weight: normal;
  text-overflow: ellipsis;
  padding: 0 10px 0 0;
  box-sizing: border-box;
}

/* Styles for autoComplete suggestion box */

.vacnSearch__input__list {
  position: absolute;
  top: 30.5px;
  z-index: 2000;
  width: 464px;
  left: 0;
  border: 1px solid #cbcbcb;
  border-top: none;
  padding: 8px 0;
  background-color: #ffffff;
  display: none;
}

.vacnSearch__input__list .vacnSearch__input__list__item {
  list-style-type: none;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.vacnSearch__input__list .vacnSearch__input__list__item:hover {
  background-color: #dcecf8;
}

.vacnSearch__input__list .vacnSearch__input__list__item:focus {
  background-color: #dcecf8;
  outline: none;
}

.vacnSearch__input__list__item__logo > span {
  margin-right: 12px;
  font-size: 1.25rem;
  color: #202020;
}

.vacnSearch__input__list__item__info {
  font-family: "Roboto", Sans-Serif;
  white-space: normal;
  text-overflow: ellipsis;
}

.vacnSearch__input__list__item__info > h6 {
  font-size: 0.875rem;
  font-weight: normal;
  margin: 0;
  text-transform: none;
  font-family: "Roboto", Sans-Serif;
}

.vacnSearch__input__list__item__info > span {
  font-size: 0.8125rem;
}

.vacnInput__wrap {
  display: flex;
  margin: 32px 0 0;
}

@media screen and (max-width: 767px) {
  .vacnInput__wrap {
    flex-direction: column;
    margin: 16px 0 0;
  }
  .vacnSearch
    .vacnSearch__wrap
    .vacnSearch__input
    .vacnSearch__input__searchBox
    .vacnSearch__input__searchBox__text {
    font-size: 1rem;
    padding: 0 10px 0 0;
  }
  .vacnSearch .vacnSearch__wrap .vacnSearch__input .vacnSearch__input__search {
    padding: 15px 0px 7px 14px;
  }
  .vacnSearch .vacnSearch__wrap .vacnSearch__input {
    width: 100%;
  }
}

@media screen and (max-width: 466px) {
  .vacnSearch__input__list {
    width: 272px;
  }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
  .vacnSearch__input__list {
    width: 400px;
  }
}

/* Styling for Filter section */

.resultsFilter__dist {
  display: flex;
  position: relative;
  width: 204px;
}

.resultsFilter__title {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #333;
  font-family: "Lato-SemiBold";
}

.resultsFilter__dist .resultsFilter__select {
  background: #fff;
  border: 1px solid #ffffff;
  border-left: 1px solid #cccccc;
  outline: none;
  position: relative;
  padding: 14px 24px;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: "Lato-Regular";
  line-height: 1.42;
  display: flex;
  align-items: center;
  color: #333;
  margin: 0;
  cursor: pointer;
  width: 100%;
}

.resultsFilter__select .dropdown {
  margin-left: 22px;
  font-size: 0.5rem;
}

.resultsFilter__select .dropdown--rot {
  transform: rotate(180deg);
}

.resultsFilter__dist .resultsFilter__list {
  border: thin solid #949494;
  border-top: none;
  cursor: pointer;
  padding: 0;
  margin-top: 0;
  display: none;
  position: absolute;
  left: 0;
  top: 49px;
  width: calc(100% - 1px);
  z-index: 999;
}

.resultsFilter__dist .resultsFilter__list .filterList__item {
  list-style-type: none;
  padding: 14px 24px;
  background-color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: "Lato-Regular";
  line-height: 1.42;
  color: #333;
  box-sizing: border-box;
}

.resultsFilter__dist .resultsFilter__list .filterList__item:hover,
.resultsFilter__dist .resultsFilter__list .focus {
  background-color: #286ce2;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .resultsFilter__dist {
    width: 100%;
    margin-top: 16px;
  }
  .resultsFilter__dist .resultsFilter__select {
    display: flex;
    justify-content: space-between;
  }
}
