<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.all @ categories='anthem.component.textimagecard'}"
/>
<div
  data-sly-test="${wcmmode.edit}"
  class="cq-placeholder"
  data-emptytext="Text w/ Image or Card Variation Component"
></div>

<div
  class="text__image__section ${properties.textPosition @ context='styleToken'} ${properties.selectVariation @ context='styleToken'}"
>
  <div class="text__section">
    <span class="text__section__title" data-sly-test="${properties.maintitle}">
      ${properties.maintitle}
    </span>
    <p class="text__section__desc">${properties.text @ context='html'}</p>
    <a
      href="${properties.readMoreCta}.html"
      rel="noopener noreferrer"
      target="_blank"
      class="read__more__btn"
      data-sly-test="${properties.enableReadMore == 'true'}"
      >${properties.readMoreLabel}</a
    >
  </div>
  <div
    class="image__section"
    data-sly-test="${properties.selectVariation == 'text__image'}"
  >
    <img src="${properties.image}" alt="Image" role="presentation" />
  </div>
  <div
    class="cta__card__section"
    data-sly-test="${properties.selectVariation == 'text__cta__card'}"
  >
    <a
      class="events__card"
      href="${properties.cta}"
      target="${properties.linkTarget}"
      rel="noopener noreferrer"
    >
      <div class="events__resource">
        <img
          src="${properties.cardImage}"
          alt="EventsImage"
          role="presentation"
        />
      </div>
      <div class="events__info">
        <p class="events__title">${properties.title}</p>
        <p class="events__desc">${properties.subTitle}</p>
      </div>
    </a>
  </div>
</div>
