<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories='anthem.base'}"/>
<sly data-sly-test="${request.serverName == 'anthem-prod1.adobecqms.net' || request.serverName == 'www.communitycareexplorer.com' || request.serverName == 'communitycareexplorer.com' || request.serverName == 'www.anthem.com' || request.serverName == 'anthem.com' || request.serverName == 'www.empireblue.com' || request.serverName == 'empireblue.com'}">
   <script src="//assets.adobedtm.com/77d981f695af/623f1918ec1a/launch-32c19e059a7c.min.js"></script>
</sly>
<sly data-sly-test="${request.serverName == 'anthem-uat2.adobecqms.net' || request.serverName == 'anthem-stage.adobecqms.net' || request.serverName == 'anthem-qa1.adobecqms.net' || request.serverName == 'anthem-dev3.adobecqms.net'}">
   <script src="//assets.adobedtm.com/77d981f695af/9fa281512898/launch-acb013f8978b-development.min.js"></script>
</sly>