<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.all @ categories='anthem.covid.component.vaccinebannersearch'}"
/>
<section class="vacnSearch">
  <div class="vacnSearch__wrap">
    <h1 data-sly-test="${properties.vaccineTitle}" class="vacnSearch__title">${properties.vaccineTitle}</h1>
    <p data-sly-test="${properties.vaccineDescription}" class="vacnSearch__desc">
      ${properties.vaccineDescription}
    </p>
    <div class="vacnInput__wrap">
      <div class="vacnSearch__input">
        <div class="vacnSearch__input__search">
          <span class="motif-icon motif-search-1"></span>
        </div>
        <div class="vacnSearch__input__searchBox">
          <input
            placeholder="${properties.searchPlaceholder}"
            autocomplete="off"
            class="vacnSearch__input__searchBox__text"
          />
        </div>
        <ul class="vacnSearch__input__list"></ul>
      </div>
      <div class="resultsFilter__dist">
        <button class="resultsFilter__select">
          <span class="resultsFilter__info">Within 25 Miles</span>
          <span class="motif-icon motif-sort-down-filled dropdown"></span>
        </button>
        <ol class="resultsFilter__list">
          <li class="filterList__item" value="2">2 Miles</li>
          <li class="filterList__item" value="5">5 Miles</li>
          <li class="filterList__item" value="10">10 Miles</li>
          <li class="filterList__item" value="20">20 Miles</li>
          <li class="filterList__item" value="25">25 Miles</li>
          <li class="filterList__item" value="30">30 Miles</li>
        </ol>
      </div>
    </div>
  </div>
</section>
