.eventDetails__container {
  width: 100%;
  box-sizing: border-box;
  padding: 36px 0 24px;
  margin: 0;
}

.eventDetails__container .detailswrap {
  display: flex;
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.detailswrap .detailswrap__img {
  width: 269px;
  height: 252px;
  display: block;
}

.detailswrap .detailswrap__cont {
  width: calc(100% - 269px);
  padding: 24px;
  box-sizing: border-box;
}

.detailswrap .detailswrap__cont .detailswrap__info .share__mob__view {
  display: flex;
  flex-direction: column;
}

.detailswrap .detailswrap__img > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.detailswrap .detailswrap__cont .detailswrap__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.detailswrap .detailswrap__cont .detailswrap__info > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.detailswrap .detailswrap__cont .detailswrap__info .event__tag {
  padding: 0 12px 0 30px;
  opacity: 0.5;
  border-radius: 12px;
  background-color: #cae0ef;
  display: flex;
  height: 24px;
}

.detailswrap__info .event__tag .tag__image {
  width: 12px;
  height: 13px;
  display: none;
}

.detailswrap__info .event__tag .tag__image > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.detailswrap__info .event__tag > span {
  font-family: "Lato-Regular";
  font-size: 0.75rem;
  line-height: 2;
  color: #333333;
  margin-left: 4px;
}
.detailswrap .detailswrap__cont .events__links .detailswrap__meet__link {
  font-family: "Lato-Bold";
  font-size: 1rem;
  line-height: normal;
  color: #ffffff;
  padding: 10px 24px 11px 25px;
  border-radius: 8px;
  cursor: pointer;
  background-image: linear-gradient(to right, #58abdf, #286ce2 100%);
}

.detailswrap .detailswrap__cont .events__links {
  display: flex;
  align-items: center;
  position: relative;
}
.detailswrap .detailswrap__cont .events__links .events__options {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #e9f0fc;
  color: #286ce2;
  font-size: 1.5rem;
  transform: rotate(-90deg);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  cursor: pointer;
}
.detailswrap .detailswrap__cont .events__links .events__options:hover,
.detailswrap .detailswrap__cont .events__links .events__options.active {
  background-color: #fff;
  border: solid 1px #286ce2;
}
.detailswrap .detailswrap__cont .events__links .events__share__link {
  position: absolute;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 11px 0 rgba(62, 62, 62, 0.18);
  top: 45px;
  left: 152px;
  display: none;
}

.detailswrap .detailswrap__cont .events__links .events__share__link .motif-icon,
.detailswrap .detailswrap__cont .events__links .events__share__link .fa {
  margin-right: 8px;
}
.detailswrap
  .detailswrap__cont
  .events__links
  .events__share__link
  .events__interact {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #949494;
}

.detailswrap
  .detailswrap__cont
  .events__links
  .events__share__link
  .events__interact:hover {
  color: #286ce2;
}

.detailswrap
  .detailswrap__cont
  .events__links
  .events__share__link
  .events__share {
  margin-top: 8px;
}

.detailswrap .detailswrap__cont .events__links .events__share__link span {
  font-family: "Lato-Regular";
  font-size: 1rem;
  line-height: normal;
}

.detailswrap .detailswrap__cont .detailswrap__cont__title {
  font-family: "Bitter-Medium";
  font-size: 1.5rem;
  color: #003274;
  font-weight: 500;
  line-height: normal;
  text-transform: none;
  margin: 0;
}

.detailswrap .detailswrap__cont .detailswrap__meet__date {
  font-family: "Lato-Regular";
  font-size: 1rem;
  color: #6d7278;
  margin: 4px 0 0;
  line-height: 1.5;
}

.detailswrap .detailswrap__cont .detailswrap__cont__desc {
  font-family: "Lato-Regular";
  font-size: 1rem;
  color: #333333;
  margin: 20px 0;
  width: 100%;
  line-height: 1.5;
}

.detailswrap .detailswrap__cont .detailswrap__img {
  display: none;
}

.margin__top {
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .detailswrap .detailswrap__cont .detailswrap__info .share__mob__view {
    padding-bottom: 24px;
  }

  .detailswrap .detailswrap__cont .detailswrap__cont__title {
    font-size: 1.125rem;
  }
  .detailswrap .detailswrap__cont .detailswrap__meet__date {
    font-size: 0.75rem;
  }
  .detailswrap .detailswrap__img {
    width: 100%;
    height: 177px;
    margin: 16px 0;
  }
  .detailswrap .detailswrap__cont .detailswrap__cont__desc {
    margin: 0 0 24px;
    font-size: 0.75rem;
    line-height: 1.83;
  }
  .eventDetails__container {
    padding: 32px 0 24px;
  }
  .detailswrap .detailswrap__img {
    display: none;
  }
  .detailswrap .detailswrap__cont .detailswrap__img > img {
    border-radius: 8px;
  }
  .detailswrap .detailswrap__cont .detailswrap__img {
    display: block;
  }
  .detailswrap .detailswrap__cont {
    padding: 12px 12px 24px;
  }
  .detailswrap .detailswrap__cont {
    width: 100%;
  }
  .detailswrap .detailswrap__cont .events__links .events__share__link span {
    font-size: 0.75rem;
  }
  .detailswrap .detailswrap__cont .events__links .events__share__link {
    padding: 12px;
  }
}
