.cmp-text > p,
.cmp-text > ul > li,
.cmp-text > ol > li,
.cmp-text > pre {
  margin: 6px 0 0;
  line-height: 1.38;
  font-size: 1rem;
  font-family: "Lato-Regular";
  color: #333333;
}

.cmp-text a {
  color: #286ce2;
  text-decoration: underline !important;
}

.cmp-text > p > b {
  font-family: "Lato-Bold";
}
.cmp-text > h1 {
  font-size: 2rem;
  font-family: "Bitter-Medium";
  text-transform: none !important;
  font-weight: 500;
  color: #333333;
}

.cmp-text > h2 {
  font-size: 1.625rem;
  font-family: "Bitter-Medium";
  text-transform: none !important;
  font-weight: 500;
  color: #333333;
}

.cmp-text > h3 {
  font-size: 1.375rem;
  font-family: "Bitter-Medium";
  text-transform: none !important;
  font-weight: 500;
  color: #333333;
}

.cmp-text > h4 {
  font-size: 1.375rem;
  font-family: "Bitter-Medium";
  text-transform: none !important;
  font-weight: 500;
  color: #333333;
}

.cmp-text > h5 {
  font-size: 1.125rem;
  font-family: "Bitter-Medium";
  text-transform: none !important;
  font-weight: 500;
  color: #333333;
}

.cmp-text > h6 {
  font-size: 1rem;
  font-family: "Lato-Bold";
  color: #003274 !important;
  text-transform: none !important;
}

.cmp-text > blockquote {
  font-size: 1.5rem;
  font-family: "Bitter-Medium";
  font-weight: 500 !important;
  color: #333333 !important;
  display: flex;
}

.cmp-text > blockquote::before {
  height: 48px;
  border-radius: 3px;
  border: 2px solid #006ece;
  border-right: none;
  margin: 5px 12px 0 0;
  content: "";
}
