<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.all @ categories='anthem.covid.component.header'}"
/>
<div class="headerWrap">
  <div id="server-name" style="display: none">${request.serverName}</div>
  <sly data-sly-test="${ !properties.headerLogo && !properties.headerText }">
    <a
      x-cq-linkchecker="skip"
      class="headerWrap__logo anthem__logo"
      href=""
      target="${properties.ctaTarget}"
      rel="noopener noreferrer"
      aria-label="Anthem"
    >
      <img src="" alt="header-logo" role="presentation" />
    </a>
  </sly>
  <sly data-sly-test="${properties.headerLogo}">
    <a
      x-cq-linkchecker="skip"
      class="headerWrap__logo"
      href="${properties.headerCta}"
      target="${properties.ctaTarget}"
      rel="noopener noreferrer"
      aria-label="Anthem"
    >
      <img
        src="${properties.headerLogo}"
        alt="header-logo"
        role="presentation"
      />
    </a>
  </sly>
  <sly data-sly-test="${properties.headerText}">
    <div class="headerWrap__info">
      <a
        x-cq-linkchecker="skip"
        href="${properties.headerCta}"
        class="headerWrap__info__name"
        target="${properties.ctaTarget}"
        rel="noopener noreferrer"
        >${properties.headerText}</a
      >
    </div>
  </sly>
  <div class="hamburger__menu">
    <span
      id="menu__icon"
      class="motif-icon motif-menu"
      aria-hidden="true"
    ></span>
  </div>
</div>
