<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories='anthem.component.tabs'}"
/>
<div
  data-sly-use.tabs="com.adobe.cq.wcm.core.components.models.Tabs"
  data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
  id="${tabs.id}"
  class="cmp-tabs"
  data-cmp-is="tabs"
  data-cmp-data-layer="${tabs.data.json}"
>
  <ol
    data-sly-test="${tabs.items && tabs.items.size > 0}"
    data-sly-list.tab="${tabs.items}"
    role="tablist"
    class="cmp-tabs__tablist cmp-tabs__expanded"
    aria-label="${tabs.accessibilityLabel}"
    aria-multiselectable="false"
  >
    <sly data-sly-test.isActive="${tab.name == tabs.activeItem}" />
    <li
      role="tab"
      id="${tab.id}-tab"
      class="cmp-tabs__tab${isActive ? ' cmp-tabs__tab--active' : ''}"
      aria-controls="${tab.id}-tabpanel"
      tabindex="0"
      data-cmp-hook-tabs="tab"
    >
      ${tab.title}
    </li>
  </ol>

  <span class="tab__dropdown__icon motif-icon motif-angle-down"></span>
  <div
    data-sly-repeat.item="${tabs.items}"
    data-sly-resource="${item.name @ decorationTagName='div'}"
    id="${item.id}"
    role="tabpanel"
    aria-labelledby="${item.id}"
    tabindex="0"
    class="cmp-tabs__tabpanel${item.name == tabs.activeItem ? ' cmp-tabs__tabpanel--active' : ''}"
    data-cmp-hook-tabs="tabpanel"
    data-cmp-data-layer="${item.data.json}"
  ></div>
  <sly
    data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar', appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}"
    data-sly-test="${(wcmmode.edit || wcmmode.preview) && tabs.items.size < 1}"
  ></sly>
</div>
