.banner_tile_container {
  background: linear-gradient(#286ce2 0, #286ce2 100%) no-repeat;
  padding: 45px 76px;
  text-align: left;
}
.banner_tile_container .banner_tile_header {
  max-width: 1680px;
  margin: 0 auto;
}
.banner_tile_container .banner_tile_header_text {
  color: #ffffff;
  font-size: 2rem;
  font-family: "Montserrat-Medium";
  font-weight: 500;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .banner_tile_container {
    padding: 16px;
  }

  .banner_tile_container .banner_tile_header_text {
    font-size: 1.675rem;
    font-family: "Montserrat-Regular";
  }
}
