/* Styling for accessibility */
body:not(.show-focus-outlines) button:focus,
body:not(.show-focus-outlines) [tabindex]:focus {
  outline: none;
}

.login__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#loginform {
  width: 100%;
  margin-top: 24px;
}

.anthem__login #errordiv {
  margin-top: 16px;
  padding: 8px 16px;
  border: solid 1px #d20a3c;
  align-items: center;
  background-color: rgba(210, 10, 60, 0.1);
  display: none;
}

.anthem__login #errordiv > .motif-icon {
  color: #d20a3c;
  font-size: 1rem;
  transform: rotate(180deg);
}

.anthem__login #errordiv p {
  font-family: "Lato-Regular";
  font-size: 0.75rem;
  line-height: normal;
  color: #000000;
  margin: 0 0 0 12px;
  width: calc(100% - 16px);
}

.anthem__login #errordiv a {
  text-decoration: underline !important;
  font-family: "Lato-SemiBold";
}

.anthem__logo {
  width: 163px;
  height: 45px;
}

.anthem__logo > img {
  width: inherit;
  height: inherit;
}

.anthem__logo__title {
  display: flex;
  align-items: center;
}

.anthem__logo__title .anthem__brand {
  width: 184px;
  height: 51px;
}

.anthem__logo__title .logo__separator {
  width: 1px;
  margin: 0 17px 0 22px;
  background-color: #cccccc;
  height: 100%;
}

.anthem__logo__title .anthem__brand > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.login__wrapper .anthem__login {
  margin-top: 60px;
  width: 384px;
  display: flex;
  flex-direction: column;
}

.login__wrapper .anthem__login p {
  font-family: "Lato-Regular";
  font-size: 1rem;
  line-height: normal;
  color: #6d7278;
  line-height: 24px;
  margin-top: 90px;
  text-align: center;
}

.login__wrapper .anthem__login a {
  text-decoration: underline !important;
  line-height: normal;
  color: #286ce2;
}

.content__align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__content {
  background-color: #ffffff;
  padding: 24px 116px 24px 116px;
  box-sizing: border-box;
  width: 70%;
  align-items: flex-start;
}

.login__content .anthem__login > h3 {
  font-family: "Bitter-Medium";
  font-size: 1.25rem;
  color: #333333;
  line-height: 1.2;
  margin: 0;
}

.login__buttons {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 384px;
  justify-content: space-between;
}

.login__buttons > #login {
  border: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  padding: 11px 24px;
  text-align: left;
  box-sizing: border-box;
  border-radius: 4px;
  background-image: linear-gradient(to right, #58abdf 1%, #286ce2 100%);
  font-family: "Lato-Bold";
  font-size: 1rem;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#loginform .loginform__field {
  position: relative;
  padding: 0 16px;
  border-radius: 4px;
  border: solid 1px #cccccc;
  background-color: #ffffff;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

#loginform .loginform__field > label {
  background-color: #ffffff;
  font-family: "Lato-Regular";
  font-size: 0.75rem;
  line-height: 1.83;
  color: #333333;
  padding: 2px 4px;
  box-sizing: border-box;
  position: absolute;
  top: -13px;
  z-index: 10;
  display: none;
}

#loginform .loginform__field .motif-icon {
  color: #949494;
  font-size: 1.5rem;
}

#loginform .loginform__field .input__focus {
  color: #286ce2;
}

.login__buttons > #login:disabled {
  color: #000000;
  opacity: 0.7;
  pointer-events: none;
  background-color: #ffffff;
}

.login__buttons > a {
  font-family: "Lato-Regular";
  font-size: 1.125em;
  color: #ffffff;
  text-decoration: none;
}

.loginform__field .loginform__password {
  position: relative;
  width: 100%;
}

.loginform__field .loginform__password > .motif-icon {
  position: absolute;
  top: 36%;
  cursor: pointer;
  right: 0;
  color: #949494 !important;
}

#loginform input {
  width: calc(100% - 24px);
  box-sizing: border-box;
  height: 56px;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #333333;
  font-size: 1rem;
  margin-left: 8px;
  font-family: "Lato-Regular";
}

#loginform input::-webkit-input-placeholder {
  color: #949494;
}

#loginform input :-ms-input-placeholder {
  color: #949494;
}

#loginform input ::placeholder {
  color: #949494;
}

.content__align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome__content {
  width: 30%;
  background-color: #e9f0fc;
  box-sizing: border-box;
  padding: 58px;
  align-items: flex-end;
}

.welcome__content .welcome__logo {
  width: 100%;
  max-width: 304px;
  height: 196px;
}

.welcome__content .welcome__logo > img {
  width: inherit;
  height: inherit;
}

.welcome__content > h1 {
  width: 100%;
  max-width: 288px;
  font-family: "Bitter-SemiBold";
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.19;
  color: #333333;
  margin: 32px 0 20px;
  text-align: center;
}

.welcome__content > p {
  width: 100%;
  max-width: 304px;
  font-family: "Lato-Regular";
  font-size: 1rem;
  line-height: 1.5;
  color: #333333;
  text-align: center;
}

.login {
  padding: 0;
}

body .root {
  padding-top: 0;
}

#loginform .loginform__field.invalid__form:nth-child(2) {
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .login__wrapper {
    flex-direction: column;
  }
  .welcome__content {
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    align-items: center;
  }
  .welcome__content .welcome__logo {
    width: 170px;
    height: 110px;
  }
  .welcome__content > h1 {
    width: 100%;
    max-width: unset;
    font-size: 1.125rem;
    margin: 16px 0 0;
  }
  .welcome__content > p {
    width: 100%;
    font-family: "Lato-Regular";
    font-size: 0.75rem;
    margin: 0;
    max-width: unset;
  }
  .anthem__logo {
    width: 98px;
    height: 27px;
  }
  .anthem__logo__title .anthem__brand {
    width: 122px;
    height: 33px;
  }
  .anthem__logo__title {
    order: 2;
    width: 100%;
    justify-content: center;
    margin: 36px 0 12px;
  }
  .login__content {
    padding: 24px 16px;
    width: 100%;
  }
  .login__wrapper .anthem__login {
    margin-top: 0;
    width: 100%;
  }
  .login__content .anthem__login > h3 {
    font-size: 1rem;
    text-align: center;
  }
  .login__buttons {
    width: 100%;
    min-width: unset;
  }
  #loginform .loginform__field:nth-child(2) {
    margin-bottom: 16px;
  }
  .login__wrapper .anthem__login p {
    font-size: 0.75rem;
    margin: 24px 0 0;
  }
  .login__buttons > #login {
    padding: 11px 16px 11px 24px;
  }
  #loginform #errordiv {
    margin: 0 0 16px 16px;
  }
}
