.cmp-tabs .cmp-tabs__tab {
  font-size: 1rem;
  font-family: "Lato-Bold";
  text-transform: none;
  max-height: none;
  min-width: 172px;
  color: #666666;
  padding: 12px 0;
  text-align: center;
  line-height: normal;
  background-color: #ffffff;
  border: solid 2px #666666;
  border-left-width: 1px;
  border-right-width: 1px;
}

.cmp-tabs .cmp-tabs__tab:last-child {
  border-right: solid 2px #666666;
}

.cmp-tabs .cmp-tabs__tab.cmp-tabs__tab--active:last-child {
  border-right: none;
}

.cmp-tabs .cmp-tabs__tab:not(:last-child) {
  border-right: solid 1px #666666;
}

.cmp-tabs .genericlist__wrapper {
  padding: 0;
  margin-top: 3px;
}

.cmp-tabs .cmp-tabs__tablist {
  margin-top: 36px;
}
.cmp-tabs .cmp-tabs__tab:hover,
.show-focus-outlines .cmp-tabs .cmp-tabs__tab:focus {
  border-color: #286ce2;
  color: #286ce2;
}

.cmp-tabs .cmp-tabs__tab--active,
.cmp-tabs .cmp-tabs__tab--active:hover,
.cmp-tabs .cmp-tabs__tab--active:focus,
.show-focus-outlines .cmp-tabs .cmp-tabs__tab--active:focus {
  background-image: linear-gradient(to right, #58abdf, #286ce2 100%);
  color: #ffffff;
  border: none;
}

@media screen and (max-width: 767px) {
}
