.cmp-navigation {
  padding-top: 0;
}
.cmp-navigation__item--level-0 > .cmp-navigation__item-link {
  display: block;
}

.cmp-navigation__group {
  display: flex;
  flex-direction: column;
}

.nav__container {
  width: 100%;
  -webkit-backdrop-filter: blur(38px);
  backdrop-filter: blur(38px);
  box-sizing: border-box;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.nav__header {
  padding: 20px 24px 7px;
}

.nav__header .header__text {
  font-family: "Bitter-Medium";
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 500;
  color: #333333;
  margin: 0;
}


.cmp-navigation__group .cmp-navigation__item .cmp-navigation__group {
  display: none;
}

.nav__container .author__info {
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 36px;
  border: solid 1px #006ece;
  background-color: #e8f0fd;
  display: flex;
  flex-direction: column;
}
.author__info .author__img {
  width: 37px;
  height: 37px;
  object-fit: cover;
}

.author__info .author__img > img {
  width: inherit;
  height: inherit;
  border-radius: 50px;
}

.author__info .author__details {
  width: 100%;
  font-family: "Lato-Regular";
  color: #000000;
}
.author__info .author__details > p {
  margin: 4px 0;
  font-size: 0.75rem !important;
  line-height: 1.83 !important;
  text-align: left;
}

.author__info .author__details > span {
  font-weight: bold;
  font-size: 0.75rem !important;
  line-height: 1.83 !important;
}
.nav__container .brand__logo {
  width: 108px;
  height: 30px;
  object-fit: cover;
  margin: auto;
}
.nav__container .brand__logo > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.nav__container .auth__container {
  padding: 36px 24px 36px;
}
.cmp-navigation__item-link:focus,
.cmp-navigation__item-link:hover {
  background-color: transparent;
}
.nav__container .cmp-navigation__group {
  padding: 0 4px 0 24px;
  margin: 0;
}
.nav__container > .cmp-navigation__group {
  padding: 20px 0 0;
}

.nav__container .cmp-navigation__group .cmp-navigation__item {
  list-style-type: none;
  padding: 16px 0;
  border-bottom: 1px solid #e9f0fc;
}
.nav__container .cmp-navigation__group .cmp-navigation__item > a {
  font-family: "Lato-Regular";
  font-size: 1rem;
  line-height: normal;
  text-transform: none;
  color: #333333;
  text-decoration: none;
  padding: 0;
}
.cmp-navigation__item--active > .cmp-navigation__item-link {
  color: #286ce2 !important;
}
.cmp-navigation__item .cmp-navigation__group .cmp-navigation__item {
  padding: 16px 0 0;
  border-bottom: none;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav__header .header__text {
    font-family: "Bitter-Medium";
    font-size: 1rem;
  }

  .nav__container .auth__container {
    padding: 36px 12px 36px;
  }
  .nav__container .cmp-navigation__group {
    padding: 0 4px 0 12px;
  }
  .nav__header {
    padding: 24px 12px 0;
  }
}

@media screen and (max-width: 767px) {
  .nav__container > .cmp-navigation {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #e5edfb #ffffff;
  }
  .nav__container .cmp-navigation__group .cmp-navigation__item {
    padding: 16px 0;
  }
  .nav__container .cmp-navigation__group {
    padding: 0 4px 0 16px;
  }

  /* Scroll bar styling for chrome and safari */
  .nav__container > .cmp-navigation::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 8px;
  }
  .nav__container > .cmp-navigation::-webkit-scrollbar {
    width: 4px;
    border-radius: 2.5px;
    background: #ffffff;
  }
  .nav__header {
    padding: 13px 16px 11px;
    z-index: 300;
    background: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(130, 168, 233, 0.4);
  }
  .nav__header .header__text {
    font-size: 0.8125rem;
  }

  .nav__container .auth__container {
    z-index: 300;
    padding: 20px 16px 36px;
    background: #ffffff;
    box-shadow: 0 -7px 5px -5px rgb(0 0 0 / 8%);
  }
  .author__info .author__img {
    width: 32px;
    height: 32px;
  }

  .nav__container .brand__logo {
    width: 80px;
    height: 22px;
  }
}
