.timelineDetails__container {
  position: relative;
  width: 100%;
  border-left: 3px dotted #286ce2;
  padding: 0 0 20px 40px;
  box-sizing: border-box;
  margin-left: 10px;
}
.timeline-details {
  margin-top: 36px;
}
.timeline-details ~ .timeline-details {
  margin-top: 0;
}
.timeline-details:last-child > .timelineDetails__container {
  padding-bottom: 0;
}
.timelineDetails__container .stepper__image {
  position: absolute;
  top: -12px;
  left: -32px;
  width: 60px;
  height: 60px;
}
.timelineDetails__container .stepper__image > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.timelineDetails__container .header__text {
  width: 438px;
  margin-bottom: 18px;
  font-family: "Bitter-Medium";
  font-size: 1.5rem;
  line-height: 1.25;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333333;
  display: block;
}

.timelineDetails__container .timelineDetails__info {
  width: calc(100% - 68px);
  padding: 24px;
  box-sizing: border-box;
  border-radius: 16px;
  background-image: linear-gradient(
    to right,
    #ffffff 52%,
    rgba(255, 255, 255, 0.1)
  );
  display: flex;
  box-shadow: 0 16px 32px 0 rgb(0 0 0 / 10%);
  background-color: #ffffff;
}

.timelineDetails__container .timelineDetails__info .timeline__image {
  width: 132px;
  height: 142px;
  margin-right: 36px;
}

.timelineDetails__container .timelineDetails__info .timeline__image > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.timelineDetails__container .timelineDetails__info .timelineInfo__details {
  width: calc(100% - 288px);
}

.timelineDetails__container
  .timelineDetails__info
  .timelineInfo__details
  .infoDetails__date {
  margin-bottom: 4px;
  font-family: "Lato-Regular";
  font-size: 0.75rem;
  line-height: 1.83;
  color: #333333;
  display: block;
}

.timelineDetails__container
  .timelineDetails__info
  .timelineInfo__details
  .infoDetails__stage {
  margin-bottom: 8px;
  font-family: "Bitter-Medium";
  font-size: 1.5rem;
  line-height: 1.25;
  color: #003274;
  display: block;
}

.timelineDetails__container
  .timelineDetails__info
  .timelineInfo__details
  .infoDetails__text {
  width: 80%;
  margin: 0;
  font-family: "Lato-Regular";
  font-size: 1rem;
  line-height: 1.5;
  color: #6d7278;
}

.timelineDetails__container .timelineDetails__info .timelineSignup__content {
  display: flex;
  align-items: flex-end;
}

.timelineDetails__container
  .timelineDetails__info
  .timelineSignup__content
  .timeline__signup {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #58abdf, #286ce2 100%);
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timelineDetails__container
  .timelineDetails__info
  .timelineSignup__content
  .timeline__signup
  .signup__text {
  font-family: "Lato-Bold";
  font-size: 1rem;
  line-height: normal;
  color: #ffffff;
}

.timelineDetails__container .card__list__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
}

.timelineDetails__container .card__container {
  display: flex;
  width: 264px;
  margin: 48px 16px 16px 0;
  position: relative;
}

.timelineDetails__container .card__container .card__img__border {
  width: 96px;
  height: 96px;
  z-index: 50;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  border-radius: 50px;
  box-shadow: 0 2px 11px 0 rgb(62 62 62 / 18%);
  border: solid 1px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.timelineDetails__container .card__container .card__img {
  width: 84px;
  height: 84px;
  position: absolute;
  background: #ffffff;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  z-index: 100;
  border-radius: 50px;
}
.timelineDetails__container .card__container .card__img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 50px;
}
.timelineDetails__container .card__container .card__icon .card__milestone {
  font-family: "Lato-Regular";
  font-size: 0.75rem;
  color: #333333;
  border-radius: 12px;
  padding: 6px 12px 6px 28px;
  width: fit-content;
  text-transform: capitalize;
  margin-top: 12px;
  display: flex;
  justify-content: center;
}
.timelineDetails__container
  .card__container
  .card__icon
  .card__milestone
  .milestone__text {
  margin-left: 4px;
}
.timelineDetails__container .card__container .card__text__section {
  width: 100%;
  background: #ffffff;
  padding: 48px 24px 24px;
  z-index: 75;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 11px 0 rgb(62 62 62 / 18%);
  border: solid 1px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}
.timelineDetails__container
  .card__container
  .card__text__section
  .card__text__header {
  font-family: "Lato-Bold";
  font-size: 1rem;
  line-height: 1.38;
  color: #000000;
  text-transform: uppercase;
  margin-top: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.timelineDetails__container
  .card__container
  .card__text__section
  .card__text__description {
  font-family: "Lato-Regular";
  font-size: 1rem;
  line-height: 1.38;
  color: #6d7278;
  margin-top: 12px;
}
.timelineDetails__container
  .card__container
  .card__text__section
  .card__text__description
  p {
  margin: 0;
  overflow: hidden;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.38;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .timelineDetails__container .card__list__container {
    margin-top: 16px;
  }
  .timelineDetails__container .card__container {
    width: 100%;
    margin: 48px 0 16px 0;
  }
  .timelineDetails__container .stepper__image {
    left: -25px;
    width: 48px;
    height: 48px;
  }
  .timelineDetails__container
    .card__container
    .card__text__section
    .card__text__header {
    margin-top: 16px;
  }
  .timelineDetails__container
    .card__container
    .card__text__section
    .card__text__description,
  .timelineDetails__container
    .card__container
    .card__text__section
    .card__text__description
    p {
    font-size: 0.75rem;
  }

  .timelineDetails__container .header__text {
    width: 85%;
    font-size: 1.125rem;
  }

  .timelineDetails__container .timelineDetails__info {
    padding: 16px;
    display: block;
    width: 100%;
  }

  .timelineDetails__container .timelineDetails__info .timeline__image {
    width: 104px;
    height: 112px;
    margin-right: 0;
    margin-bottom: 16px;
  }

  .timelineDetails__container .timelineDetails__info .timelineInfo__details {
    width: 100%;
  }

  .timelineDetails__container
    .timelineDetails__info
    .timelineInfo__details
    .infoDetails__date {
    margin-top: 0;
  }

  .timelineDetails__container
    .timelineDetails__info
    .timelineInfo__details
    .infoDetails__stage {
    margin-bottom: 4px;
    font-size: 1.175rem;
  }

  .timelineDetails__container
    .timelineDetails__info
    .timelineInfo__details
    .infoDetails__text {
    width: 100%;
    font-size: 0.75rem;
    line-height: 1.83;
    -webkit-line-clamp: 5;
  }

  .timelineDetails__container .timelineDetails__info .timelineSignup__content {
    margin-top: 16px;
    display: block;
  }
  .timelineDetails__container {
    padding: 0 13px 20px 26px;
    box-sizing: border-box;
  }
  .timelineDetails__container
    .card__container
    .card__image__section
    .card__img {
    width: 52px;
    height: 56px;
  }
  .timelineDetails__container .card__container .card__text__section {
    padding: 36px 16px 16px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .timelineDetails__container
    .card__container
    .card__text__section
    .card__text__description
    p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
