<sly
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories='anthem.component.article'}"
/>
<div
  data-sly-use.title="com.adobe.cq.wcm.core.components.models.Title"
  data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
  data-sly-use.template="core/wcm/components/commons/v1/templates.html"
  data-sly-test.text="${title.text}"
  class="cmp-title article__title"
>
  <h2 class="cmp-title__text" data-sly-element="${title.type}">${text}</h2>
  <p data-sly-test="${properties.displayDate=='true'}">
    ${'dd MMM yyyy' @format=properties.publishDate}
  </p>
</div>
<sly
  data-sly-call="${template.placeholder @ isEmpty=!text, classAppend='cmp-title'}"
></sly>
