.vaccine__links__container
  .vaccine__state__link__section
  .vaccine__state__link__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vaccine__links__container .vaccine__state__link__section h2,
.vaccine__links__container .vaccine__helpful__link__section h2 {
  color: #333333;
  font-family: "Montserrat-Light";
  font-size: 1.625rem;
  font-weight: 300;
}
.vaccine__links__container .vaccine__state__link__section h2 {
  margin: 30px 0 15px;
}
.vaccine__links__container .vaccine__helpful__link__section h2 {
  margin: 30px 0 10px;
}

.vaccine__links__container
  .vaccine__state__link__section
  .vaccine__state__link__list
  .vaccine__state__link__block {
  margin-bottom: 20px;
  width: 33%;
}

.vaccine__links__container
  .vaccine__state__link__section
  .vaccine__state__link__list
  .vaccine__state__link__block
  .vaccine__state__name {
  color: #1f1f1f;
  font-family: "Lato-Bold";
  font-size: 1.063rem;
  font-weight: bold;
  margin-bottom: 3px;
}

.vaccine__links__container
  .vaccine__state__link__section
  .vaccine__state__link__list
  .vaccine__state__link__block
  .vaccine__state__link
  span,
.vaccine__links__container .vaccine__helpful__link__section span {
  color: #c5c4c4;
  font-size: 1rem;
}

.vaccine__links__container
  .vaccine__state__link__section
  .vaccine__state__link__list
  .vaccine__state__link__block
  .vaccine__state__link {
  display: flex;
}

.vaccine__links__container .vaccine__helpful__link__section {
  margin-bottom: 20px;
}

.vaccine__links__container
  .vaccine__helpful__link__section
  a.vaccine__helpful__link {
  width: auto;
}

.vaccine__links__container
  .vaccine__state__link__section
  .vaccine__state__link__list
  .vaccine__state__link__block
  .vaccine__state__link
  .vaccine__state__link__text,
.vaccine__links__container .vaccine__helpful__link__section a {
  display: inline-block;
  color: #286ce2;
  font-family: "Lato-Bold";
  font-size: 0.875rem;
  line-height: 22px;
  margin-right: 8px;
  max-width: 75%;
  text-align: justify;
  text-decoration: underline;
}

.vaccine__links__container
  .vaccine__helpful__link__section
  .vaccine__helpful__link {
  display: flex;
  align-items: center;
}

.vaccine__links__container
  .vaccine__helpful__link__section
  .vaccine__helpful__link
  .mob__view {
  display: none;
}
.vaccine__links__container
  .vaccine__helpful__link__section
  .vaccine__helpful__link
  .des__view {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .vaccine__links__container
    .vaccine__state__link__section
    .vaccine__state__link__list {
    flex-direction: row;
  }
  .vaccine__links__container
    .vaccine__helpful__link__section
    .vaccine__helpful__link
    .mob__view {
    display: inline-block;
    margin-right: 12px;
  }
  .vaccine__links__container
    .vaccine__helpful__link__section
    .vaccine__helpful__link
    .des__view {
    display: none;
  }
  .vaccine__links__container
    .vaccine__state__link__section
    .vaccine__state__link__list
    .vaccine__state__link__block {
    width: 100%;
  }
}
