.cmp-title > h1 {
  font-size: 2rem;
  font-family: "Montserrat-Light";
  font-weight: 300;
}

.cmp-title > h2 {
  font-size: 1.625rem;
  font-family: "Montserrat-Light";
  font-weight: 300;
}

.cmp-title > h3 {
  font-size: 1.375rem;
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
}

.cmp-title > h4 {
  font-size: 1.375rem;
  font-family: "Montserrat-Light";
  font-weight: 300;
}

.cmp-title > h5 {
  font-size: 1.125rem;
  font-family: "Lato-Regular";
  font-weight: normal;
}

.cmp-title > h6 {
  font-size: 1rem;
  font-family: "Lato-Regular";
  font-weight: normal;
}

.cmp-title > .cmp-title__text {
  color: #333333;
  text-transform: none;
  margin: 0 0 16px;
  line-height: normal;
}

.cmp-title {
  margin: 0;
}

.cmp-title__sep {
  width: 45px;
  height: 4px;
  background: #3bb273;
}
