/* Add (reverse__content) class along with (text__image__section) class to get the image or cta card as first*/
/* Add (text__cta__card) class along with (text__section) class to get the width for text section for text_CTA card variation*/
/* Add (text__image) class along with (text__section) class to get the width for text section for text_image variation*/

.text__image__section.reverse__content {
  flex-direction: row-reverse;
}

.text__image__section .text__cta__card {
  width: calc(100% - 264px);
}

.text__image__section .text__image {
  width: calc(100% - 456px);
}
.text__image__section {
  display: flex;
  margin-top: 36px;
}

.text__image__section .text__section {
  margin: 0 24px 0 0;
}
.text__image__section.reverse__content .text__section {
  margin: 0 0 0 24px;
}
.text__image__section .text__section > .text__section__title {
  font-family: "Bitter-Medium";
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 500;
  display: block;
  color: #333333;
  margin: 0 0 18px;
  text-transform: none !important;
}
.text__image__section .text__section > p {
  font-family: "Lato-Regular";
  font-size: 1rem;
  line-height: 24px;
  color: #333333;
  margin: 0;
  text-align:left;
}

.text__image__section .text__section > .read__more__btn {
  font-family: "Lato-Bold";
  font-size: 1rem;
  line-height: normal;
  color: #286ce2;
  text-decoration: underline !important;
  cursor: pointer;
  margin-top: 16px;
  padding: 0;
  display: block;
}

.text__image__section .image__section {
  width: 456px;
  height: 285px;
}

.text__image__section .image__section > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .text__image__section {
    flex-direction: column;
  }
  .text__image__section .text__section {
    margin: 0;
    width: 100%;
  }
  .text__image__section.reverse__content .text__section,
  .text__image__section .image__section {
    margin: 16px 0 0;
  }
  .text__image__section .cta__card__section {
    margin: 0 0 16px 0;
  }

  .text__image__section .image__section {
    width: 100%;
    height: 208px;
  }
  .text__image__section.reverse__content {
    flex-direction: column-reverse;
  }
}

/* Styling for events card */

.cta__card__section .events__card {
  display: block;
  width: 264px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 2px 11px 0 rgba(62, 62, 62, 0.18);
  background-color: #ffffff;
  text-decoration: none !important;
}
.cta__card__section .events__card .events__resource {
  width: 100%;
  height: 104px;
  border-radius: 8px;
}

.cta__card__section .events__card .events__resource > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.cta__card__section .events__card .events__info {
  padding: 16px 24px 22px;
  box-sizing: border-box;
}

.cta__card__section .events__card .events__info .events__title {
  margin: 0;
  font-family: "Lato-Bold";
  font-size: 1rem;
  line-height: normal;
  color: #000000;
}

.cta__card__section .events__card .events__info .events__desc {
  margin: 0;
  font-family: "Lato-Regular";
  font-size: 1rem;
  line-height: 1.5;
  color: #6d7278;
  margin-top: 12px;
}

@media screen and (max-width: 767px) {
  .cta__card__section .events__card {
    width: 100%;
  }
  .cta__card__section .events__card .events__resource {
    width: 100%;
    height: 68px;
  }
  .cta__card__section .events__card .events__info .events__desc {
    font-size: 0.75rem;
    line-height: 24px;
  }
  .cta__card__section .events__card .events__info {
    padding: 16px;
    box-sizing: border-box;
  }
}
