.header-ref {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header__wrapper {
  -webkit-backdrop-filter: blur(17px);
  backdrop-filter: blur(17px);
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  z-index: 999;
}

.header__wrapper .header__logo {
  max-width: 128px;
  max-height: 36px;
  margin-left: 16px;
}
.header__wrapper .header__logo > img {
  max-width: inherit;
  max-height: inherit;
  object-fit: cover;
}
.header__wrapper .cmp-breadcrumb {
  width: calc(100% - 144px);
}
.nav__visible .header__wrapper {
  width: calc(100% - 3px);
  margin-left: 3px;
}

.header__cont {
  max-width: 1680px;
  margin: 0 auto;
  padding: 16px 44px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__visible .header__cont {
  padding: 16px 44px 16px 0;
}

.header__wrapper .motif-menu,
.header__wrapper .motif-delete {
  font-weight: bold;
}

.header__wrapper .motif-menu,
.header__wrapper .motif-delete {
  cursor: pointer;
  font-size: 1rem;
}
.header__wrapper .header__left__block,
.header__wrapper .header__right__block {
  display: flex;
  align-items: center;
}
.header__wrapper .header__left__block {
  position: relative;
  width: calc(85% - 36px);
  margin-right: 36px;
}

.header__wrapper .header__right__block {
  position: relative;
  width: 15%;
  justify-content: flex-end;
}

.header__wrapper .header__right__block .motif-icon.motif-help {
  font-size: 1.25rem;
  text-decoration: none;
  color: initial;
  line-height: inherit;
}
.header__wrapper .header__right__block .header__profile__icon {
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0 2px 11px 0 rgba(40, 108, 226, 0.36);
  height: 32px;
  width: 32px;
  margin-left: 24px;
  border: none;
  color: #666666;
  padding: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__wrapper .header__right__block .header__profile__icon > img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.header__wrapper .header__right__block .header__radio__btn__dropdown {
  display: none;
  flex-direction: column;
  width: 164px;
  position: absolute;
  top: 48px;
  right: 0;
  z-index: 100;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 11px 0 rgb(62 62 62 / 18%);
  background-color: #ffffff;
}
.header__wrapper
  .header__right__block
  .header__radio__btn__dropdown.header__radio__btn__dropdown__show {
  display: flex;
}

.header__wrapper
  .header__right__block
  .header__radio__btn__dropdown
  .radio__btn__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  border: none;
  padding: 0;
  background: transparent;
  width: 100%;
  cursor: pointer;
}
.header__wrapper
  .header__right__block
  .header__radio__btn__dropdown
  .radio__btn__header
  .motif-icon {
  color: #000000;
  font-size: 1rem;
}
.header__wrapper
  .header__right__block
  .header__radio__btn__dropdown
  .radio__btn__header
  .dropdown__rot {
  transform: rotate(180deg);
}
.header__wrapper
  .header__right__block
  .header__radio__btn__dropdown
  .radio__btn__block {
  position: relative;
  padding-left: 30px;
  user-select: none;
  margin-bottom: 8px;
  list-style-type: none;
}

.header__wrapper
  .header__right__block
  .header__radio__btn__dropdown
  .radio__btn__block
  label {
  display: flex;
}

.header__wrapper
  .header__right__block
  .header__radio__btn__dropdown
  .radio__btn__block:last-child {
  margin-bottom: 14px;
}
.header__wrapper
  .header__right__block
  .header__radio__btn__dropdown
  .radio__btn__text {
  font-family: "Lato-Regular";
  font-size: 1rem;
  color: #949494;
  line-height: normal;
  text-transform: capitalize;
}
.header__wrapper
  .header__right__block
  .header__radio__btn__dropdown
  .radio__btn__block
  input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.header__wrapper
  .header__right__block
  .header__radio__btn__dropdown
  .radio__btn__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid #949494;
  background-color: #fff;
  border-radius: 50%;
  box-sizing: border-box;
}
.header__wrapper
  .header__right__block
  .header__radio__btn__dropdown
  .radio__btn__block
  input:checked
  ~ .radio__btn__checkmark {
  border: 2px solid #286ce2;
  cursor: pointer;
}
.header__wrapper
  .header__right__block
  .header__radio__btn__dropdown
  .radio__btn__block
  input:checked
  ~ .radio__btn__text {
  color: #286ce2;
}
.header__wrapper
  .header__right__block
  .header__radio__btn__dropdown
  .radio__btn__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.header__wrapper
  .header__right__block
  .header__radio__btn__dropdown
  .radio__btn__block
  input:checked
  ~ .radio__btn__checkmark:after {
  display: block;
}
.header__wrapper
  .header__right__block
  .header__radio__btn__dropdown
  .radio__btn__block
  .radio__btn__checkmark:after {
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #286ce2;
  transform: translate(-50%, -50%);
}
.header__wrapper
  .header__right__block
  .header__radio__btn__dropdown
  .radio__dropdown__logout {
  padding-top: 12px;
  border-top: 1px solid #e9f0fc;
}
.header__wrapper
  .header__right__block
  .header__radio__btn__dropdown
  .radio__dropdown__logout
  .logout-button,
.header__wrapper
  .header__right__block
  .header__radio__btn__dropdown
  .radio__dropdown__option {
  font-family: "Lato-Regular";
  font-size: 1rem;
  text-decoration: none;
  text-transform: none;
  background-color: transparent;
  color: #666666;
  cursor: pointer;
  border: none;
  padding: 0;
}

.header__wrapper
  .header__right__block
  .header__radio__btn__dropdown
  .radio__dropdown__logout
  .logout-button
  .cmp-button__text {
  padding: 0;
}

.header__wrapper
  .header__right__block
  .header__radio__btn__dropdown
  .language__dropdown {
  display: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 991px) and (max-width: 1190px) {
  .nav__visible #hrportal__root > .aem-Grid--12 > .aem-GridColumn--default--2 {
    width: 20.667% !important;
    visibility: visible;
  }

  .nav__visible #hrportal__root > .aem-Grid--12 > .aem-GridColumn--default--10 {
    width: 79.333% !important;
    visibility: visible;
  }
}
@media screen and (max-width: 767px) {
  .header__cont {
    padding: 16px !important;
  }
  .header__wrapper .header__right__block .header__radio__btn__dropdown {
    padding: 12px;
  }
  .header__wrapper .header__right__block .header__radio__btn__dropdown {
    width: 155px;
  }
  .header__wrapper .header__left__block {
    width: calc(80% - 36px);
  }
  .header__wrapper .header__right__block {
    width: 20%;
  }
  .header__wrapper .header__logo {
    max-width: 82px;
    max-height: 23px;
  }
  .header__wrapper .cmp-breadcrumb {
    width: calc(100% - 98px);
  }

  .header__wrapper .header__right__block .header__radio__btn__dropdown {
    top: 48px;
  }

  .header__wrapper .header__right__block .header__profile__icon {
    margin-left: 16px;
  }
}

@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  /* IE10+ specific styles go here */

  .header-ref {
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: rgba(157, 196, 255);
  }
  .aem-GridColumn {
    padding: 0;
  }
  .nav__visible #hrportal__root .header-ref {
    width: 83.333% !important;
    left: 16.667% !important;
  }

  @media screen and (max-width: 767px) {
    .nav__visible .header-ref {
      position: fixed;
      top: 0;
      left: 264px;
    }
  }
}

@media screen and (min-width: 2048px) {
  .nav__visible .header__cont {
    padding: 16px 16px;
  }
}
