@import "variables";

@at-root {
  @font-face {
    font-family: "#{$motif-font-family}";
    src: url("#{$motif-font-path}/#{$motif-font-family}.eot?6o51c8");
    src: url("#{$motif-font-path}/#{$motif-font-family}.eot?6o51c8#iefix")
        format("embedded-opentype"),
      url("#{$motif-font-path}/#{$motif-font-family}.ttf?6o51c8")
        format("truetype"),
      url("#{$motif-font-path}/#{$motif-font-family}.woff?6o51c8")
        format("woff"),
      url("#{$motif-font-path}/#{$motif-font-family}.svg?6o51c8##{$motif-font-family}")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

.motif-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$motif-font-family}" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.motif-about {
  &:before {
    content: $motif-about;
  }
}
.motif-access-for-blind {
  &:before {
    content: $motif-access-for-blind;
  }
}
.motif-add-more {
  &:before {
    content: $motif-add-more;
  }
}
.motif-add-phone {
  &:before {
    content: $motif-add-phone;
  }
}
.motif-add-shopping-cart {
  &:before {
    content: $motif-add-shopping-cart;
  }
}
.motif-add-tag {
  &:before {
    content: $motif-add-tag;
  }
}
.motif-add-text {
  &:before {
    content: $motif-add-text;
  }
}
.motif-aed {
  &:before {
    content: $motif-aed;
  }
}
.motif-aids-ribbon {
  &:before {
    content: $motif-aids-ribbon;
  }
}
.motif-alarm-clock {
  &:before {
    content: $motif-alarm-clock;
  }
}
.motif-alluminium_massagetable {
  &:before {
    content: $motif-alluminium_massagetable;
  }
}
.motif-alphabetical-sorting {
  &:before {
    content: $motif-alphabetical-sorting;
  }
}
.motif-alphabetical-sorting-2 {
  &:before {
    content: $motif-alphabetical-sorting-2;
  }
}
.motif-ambulance {
  &:before {
    content: $motif-ambulance;
  }
}
.motif-amnesty_international {
  &:before {
    content: $motif-amnesty_international;
  }
}
.motif-amputee {
  &:before {
    content: $motif-amputee;
  }
}
.motif-angle-down {
  &:before {
    content: $motif-angle-down;
  }
}
.motif-angle-left {
  &:before {
    content: $motif-angle-left;
  }
}
.motif-angle-right {
  &:before {
    content: $motif-angle-right;
  }
}
.motif-angle-up {
  &:before {
    content: $motif-angle-up;
  }
}
.motif-antiseptic-cream {
  &:before {
    content: $motif-antiseptic-cream;
  }
}
.motif-apple {
  &:before {
    content: $motif-apple;
  }
}
.motif-appointment-reminders {
  &:before {
    content: $motif-appointment-reminders;
  }
}
.motif-archived {
  &:before {
    content: $motif-archived;
  }
}
.motif-arrow {
  &:before {
    content: $motif-arrow;
  }
}
.motif-arrow-pointing-left {
  &:before {
    content: $motif-arrow-pointing-left;
  }
}
.motif-arrows-long-down {
  &:before {
    content: $motif-arrows-long-down;
  }
}
.motif-arrows-long-left {
  &:before {
    content: $motif-arrows-long-left;
  }
}
.motif-arrows-long-right {
  &:before {
    content: $motif-arrows-long-right;
  }
}
.motif-arrows-long-up {
  &:before {
    content: $motif-arrows-long-up;
  }
}
.motif-assistive_listening_systems {
  &:before {
    content: $motif-assistive_listening_systems;
  }
}
.motif-attention {
  &:before {
    content: $motif-attention;
  }
}
.motif-audio-description {
  &:before {
    content: $motif-audio-description;
  }
}
.motif-average {
  &:before {
    content: $motif-average;
  }
}
.motif-average-2 {
  &:before {
    content: $motif-average-2;
  }
}
.motif-avocado {
  &:before {
    content: $motif-avocado;
  }
}
.motif-ball-point-pen {
  &:before {
    content: $motif-ball-point-pen;
  }
}
.motif-banana {
  &:before {
    content: $motif-banana;
  }
}
.motif-bandage {
  &:before {
    content: $motif-bandage;
  }
}
.motif-bank-cards {
  &:before {
    content: $motif-bank-cards;
  }
}
.motif-bench-press-with-dumbbells {
  &:before {
    content: $motif-bench-press-with-dumbbells;
  }
}
.motif-bento-box {
  &:before {
    content: $motif-bento-box;
  }
}
.motif-binoculars {
  &:before {
    content: $motif-binoculars;
  }
}
.motif-birthday-cake {
  &:before {
    content: $motif-birthday-cake;
  }
}
.motif-bitbucket {
  &:before {
    content: $motif-bitbucket;
  }
}
.motif-blind {
  &:before {
    content: $motif-blind;
  }
}
.motif-block {
  &:before {
    content: $motif-block;
  }
}
.motif-body-scan {
  &:before {
    content: $motif-body-scan;
  }
}
.motif-bookmark {
  &:before {
    content: $motif-bookmark;
  }
}
.motif-bookmark-ribbon {
  &:before {
    content: $motif-bookmark-ribbon;
  }
}
.motif-bottle-of-water {
  &:before {
    content: $motif-bottle-of-water;
  }
}
.motif-braille {
  &:before {
    content: $motif-braille;
  }
}
.motif-brain {
  &:before {
    content: $motif-brain;
  }
}
.motif-bullet {
  &:before {
    content: $motif-bullet;
  }
}
.motif-bulleted-list {
  &:before {
    content: $motif-bulleted-list;
  }
}
.motif-business-contact {
  &:before {
    content: $motif-business-contact;
  }
}
.motif-buy {
  &:before {
    content: $motif-buy;
  }
}
.motif-caduceus {
  &:before {
    content: $motif-caduceus;
  }
}
.motif-caduceus_gavel {
  &:before {
    content: $motif-caduceus_gavel;
  }
}
.motif-cafe {
  &:before {
    content: $motif-cafe;
  }
}
.motif-calculator {
  &:before {
    content: $motif-calculator;
  }
}
.motif-calendar {
  &:before {
    content: $motif-calendar;
  }
}
.motif-calendar-minus {
  &:before {
    content: $motif-calendar-minus;
  }
}
.motif-calendar-plus {
  &:before {
    content: $motif-calendar-plus;
  }
}
.motif-call-transfer {
  &:before {
    content: $motif-call-transfer;
  }
}
.motif-calories {
  &:before {
    content: $motif-calories;
  }
}
.motif-cancel {
  &:before {
    content: $motif-cancel;
  }
}
.motif-cancel-2 {
  &:before {
    content: $motif-cancel-2;
  }
}
.motif-cancel-file {
  &:before {
    content: $motif-cancel-file;
  }
}
.motif-cancer-ribbon {
  &:before {
    content: $motif-cancer-ribbon;
  }
}
.motif-car {
  &:before {
    content: $motif-car;
  }
}
.motif-card-exchange {
  &:before {
    content: $motif-card-exchange;
  }
}
.motif-card-security {
  &:before {
    content: $motif-card-security;
  }
}
.motif-card-security-code {
  &:before {
    content: $motif-card-security-code;
  }
}
.motif-card-verification-value {
  &:before {
    content: $motif-card-verification-value;
  }
}
.motif-cardboard-box {
  &:before {
    content: $motif-cardboard-box;
  }
}
.motif-cast {
  &:before {
    content: $motif-cast;
  }
}
.motif-cc-amex {
  &:before {
    content: $motif-cc-amex;
  }
}
.motif-cc-discover {
  &:before {
    content: $motif-cc-discover;
  }
}
.motif-cc-mastercard {
  &:before {
    content: $motif-cc-mastercard;
  }
}
.motif-cc-visa {
  &:before {
    content: $motif-cc-visa;
  }
}
.motif-charge-battery {
  &:before {
    content: $motif-charge-battery;
  }
}
.motif-chat {
  &:before {
    content: $motif-chat;
  }
}
.motif-chat-bubble {
  &:before {
    content: $motif-chat-bubble;
  }
}
.motif-chat-send {
  &:before {
    content: $motif-chat-send;
  }
}
.motif-cheap-2 {
  &:before {
    content: $motif-cheap-2;
  }
}
.motif-check-wide {
  &:before {
    content: $motif-check-wide;
  }
}
.motif-checked {
  &:before {
    content: $motif-checked;
  }
}
.motif-checked-2 {
  &:before {
    content: $motif-checked-2;
  }
}
.motif-checkmark {
  &:before {
    content: $motif-checkmark;
  }
}
.motif-checkout {
  &:before {
    content: $motif-checkout;
  }
}
.motif-chef-hat {
  &:before {
    content: $motif-chef-hat;
  }
}
.motif-chevron {
  &:before {
    content: $motif-chevron;
  }
}
.motif-chevron-down {
  &:before {
    content: $motif-chevron-down;
  }
}
.motif-chevron-down-round {
  &:before {
    content: $motif-chevron-down-round;
  }
}
.motif-chevron-filled-down {
  &:before {
    content: $motif-chevron-filled-down;
  }
}
.motif-chevron-filled-up {
  &:before {
    content: $motif-chevron-filled-up;
  }
}
.motif-chevron-left {
  &:before {
    content: $motif-chevron-left;
  }
}
.motif-chevron-left-round {
  &:before {
    content: $motif-chevron-left-round;
  }
}
.motif-chevron-right {
  &:before {
    content: $motif-chevron-right;
  }
}
.motif-chevron-right-round {
  &:before {
    content: $motif-chevron-right-round;
  }
}
.motif-chevron-up {
  &:before {
    content: $motif-chevron-up;
  }
}
.motif-chevron-up-round {
  &:before {
    content: $motif-chevron-up-round;
  }
}
.motif-circle {
  &:before {
    content: $motif-circle;
  }
}
.motif-circle-checked-inverse {
  &:before {
    content: $motif-circle-checked-inverse;
  }
}
.motif-circle-notch {
  &:before {
    content: $motif-circle-notch;
  }
}
.motif-circle-thin {
  &:before {
    content: $motif-circle-thin;
  }
}
.motif-circled {
  &:before {
    content: $motif-circled;
  }
}
.motif-circled-down {
  &:before {
    content: $motif-circled-down;
  }
}
.motif-circled-down-left {
  &:before {
    content: $motif-circled-down-left;
  }
}
.motif-circled-down-right {
  &:before {
    content: $motif-circled-down-right;
  }
}
.motif-circled-left {
  &:before {
    content: $motif-circled-left;
  }
}
.motif-circled-right {
  &:before {
    content: $motif-circled-right;
  }
}
.motif-circled-up {
  &:before {
    content: $motif-circled-up;
  }
}
.motif-circled-up-left {
  &:before {
    content: $motif-circled-up-left;
  }
}
.motif-circled-up-right {
  &:before {
    content: $motif-circled-up-right;
  }
}
.motif-clinic {
  &:before {
    content: $motif-clinic;
  }
}
.motif-clipboard {
  &:before {
    content: $motif-clipboard;
  }
}
.motif-clock {
  &:before {
    content: $motif-clock;
  }
}
.motif-clone {
  &:before {
    content: $motif-clone;
  }
}
.motif-closed-captioning {
  &:before {
    content: $motif-closed-captioning;
  }
}
.motif-collapse {
  &:before {
    content: $motif-collapse;
  }
}
.motif-color-dropper {
  &:before {
    content: $motif-color-dropper;
  }
}
.motif-comments {
  &:before {
    content: $motif-comments;
  }
}
.motif-commercial-development-management {
  &:before {
    content: $motif-commercial-development-management;
  }
}
.motif-compare {
  &:before {
    content: $motif-compare;
  }
}
.motif-compose {
  &:before {
    content: $motif-compose;
  }
}
.motif-compress {
  &:before {
    content: $motif-compress;
  }
}
.motif-computer-support {
  &:before {
    content: $motif-computer-support;
  }
}
.motif-concept {
  &:before {
    content: $motif-concept;
  }
}
.motif-condom {
  &:before {
    content: $motif-condom;
  }
}
.motif-condom-package {
  &:before {
    content: $motif-condom-package;
  }
}
.motif-contacts {
  &:before {
    content: $motif-contacts;
  }
}
.motif-content {
  &:before {
    content: $motif-content;
  }
}
.motif-copy {
  &:before {
    content: $motif-copy;
  }
}
.motif-coronavirus {
  &:before {
    content: $motif-coronavirus;
  }
}
.motif-counselor {
  &:before {
    content: $motif-counselor;
  }
}
.motif-create-new {
  &:before {
    content: $motif-create-new;
  }
}
.motif-crop {
  &:before {
    content: $motif-crop;
  }
}
.motif-crutch {
  &:before {
    content: $motif-crutch;
  }
}
.motif-curls-with-dumbbells {
  &:before {
    content: $motif-curls-with-dumbbells;
  }
}
.motif-cursor {
  &:before {
    content: $motif-cursor;
  }
}
.motif-customer-support {
  &:before {
    content: $motif-customer-support;
  }
}
.motif-death {
  &:before {
    content: $motif-death;
  }
}
.motif-decrease-font {
  &:before {
    content: $motif-decrease-font;
  }
}
.motif-delete {
  &:before {
    content: $motif-delete;
  }
}
.motif-delete_link {
  &:before {
    content: $motif-delete_link;
  }
}
.motif-delete_slide {
  &:before {
    content: $motif-delete_slide;
  }
}
.motif-department {
  &:before {
    content: $motif-department;
  }
}
.motif-design {
  &:before {
    content: $motif-design;
  }
}
.motif-details {
  &:before {
    content: $motif-details;
  }
}
.motif-device-information {
  &:before {
    content: $motif-device-information;
  }
}
.motif-diabetes {
  &:before {
    content: $motif-diabetes;
  }
}
.motif-diabetes-monitor {
  &:before {
    content: $motif-diabetes-monitor;
  }
}
.motif-dialysis_machine {
  &:before {
    content: $motif-dialysis_machine;
  }
}
.motif-diamond {
  &:before {
    content: $motif-diamond;
  }
}
.motif-dislike {
  &:before {
    content: $motif-dislike;
  }
}
.motif-dislike-fill {
  &:before {
    content: $motif-dislike-fill;
  }
}
.motif-doctors-bag {
  &:before {
    content: $motif-doctors-bag;
  }
}
.motif-doctors-without-borders {
  &:before {
    content: $motif-doctors-without-borders;
  }
}
.motif-document {
  &:before {
    content: $motif-document;
  }
}
.motif-documents {
  &:before {
    content: $motif-documents;
  }
}
.motif-donate {
  &:before {
    content: $motif-donate;
  }
}
.motif-door-sensor-alarmed {
  &:before {
    content: $motif-door-sensor-alarmed;
  }
}
.motif-double-down {
  &:before {
    content: $motif-double-down;
  }
}
.motif-double-left {
  &:before {
    content: $motif-double-left;
  }
}
.motif-double-right {
  &:before {
    content: $motif-double-right;
  }
}
.motif-double-up {
  &:before {
    content: $motif-double-up;
  }
}
.motif-down-2 {
  &:before {
    content: $motif-down-2;
  }
}
.motif-down-3 {
  &:before {
    content: $motif-down-3;
  }
}
.motif-down-arrow {
  &:before {
    content: $motif-down-arrow;
  }
}
.motif-down-left {
  &:before {
    content: $motif-down-left;
  }
}
.motif-down-left-arrow {
  &:before {
    content: $motif-down-left-arrow;
  }
}
.motif-down-left-round {
  &:before {
    content: $motif-down-left-round;
  }
}
.motif-down-right {
  &:before {
    content: $motif-down-right;
  }
}
.motif-down-right-arrow {
  &:before {
    content: $motif-down-right-arrow;
  }
}
.motif-down-right-round {
  &:before {
    content: $motif-down-right-round;
  }
}
.motif-down-round {
  &:before {
    content: $motif-down-round;
  }
}
.motif-down-squared {
  &:before {
    content: $motif-down-squared;
  }
}
.motif-download {
  &:before {
    content: $motif-download;
  }
}
.motif-download-2 {
  &:before {
    content: $motif-download-2;
  }
}
.motif-download-graph-report {
  &:before {
    content: $motif-download-graph-report;
  }
}
.motif-download-pie-chart-report {
  &:before {
    content: $motif-download-pie-chart-report;
  }
}
.motif-downloads {
  &:before {
    content: $motif-downloads;
  }
}
.motif-drag-list-down {
  &:before {
    content: $motif-drag-list-down;
  }
}
.motif-drag-list-up {
  &:before {
    content: $motif-drag-list-up;
  }
}
.motif-drag-reorder {
  &:before {
    content: $motif-drag-reorder;
  }
}
.motif-dumbbell {
  &:before {
    content: $motif-dumbbell;
  }
}
.motif-edit {
  &:before {
    content: $motif-edit;
  }
}
.motif-elderly-person {
  &:before {
    content: $motif-elderly-person;
  }
}
.motif-ellipse {
  &:before {
    content: $motif-ellipse;
  }
}
.motif-ellipse-filled {
  &:before {
    content: $motif-ellipse-filled;
  }
}
.motif-employee-card {
  &:before {
    content: $motif-employee-card;
  }
}
.motif-empty-hourglass {
  &:before {
    content: $motif-empty-hourglass;
  }
}
.motif-empty-trash {
  &:before {
    content: $motif-empty-trash;
  }
}
.motif-environment {
  &:before {
    content: $motif-environment;
  }
}
.motif-erase {
  &:before {
    content: $motif-erase;
  }
}
.motif-eraser {
  &:before {
    content: $motif-eraser;
  }
}
.motif-error {
  &:before {
    content: $motif-error;
  }
}
.motif-error-cloud {
  &:before {
    content: $motif-error-cloud;
  }
}
.motif-escape-mask {
  &:before {
    content: $motif-escape-mask;
  }
}
.motif-event-accepted {
  &:before {
    content: $motif-event-accepted;
  }
}
.motif-event-accepted-tentatively {
  &:before {
    content: $motif-event-accepted-tentatively;
  }
}
.motif-exercise {
  &:before {
    content: $motif-exercise;
  }
}
.motif-expand {
  &:before {
    content: $motif-expand;
  }
}
.motif-external-link {
  &:before {
    content: $motif-external-link;
  }
}
.motif-eye {
  &:before {
    content: $motif-eye;
  }
}
.motif-facebook {
  &:before {
    content: $motif-facebook;
  }
}
.motif-false-teeth {
  &:before {
    content: $motif-false-teeth;
  }
}
.motif-family {
  &:before {
    content: $motif-family;
  }
}
.motif-feedback {
  &:before {
    content: $motif-feedback;
  }
}
.motif-file {
  &:before {
    content: $motif-file;
  }
}
.motif-fill-color {
  &:before {
    content: $motif-fill-color;
  }
}
.motif-filled-like {
  &:before {
    content: $motif-filled-like;
  }
}
.motif-filled-star {
  &:before {
    content: $motif-filled-star;
  }
}
.motif-filter {
  &:before {
    content: $motif-filter;
  }
}
.motif-find-matching-job {
  &:before {
    content: $motif-find-matching-job;
  }
}
.motif-fingerprint {
  &:before {
    content: $motif-fingerprint;
  }
}
.motif-fitness-tracker {
  &:before {
    content: $motif-fitness-tracker;
  }
}
.motif-flip-horizontal {
  &:before {
    content: $motif-flip-horizontal;
  }
}
.motif-flip-vertical {
  &:before {
    content: $motif-flip-vertical;
  }
}
.motif-flow-chart {
  &:before {
    content: $motif-flow-chart;
  }
}
.motif-foil-space-blanket {
  &:before {
    content: $motif-foil-space-blanket;
  }
}
.motif-fold {
  &:before {
    content: $motif-fold;
  }
}
.motif-foot-angle {
  &:before {
    content: $motif-foot-angle;
  }
}
.motif-forgot-password {
  &:before {
    content: $motif-forgot-password;
  }
}
.motif-fridge {
  &:before {
    content: $motif-fridge;
  }
}
.motif-full-image {
  &:before {
    content: $motif-full-image;
  }
}
.motif-full-stop {
  &:before {
    content: $motif-full-stop;
  }
}
.motif-gavel {
  &:before {
    content: $motif-gavel;
  }
}
.motif-general-ledger {
  &:before {
    content: $motif-general-ledger;
  }
}
.motif-go-to-link {
  &:before {
    content: $motif-go-to-link;
  }
}
.motif-gold-bars {
  &:before {
    content: $motif-gold-bars;
  }
}
.motif-good-decision {
  &:before {
    content: $motif-good-decision;
  }
}
.motif-graduation-cap {
  &:before {
    content: $motif-graduation-cap;
  }
}
.motif-graph-report {
  &:before {
    content: $motif-graph-report;
  }
}
.motif-graph-report-script {
  &:before {
    content: $motif-graph-report-script;
  }
}
.motif-group-background-selected {
  &:before {
    content: $motif-group-background-selected;
  }
}
.motif-group-foreground-selected {
  &:before {
    content: $motif-group-foreground-selected;
  }
}
.motif-group-of-questions {
  &:before {
    content: $motif-group-of-questions;
  }
}
.motif-groups {
  &:before {
    content: $motif-groups;
  }
}
.motif-hand-cursor {
  &:before {
    content: $motif-hand-cursor;
  }
}
.motif-hand-with-pen {
  &:before {
    content: $motif-hand-with-pen;
  }
}
.motif-handshake {
  &:before {
    content: $motif-handshake;
  }
}
.motif-hashtag-large {
  &:before {
    content: $motif-hashtag-large;
  }
}
.motif-head-brain {
  &:before {
    content: $motif-head-brain;
  }
}
.motif-headset {
  &:before {
    content: $motif-headset;
  }
}
.motif-health-book {
  &:before {
    content: $motif-health-book;
  }
}
.motif-health-plus {
  &:before {
    content: $motif-health-plus;
  }
}
.motif-hearing {
  &:before {
    content: $motif-hearing;
  }
}
.motif-hearing-aid {
  &:before {
    content: $motif-hearing-aid;
  }
}
.motif-heart-health {
  &:before {
    content: $motif-heart-health;
  }
}
.motif-heart-monitor {
  &:before {
    content: $motif-heart-monitor;
  }
}
.motif-heart-with-pulse {
  &:before {
    content: $motif-heart-with-pulse;
  }
}
.motif-help {
  &:before {
    content: $motif-help;
  }
}
.motif-helping-hand {
  &:before {
    content: $motif-helping-hand;
  }
}
.motif-high-connection {
  &:before {
    content: $motif-high-connection;
  }
}
.motif-high-importance {
  &:before {
    content: $motif-high-importance;
  }
}
.motif-high-priority {
  &:before {
    content: $motif-high-priority;
  }
}
.motif-home {
  &:before {
    content: $motif-home;
  }
}
.motif-honesty {
  &:before {
    content: $motif-honesty;
  }
}
.motif-honey {
  &:before {
    content: $motif-honey;
  }
}
.motif-hospital-3 {
  &:before {
    content: $motif-hospital-3;
  }
}
.motif-hot-dog {
  &:before {
    content: $motif-hot-dog;
  }
}
.motif-human-bone {
  &:before {
    content: $motif-human-bone;
  }
}
.motif-ice-cream-cone {
  &:before {
    content: $motif-ice-cream-cone;
  }
}
.motif-id-card {
  &:before {
    content: $motif-id-card;
  }
}
.motif-id-verified {
  &:before {
    content: $motif-id-verified;
  }
}
.motif-idea {
  &:before {
    content: $motif-idea;
  }
}
.motif-in-transit {
  &:before {
    content: $motif-in-transit;
  }
}
.motif-inbox {
  &:before {
    content: $motif-inbox;
  }
}
.motif-info {
  &:before {
    content: $motif-info;
  }
}
.motif-info-squared {
  &:before {
    content: $motif-info-squared;
  }
}
.motif-infusion-pumps {
  &:before {
    content: $motif-infusion-pumps;
  }
}
.motif-ingredients-list {
  &:before {
    content: $motif-ingredients-list;
  }
}
.motif-inspection {
  &:before {
    content: $motif-inspection;
  }
}
.motif-internal {
  &:before {
    content: $motif-internal;
  }
}
.motif-internet {
  &:before {
    content: $motif-internet;
  }
}
.motif-invisible {
  &:before {
    content: $motif-invisible;
  }
}
.motif-invite {
  &:before {
    content: $motif-invite;
  }
}
.motif-ios-development {
  &:before {
    content: $motif-ios-development;
  }
}
.motif-job {
  &:before {
    content: $motif-job;
  }
}
.motif-key {
  &:before {
    content: $motif-key;
  }
}
.motif-keyhole-shield {
  &:before {
    content: $motif-keyhole-shield;
  }
}
.motif-kidney {
  &:before {
    content: $motif-kidney;
  }
}
.motif-label-printer {
  &:before {
    content: $motif-label-printer;
  }
}
.motif-language {
  &:before {
    content: $motif-language;
  }
}
.motif-large-intestine {
  &:before {
    content: $motif-large-intestine;
  }
}
.motif-leave {
  &:before {
    content: $motif-leave;
  }
}
.motif-left-2 {
  &:before {
    content: $motif-left-2;
  }
}
.motif-left-3 {
  &:before {
    content: $motif-left-3;
  }
}
.motif-left-arrow {
  &:before {
    content: $motif-left-arrow;
  }
}
.motif-left-down-2 {
  &:before {
    content: $motif-left-down-2;
  }
}
.motif-left-round {
  &:before {
    content: $motif-left-round;
  }
}
.motif-left-squared {
  &:before {
    content: $motif-left-squared;
  }
}
.motif-left-up-2 {
  &:before {
    content: $motif-left-up-2;
  }
}
.motif-lgbt-men {
  &:before {
    content: $motif-lgbt-men;
  }
}
.motif-lgbt-women {
  &:before {
    content: $motif-lgbt-women;
  }
}
.motif-library {
  &:before {
    content: $motif-library;
  }
}
.motif-lightning-bolt {
  &:before {
    content: $motif-lightning-bolt;
  }
}
.motif-like {
  &:before {
    content: $motif-like;
  }
}
.motif-list {
  &:before {
    content: $motif-list;
  }
}
.motif-liver {
  &:before {
    content: $motif-liver;
  }
}
.motif-lock {
  &:before {
    content: $motif-lock;
  }
}
.motif-lock-2 {
  &:before {
    content: $motif-lock-2;
  }
}
.motif-login {
  &:before {
    content: $motif-login;
  }
}
.motif-loser {
  &:before {
    content: $motif-loser;
  }
}
.motif-low-priority {
  &:before {
    content: $motif-low-priority;
  }
}
.motif-loyalty {
  &:before {
    content: $motif-loyalty;
  }
}
.motif-lungs {
  &:before {
    content: $motif-lungs;
  }
}
.motif-manage-payment {
  &:before {
    content: $motif-manage-payment;
  }
}
.motif-map-marker {
  &:before {
    content: $motif-map-marker;
  }
}
.motif-marker {
  &:before {
    content: $motif-marker;
  }
}
.motif-marker-pen {
  &:before {
    content: $motif-marker-pen;
  }
}
.motif-massage {
  &:before {
    content: $motif-massage;
  }
}
.motif-medical-doctor {
  &:before {
    content: $motif-medical-doctor;
  }
}
.motif-medical-heart {
  &:before {
    content: $motif-medical-heart;
  }
}
.motif-medical-mobile-app {
  &:before {
    content: $motif-medical-mobile-app;
  }
}
.motif-medical-thermometer {
  &:before {
    content: $motif-medical-thermometer;
  }
}
.motif-megaphone {
  &:before {
    content: $motif-megaphone;
  }
}
.motif-membership-card {
  &:before {
    content: $motif-membership-card;
  }
}
.motif-mental-state {
  &:before {
    content: $motif-mental-state;
  }
}
.motif-menu {
  &:before {
    content: $motif-menu;
  }
}
.motif-menu-kebab {
  &:before {
    content: $motif-menu-kebab;
  }
}
.motif-merge-horizontal {
  &:before {
    content: $motif-merge-horizontal;
  }
}
.motif-merge-vertical {
  &:before {
    content: $motif-merge-vertical;
  }
}
.motif-message {
  &:before {
    content: $motif-message;
  }
}
.motif-message-filled {
  &:before {
    content: $motif-message-filled;
  }
}
.motif-metamorphose {
  &:before {
    content: $motif-metamorphose;
  }
}
.motif-microbeam_radiation_therapy {
  &:before {
    content: $motif-microbeam_radiation_therapy;
  }
}
.motif-micropore-tape {
  &:before {
    content: $motif-micropore-tape;
  }
}
.motif-mind-and-body {
  &:before {
    content: $motif-mind-and-body;
  }
}
.motif-minus {
  &:before {
    content: $motif-minus;
  }
}
.motif-mobile-shop-cards {
  &:before {
    content: $motif-mobile-shop-cards;
  }
}
.motif-mortar-and-pestle {
  &:before {
    content: $motif-mortar-and-pestle;
  }
}
.motif-move {
  &:before {
    content: $motif-move;
  }
}
.motif-ms-excel {
  &:before {
    content: $motif-ms-excel;
  }
}
.motif-multiple-devices {
  &:before {
    content: $motif-multiple-devices;
  }
}
.motif-music {
  &:before {
    content: $motif-music;
  }
}
.motif-mute {
  &:before {
    content: $motif-mute;
  }
}
.motif-negative-dynamic {
  &:before {
    content: $motif-negative-dynamic;
  }
}
.motif-news {
  &:before {
    content: $motif-news;
  }
}
.motif-no-chat {
  &:before {
    content: $motif-no-chat;
  }
}
.motif-no-edit {
  &:before {
    content: $motif-no-edit;
  }
}
.motif-no-filling {
  &:before {
    content: $motif-no-filling;
  }
}
.motif-no-idea {
  &:before {
    content: $motif-no-idea;
  }
}
.motif-no-reminders {
  &:before {
    content: $motif-no-reminders;
  }
}
.motif-no-smoking {
  &:before {
    content: $motif-no-smoking;
  }
}
.motif-nose {
  &:before {
    content: $motif-nose;
  }
}
.motif-not-hearing {
  &:before {
    content: $motif-not-hearing;
  }
}
.motif-notebook {
  &:before {
    content: $motif-notebook;
  }
}
.motif-numbered-list {
  &:before {
    content: $motif-numbered-list;
  }
}
.motif-numerical-sorting-12 {
  &:before {
    content: $motif-numerical-sorting-12;
  }
}
.motif-numerical-sorting-21 {
  &:before {
    content: $motif-numerical-sorting-21;
  }
}
.motif-ok {
  &:before {
    content: $motif-ok;
  }
}
.motif-opened-captioning {
  &:before {
    content: $motif-opened-captioning;
  }
}
.motif-opened-folder {
  &:before {
    content: $motif-opened-folder;
  }
}
.motif-order-on-the-way {
  &:before {
    content: $motif-order-on-the-way;
  }
}
.motif-order-shipped {
  &:before {
    content: $motif-order-shipped;
  }
}
.motif-organization {
  &:before {
    content: $motif-organization;
  }
}
.motif-overview_pages_3 {
  &:before {
    content: $motif-overview_pages_3;
  }
}
.motif-pacemaker {
  &:before {
    content: $motif-pacemaker;
  }
}
.motif-paper-clip {
  &:before {
    content: $motif-paper-clip;
  }
}
.motif-paper-plane {
  &:before {
    content: $motif-paper-plane;
  }
}
.motif-parse-from-clipboard {
  &:before {
    content: $motif-parse-from-clipboard;
  }
}
.motif-past {
  &:before {
    content: $motif-past;
  }
}
.motif-paste {
  &:before {
    content: $motif-paste;
  }
}
.motif-paycheque {
  &:before {
    content: $motif-paycheque;
  }
}
.motif-pdf {
  &:before {
    content: $motif-pdf;
  }
}
.motif-pen {
  &:before {
    content: $motif-pen;
  }
}
.motif-pencil {
  &:before {
    content: $motif-pencil;
  }
}
.motif-pencil-tip {
  &:before {
    content: $motif-pencil-tip;
  }
}
.motif-pharmacist {
  &:before {
    content: $motif-pharmacist;
  }
}
.motif-phone {
  &:before {
    content: $motif-phone;
  }
}
.motif-physical-therapy {
  &:before {
    content: $motif-physical-therapy;
  }
}
.motif-picture {
  &:before {
    content: $motif-picture;
  }
}
.motif-pill {
  &:before {
    content: $motif-pill;
  }
}
.motif-play {
  &:before {
    content: $motif-play;
  }
}
.motif-play-round {
  &:before {
    content: $motif-play-round;
  }
}
.motif-plus {
  &:before {
    content: $motif-plus;
  }
}
.motif-posture {
  &:before {
    content: $motif-posture;
  }
}
.motif-prescription-pill-bottle {
  &:before {
    content: $motif-prescription-pill-bottle;
  }
}
.motif-presentation-filled {
  &:before {
    content: $motif-presentation-filled;
  }
}
.motif-price-tag {
  &:before {
    content: $motif-price-tag;
  }
}
.motif-price-tag-usd {
  &:before {
    content: $motif-price-tag-usd;
  }
}
.motif-print {
  &:before {
    content: $motif-print;
  }
}
.motif-printed-ocr {
  &:before {
    content: $motif-printed-ocr;
  }
}
.motif-pulse {
  &:before {
    content: $motif-pulse;
  }
}
.motif-puzzle {
  &:before {
    content: $motif-puzzle;
  }
}
.motif-question {
  &:before {
    content: $motif-question;
  }
}
.motif-rating {
  &:before {
    content: $motif-rating;
  }
}
.motif-read-message {
  &:before {
    content: $motif-read-message;
  }
}
.motif-read-message1 {
  &:before {
    content: $motif-read-message1;
  }
}
.motif-reading {
  &:before {
    content: $motif-reading;
  }
}
.motif-rebalance-portfolio {
  &:before {
    content: $motif-rebalance-portfolio;
  }
}
.motif-recurring-appointment {
  &:before {
    content: $motif-recurring-appointment;
  }
}
.motif-recurring-appointment-exception {
  &:before {
    content: $motif-recurring-appointment-exception;
  }
}
.motif-redo {
  &:before {
    content: $motif-redo;
  }
}
.motif-refresh {
  &:before {
    content: $motif-refresh;
  }
}
.motif-reply {
  &:before {
    content: $motif-reply;
  }
}
.motif-resize-diagonal {
  &:before {
    content: $motif-resize-diagonal;
  }
}
.motif-resize-four-directions {
  &:before {
    content: $motif-resize-four-directions;
  }
}
.motif-resize-horizontal {
  &:before {
    content: $motif-resize-horizontal;
  }
}
.motif-resize-vertical {
  &:before {
    content: $motif-resize-vertical;
  }
}
.motif-restrict {
  &:before {
    content: $motif-restrict;
  }
}
.motif-retweet {
  &:before {
    content: $motif-retweet;
  }
}
.motif-reviewer-male {
  &:before {
    content: $motif-reviewer-male;
  }
}
.motif-ribbon {
  &:before {
    content: $motif-ribbon;
  }
}
.motif-right-2 {
  &:before {
    content: $motif-right-2;
  }
}
.motif-right-3 {
  &:before {
    content: $motif-right-3;
  }
}
.motif-right-arrow {
  &:before {
    content: $motif-right-arrow;
  }
}
.motif-right-down-2 {
  &:before {
    content: $motif-right-down-2;
  }
}
.motif-right-round {
  &:before {
    content: $motif-right-round;
  }
}
.motif-right-squared {
  &:before {
    content: $motif-right-squared;
  }
}
.motif-right-up-2 {
  &:before {
    content: $motif-right-up-2;
  }
}
.motif-rod_of_asclepius {
  &:before {
    content: $motif-rod_of_asclepius;
  }
}
.motif-rotate {
  &:before {
    content: $motif-rotate;
  }
}
.motif-rotate-left {
  &:before {
    content: $motif-rotate-left;
  }
}
.motif-rotate-right {
  &:before {
    content: $motif-rotate-right;
  }
}
.motif-rotate-right-1-1-1 {
  &:before {
    content: $motif-rotate-right-1-1-1;
  }
}
.motif-rss {
  &:before {
    content: $motif-rss;
  }
}
.motif-ruler {
  &:before {
    content: $motif-ruler;
  }
}
.motif-rules {
  &:before {
    content: $motif-rules;
  }
}
.motif-sad-cloud {
  &:before {
    content: $motif-sad-cloud;
  }
}
.motif-safety-collection-place {
  &:before {
    content: $motif-safety-collection-place;
  }
}
.motif-safety-pin {
  &:before {
    content: $motif-safety-pin;
  }
}
.motif-safety-shower {
  &:before {
    content: $motif-safety-shower;
  }
}
.motif-salad {
  &:before {
    content: $motif-salad;
  }
}
.motif-sales-performance {
  &:before {
    content: $motif-sales-performance;
  }
}
.motif-saliva-test {
  &:before {
    content: $motif-saliva-test;
  }
}
.motif-save-the-children {
  &:before {
    content: $motif-save-the-children;
  }
}
.motif-scale {
  &:before {
    content: $motif-scale;
  }
}
.motif-scalpel {
  &:before {
    content: $motif-scalpel;
  }
}
.motif-scissors {
  &:before {
    content: $motif-scissors;
  }
}
.motif-search-1 {
  &:before {
    content: $motif-search-1;
  }
}
.motif-search-contacts {
  &:before {
    content: $motif-search-contacts;
  }
}
.motif-search-property {
  &:before {
    content: $motif-search-property;
  }
}
.motif-secured-by-alarm-system {
  &:before {
    content: $motif-secured-by-alarm-system;
  }
}
.motif-security-ssl {
  &:before {
    content: $motif-security-ssl;
  }
}
.motif-sell-property {
  &:before {
    content: $motif-sell-property;
  }
}
.motif-send {
  &:before {
    content: $motif-send;
  }
}
.motif-sent {
  &:before {
    content: $motif-sent;
  }
}
.motif-services {
  &:before {
    content: $motif-services;
  }
}
.motif-settings {
  &:before {
    content: $motif-settings;
  }
}
.motif-shield {
  &:before {
    content: $motif-shield;
  }
}
.motif-shopping-bag {
  &:before {
    content: $motif-shopping-bag;
  }
}
.motif-shopping-cart {
  &:before {
    content: $motif-shopping-cart;
  }
}
.motif-sign_language_interpretation {
  &:before {
    content: $motif-sign_language_interpretation;
  }
}
.motif-skeleton {
  &:before {
    content: $motif-skeleton;
  }
}
.motif-skin {
  &:before {
    content: $motif-skin;
  }
}
.motif-skull {
  &:before {
    content: $motif-skull;
  }
}
.motif-sleeping-in-bed {
  &:before {
    content: $motif-sleeping-in-bed;
  }
}
.motif-slippery-floor {
  &:before {
    content: $motif-slippery-floor;
  }
}
.motif-small-business {
  &:before {
    content: $motif-small-business;
  }
}
.motif-smartphone-approve {
  &:before {
    content: $motif-smartphone-approve;
  }
}
.motif-sneaker {
  &:before {
    content: $motif-sneaker;
  }
}
.motif-sneeze {
  &:before {
    content: $motif-sneeze;
  }
}
.motif-soldering-iron {
  &:before {
    content: $motif-soldering-iron;
  }
}
.motif-sort {
  &:before {
    content: $motif-sort;
  }
}
.motif-sort-down {
  &:before {
    content: $motif-sort-down;
  }
}
.motif-sort-down-filled {
  &:before {
    content: $motif-sort-down-filled;
  }
}
.motif-sort-left {
  &:before {
    content: $motif-sort-left;
  }
}
.motif-sort-right {
  &:before {
    content: $motif-sort-right;
  }
}
.motif-sort-up {
  &:before {
    content: $motif-sort-up;
  }
}
.motif-sort-up-filled {
  &:before {
    content: $motif-sort-up-filled;
  }
}
.motif-sorting-arrows {
  &:before {
    content: $motif-sorting-arrows;
  }
}
.motif-sorting-arrows-horizontal {
  &:before {
    content: $motif-sorting-arrows-horizontal;
  }
}
.motif-sorting-options {
  &:before {
    content: $motif-sorting-options;
  }
}
.motif-speech-bubble {
  &:before {
    content: $motif-speech-bubble;
  }
}
.motif-sperm-bank {
  &:before {
    content: $motif-sperm-bank;
  }
}
.motif-split-horizontal {
  &:before {
    content: $motif-split-horizontal;
  }
}
.motif-split-vertical {
  &:before {
    content: $motif-split-vertical;
  }
}
.motif-standing-man {
  &:before {
    content: $motif-standing-man;
  }
}
.motif-standing-woman {
  &:before {
    content: $motif-standing-woman;
  }
}
.motif-star {
  &:before {
    content: $motif-star;
  }
}
.motif-star-half {
  &:before {
    content: $motif-star-half;
  }
}
.motif-star-half-empty {
  &:before {
    content: $motif-star-half-empty;
  }
}
.motif-statistics {
  &:before {
    content: $motif-statistics;
  }
}
.motif-stethoscope {
  &:before {
    content: $motif-stethoscope;
  }
}
.motif-stitch-marker {
  &:before {
    content: $motif-stitch-marker;
  }
}
.motif-stocks {
  &:before {
    content: $motif-stocks;
  }
}
.motif-stomach {
  &:before {
    content: $motif-stomach;
  }
}
.motif-stop-pie-chart-report {
  &:before {
    content: $motif-stop-pie-chart-report;
  }
}
.motif-stretcher {
  &:before {
    content: $motif-stretcher;
  }
}
.motif-submit-resume {
  &:before {
    content: $motif-submit-resume;
  }
}
.motif-suicide-risk {
  &:before {
    content: $motif-suicide-risk;
  }
}
.motif-support {
  &:before {
    content: $motif-support;
  }
}
.motif-surgical-scissors {
  &:before {
    content: $motif-surgical-scissors;
  }
}
.motif-swap {
  &:before {
    content: $motif-swap;
  }
}
.motif-symbol-mars {
  &:before {
    content: $motif-symbol-mars;
  }
}
.motif-symbol-venus {
  &:before {
    content: $motif-symbol-venus;
  }
}
.motif-synchronize {
  &:before {
    content: $motif-synchronize;
  }
}
.motif-syringe {
  &:before {
    content: $motif-syringe;
  }
}
.motif-tags {
  &:before {
    content: $motif-tags;
  }
}
.motif-tasklist {
  &:before {
    content: $motif-tasklist;
  }
}
.motif-tasks {
  &:before {
    content: $motif-tasks;
  }
}
.motif-tax {
  &:before {
    content: $motif-tax;
  }
}
.motif-technical_support {
  &:before {
    content: $motif-technical_support;
  }
}
.motif-technology-items {
  &:before {
    content: $motif-technology-items;
  }
}
.motif-template {
  &:before {
    content: $motif-template;
  }
}
.motif-test-partial-passed {
  &:before {
    content: $motif-test-partial-passed;
  }
}
.motif-therapy {
  &:before {
    content: $motif-therapy;
  }
}
.motif-thick-arrow-pointing-down {
  &:before {
    content: $motif-thick-arrow-pointing-down;
  }
}
.motif-thick-arrow-pointing-up {
  &:before {
    content: $motif-thick-arrow-pointing-up;
  }
}
.motif-thumb-down {
  &:before {
    content: $motif-thumb-down;
  }
}
.motif-thumb-up {
  &:before {
    content: $motif-thumb-up;
  }
}
.motif-tied-hands {
  &:before {
    content: $motif-tied-hands;
  }
}
.motif-time-card {
  &:before {
    content: $motif-time-card;
  }
}
.motif-timeline {
  &:before {
    content: $motif-timeline;
  }
}
.motif-todo-list {
  &:before {
    content: $motif-todo-list;
  }
}
.motif-tooth {
  &:before {
    content: $motif-tooth;
  }
}
.motif-toothbrush {
  &:before {
    content: $motif-toothbrush;
  }
}
.motif-toothpaste {
  &:before {
    content: $motif-toothpaste;
  }
}
.motif-topic {
  &:before {
    content: $motif-topic;
  }
}
.motif-touchscreen-smartphone {
  &:before {
    content: $motif-touchscreen-smartphone;
  }
}
.motif-training {
  &:before {
    content: $motif-training;
  }
}
.motif-transaction-list {
  &:before {
    content: $motif-transaction-list;
  }
}
.motif-transfer-between-users {
  &:before {
    content: $motif-transfer-between-users;
  }
}
.motif-trash {
  &:before {
    content: $motif-trash;
  }
}
.motif-travel-card {
  &:before {
    content: $motif-travel-card;
  }
}
.motif-treatment-plan {
  &:before {
    content: $motif-treatment-plan;
  }
}
.motif-tree-structure {
  &:before {
    content: $motif-tree-structure;
  }
}
.motif-triangle {
  &:before {
    content: $motif-triangle;
  }
}
.motif-triangular-bandage {
  &:before {
    content: $motif-triangular-bandage;
  }
}
.motif-true-false {
  &:before {
    content: $motif-true-false;
  }
}
.motif-trust {
  &:before {
    content: $motif-trust;
  }
}
.motif-tv {
  &:before {
    content: $motif-tv;
  }
}
.motif-tweezers {
  &:before {
    content: $motif-tweezers;
  }
}
.motif-twitter {
  &:before {
    content: $motif-twitter;
  }
}
.motif-ultrasound {
  &:before {
    content: $motif-ultrasound;
  }
}
.motif-unchecked-checkbox {
  &:before {
    content: $motif-unchecked-checkbox;
  }
}
.motif-undo {
  &:before {
    content: $motif-undo;
  }
}
.motif-unhcr {
  &:before {
    content: $motif-unhcr;
  }
}
.motif-unicef {
  &:before {
    content: $motif-unicef;
  }
}
.motif-unlock {
  &:before {
    content: $motif-unlock;
  }
}
.motif-unlock-2 {
  &:before {
    content: $motif-unlock-2;
  }
}
.motif-up-2 {
  &:before {
    content: $motif-up-2;
  }
}
.motif-up-3 {
  &:before {
    content: $motif-up-3;
  }
}
.motif-up-arrow {
  &:before {
    content: $motif-up-arrow;
  }
}
.motif-up-left {
  &:before {
    content: $motif-up-left;
  }
}
.motif-up-left-arrow {
  &:before {
    content: $motif-up-left-arrow;
  }
}
.motif-up-left-round {
  &:before {
    content: $motif-up-left-round;
  }
}
.motif-up-right {
  &:before {
    content: $motif-up-right;
  }
}
.motif-up-right-arrow {
  &:before {
    content: $motif-up-right-arrow;
  }
}
.motif-up-right-round {
  &:before {
    content: $motif-up-right-round;
  }
}
.motif-up-round {
  &:before {
    content: $motif-up-round;
  }
}
.motif-up-squared {
  &:before {
    content: $motif-up-squared;
  }
}
.motif-update-tag {
  &:before {
    content: $motif-update-tag;
  }
}
.motif-upload {
  &:before {
    content: $motif-upload;
  }
}
.motif-upload-2 {
  &:before {
    content: $motif-upload-2;
  }
}
.motif-urgent-message {
  &:before {
    content: $motif-urgent-message;
  }
}
.motif-urine-collection {
  &:before {
    content: $motif-urine-collection;
  }
}
.motif-user-checked {
  &:before {
    content: $motif-user-checked;
  }
}
.motif-user-group-man-man {
  &:before {
    content: $motif-user-group-man-man;
  }
}
.motif-user-group-man-woman {
  &:before {
    content: $motif-user-group-man-woman;
  }
}
.motif-user-group-woman-woman {
  &:before {
    content: $motif-user-group-woman-woman;
  }
}
.motif-user-male-circle {
  &:before {
    content: $motif-user-male-circle;
  }
}
.motif-user-manual {
  &:before {
    content: $motif-user-manual;
  }
}
.motif-user-remove {
  &:before {
    content: $motif-user-remove;
  }
}
.motif-uterus {
  &:before {
    content: $motif-uterus;
  }
}
.motif-vaccine-drop {
  &:before {
    content: $motif-vaccine-drop;
  }
}
.motif-vending-machine {
  &:before {
    content: $motif-vending-machine;
  }
}
.motif-video-conference {
  &:before {
    content: $motif-video-conference;
  }
}
.motif-video-projector {
  &:before {
    content: $motif-video-projector;
  }
}
.motif-view-details {
  &:before {
    content: $motif-view-details;
  }
}
.motif-vip {
  &:before {
    content: $motif-vip;
  }
}
.motif-virus {
  &:before {
    content: $motif-virus;
  }
}
.motif-visible {
  &:before {
    content: $motif-visible;
  }
}
.motif-visualy-impaired {
  &:before {
    content: $motif-visualy-impaired;
  }
}
.motif-walker {
  &:before {
    content: $motif-walker;
  }
}
.motif-walking-stick {
  &:before {
    content: $motif-walking-stick;
  }
}
.motif-warning-shield {
  &:before {
    content: $motif-warning-shield;
  }
}
.motif-wheelchair {
  &:before {
    content: $motif-wheelchair;
  }
}
.motif-why-us-male {
  &:before {
    content: $motif-why-us-male;
  }
}
.motif-wipes {
  &:before {
    content: $motif-wipes;
  }
}
.motif-wooden_massagetable {
  &:before {
    content: $motif-wooden_massagetable;
  }
}
.motif-world-health-organization {
  &:before {
    content: $motif-world-health-organization;
  }
}
.motif-xray {
  &:before {
    content: $motif-xray;
  }
}
.motif-yoga {
  &:before {
    content: $motif-yoga;
  }
}
.motif-yogurt {
  &:before {
    content: $motif-yogurt;
  }
}
.motif-youtube-play {
  &:before {
    content: $motif-youtube-play;
  }
}
