@charset "UTF-8";
@font-face {
  font-family: "ant-motif-icons";
  src: url("../motif/ant-motif-icons.eot?6o51c8");
  src: url("../motif/ant-motif-icons.eot?6o51c8#iefix")
      format("embedded-opentype"),
    url("../motif/ant-motif-icons.ttf?6o51c8") format("truetype"),
    url("../motif/ant-motif-icons.woff?6o51c8") format("woff"),
    url("../motif/ant-motif-icons.svg?6o51c8#ant-motif-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.motif-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ant-motif-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.motif-about:before {
  content: "\e900";
}

.motif-access-for-blind:before {
  content: "\e901";
}

.motif-add-more:before {
  content: "\e902";
}

.motif-add-phone:before {
  content: "\e903";
}

.motif-add-shopping-cart:before {
  content: "\eb32";
}

.motif-add-tag:before {
  content: "\e904";
}

.motif-add-text:before {
  content: "\e905";
}

.motif-aed:before {
  content: "\e906";
}

.motif-aids-ribbon:before {
  content: "\e907";
}

.motif-alarm-clock:before {
  content: "\e908";
}

.motif-alluminium_massagetable:before {
  content: "\e909";
}

.motif-alphabetical-sorting:before {
  content: "\e90a";
}

.motif-alphabetical-sorting-2:before {
  content: "\e90b";
}

.motif-ambulance:before {
  content: "\e90c";
}

.motif-amnesty_international:before {
  content: "\e90d";
}

.motif-amputee:before {
  content: "\e90e";
}

.motif-angle-down:before {
  content: "\e90f";
}

.motif-angle-left:before {
  content: "\e910";
}

.motif-angle-right:before {
  content: "\e911";
}

.motif-angle-up:before {
  content: "\e912";
}

.motif-antiseptic-cream:before {
  content: "\e913";
}

.motif-apple:before {
  content: "\e914";
}

.motif-appointment-reminders:before {
  content: "\e915";
}

.motif-archived:before {
  content: "\eb25";
}

.motif-arrow:before {
  content: "\e916";
}

.motif-arrow-pointing-left:before {
  content: "\e917";
}

.motif-arrows-long-down:before {
  content: "\e918";
}

.motif-arrows-long-left:before {
  content: "\e919";
}

.motif-arrows-long-right:before {
  content: "\e91a";
}

.motif-arrows-long-up:before {
  content: "\e91b";
}

.motif-assistive_listening_systems:before {
  content: "\e91c";
}

.motif-attention:before {
  content: "\e91d";
}

.motif-audio-description:before {
  content: "\e91e";
}

.motif-average:before {
  content: "\e91f";
}

.motif-average-2:before {
  content: "\e920";
}

.motif-avocado:before {
  content: "\eb33";
}

.motif-ball-point-pen:before {
  content: "\e921";
}

.motif-banana:before {
  content: "\e922";
}

.motif-bandage:before {
  content: "\e923";
}

.motif-bank-cards:before {
  content: "\eb34";
}

.motif-bench-press-with-dumbbells:before {
  content: "\e924";
}

.motif-bento-box:before {
  content: "\eb28";
}

.motif-binoculars:before {
  content: "\e925";
}

.motif-birthday-cake:before {
  content: "\e926";
}

.motif-bitbucket:before {
  content: "\e927";
}

.motif-blind:before {
  content: "\e928";
}

.motif-block:before {
  content: "\e929";
}

.motif-body-scan:before {
  content: "\e92a";
}

.motif-bookmark:before {
  content: "\e92b";
}

.motif-bookmark-ribbon:before {
  content: "\e92c";
}

.motif-bottle-of-water:before {
  content: "\e92d";
}

.motif-braille:before {
  content: "\e92e";
}

.motif-brain:before {
  content: "\e92f";
}

.motif-bullet:before {
  content: "\eb35";
}

.motif-bulleted-list:before {
  content: "\e930";
}

.motif-business-contact:before {
  content: "\e931";
}

.motif-buy:before {
  content: "\e932";
}

.motif-caduceus:before {
  content: "\e933";
}

.motif-caduceus_gavel:before {
  content: "\e934";
}

.motif-cafe:before {
  content: "\e935";
}

.motif-calculator:before {
  content: "\e936";
}

.motif-calendar:before {
  content: "\e937";
}

.motif-calendar-minus:before {
  content: "\e938";
}

.motif-calendar-plus:before {
  content: "\e939";
}

.motif-call-transfer:before {
  content: "\e93a";
}

.motif-calories:before {
  content: "\eb36";
}

.motif-cancel:before {
  content: "\e93b";
}

.motif-cancel-2:before {
  content: "\e93c";
}

.motif-cancel-file:before {
  content: "\e93d";
}

.motif-cancer-ribbon:before {
  content: "\e93e";
}

.motif-car:before {
  content: "\eb37";
}

.motif-card-exchange:before {
  content: "\e93f";
}

.motif-card-security:before {
  content: "\e940";
}

.motif-card-security-code:before {
  content: "\e941";
}

.motif-card-verification-value:before {
  content: "\e942";
}

.motif-cardboard-box:before {
  content: "\e943";
}

.motif-cast:before {
  content: "\e944";
}

.motif-cc-amex:before {
  content: "\eb29";
}

.motif-cc-discover:before {
  content: "\eb2a";
}

.motif-cc-mastercard:before {
  content: "\eb2b";
}

.motif-cc-visa:before {
  content: "\eb2c";
}

.motif-charge-battery:before {
  content: "\e945";
}

.motif-chat:before {
  content: "\e946";
}

.motif-chat-bubble:before {
  content: "\eb2f";
}

.motif-chat-send:before {
  content: "\eb30";
}

.motif-cheap-2:before {
  content: "\e947";
}

.motif-check-wide:before {
  content: "\eb31";
}

.motif-checked:before {
  content: "\e948";
}

.motif-checked-2:before {
  content: "\e949";
}

.motif-checkmark:before {
  content: "\e94a";
}

.motif-checkout:before {
  content: "\e94b";
}

.motif-chef-hat:before {
  content: "\eb1d";
}

.motif-chevron:before {
  content: "\e94c";
}

.motif-chevron-down:before {
  content: "\e94d";
}

.motif-chevron-down-round:before {
  content: "\e94e";
}

.motif-chevron-filled-down:before {
  content: "\e94f";
}

.motif-chevron-filled-up:before {
  content: "\e950";
}

.motif-chevron-left:before {
  content: "\e951";
}

.motif-chevron-left-round:before {
  content: "\e952";
}

.motif-chevron-right:before {
  content: "\e953";
}

.motif-chevron-right-round:before {
  content: "\e954";
}

.motif-chevron-up:before {
  content: "\e955";
}

.motif-chevron-up-round:before {
  content: "\e956";
}

.motif-circle:before {
  content: "\e957";
}

.motif-circle-checked-inverse:before {
  content: "\eb1e";
}

.motif-circle-notch:before {
  content: "\e958";
}

.motif-circle-thin:before {
  content: "\e959";
}

.motif-circled:before {
  content: "\e95a";
}

.motif-circled-down:before {
  content: "\e95b";
}

.motif-circled-down-left:before {
  content: "\e95c";
}

.motif-circled-down-right:before {
  content: "\e95d";
}

.motif-circled-left:before {
  content: "\e95e";
}

.motif-circled-right:before {
  content: "\e95f";
}

.motif-circled-up:before {
  content: "\e960";
}

.motif-circled-up-left:before {
  content: "\e961";
}

.motif-circled-up-right:before {
  content: "\e962";
}

.motif-clinic:before {
  content: "\e963";
}

.motif-clipboard:before {
  content: "\e964";
}

.motif-clock:before {
  content: "\e965";
}

.motif-clone:before {
  content: "\e966";
}

.motif-closed-captioning:before {
  content: "\e967";
}

.motif-collapse:before {
  content: "\e968";
}

.motif-color-dropper:before {
  content: "\e969";
}

.motif-comments:before {
  content: "\e96a";
}

.motif-commercial-development-management:before {
  content: "\e96b";
}

.motif-compare:before {
  content: "\e96c";
}

.motif-compose:before {
  content: "\eb38";
}

.motif-compress:before {
  content: "\e96d";
}

.motif-computer-support:before {
  content: "\e96e";
}

.motif-concept:before {
  content: "\e96f";
}

.motif-condom:before {
  content: "\e970";
}

.motif-condom-package:before {
  content: "\e971";
}

.motif-contacts:before {
  content: "\e972";
}

.motif-content:before {
  content: "\e973";
}

.motif-copy:before {
  content: "\e974";
}

.motif-coronavirus:before {
  content: "\e975";
}

.motif-counselor:before {
  content: "\e976";
}

.motif-create-new:before {
  content: "\e977";
}

.motif-crop:before {
  content: "\e978";
}

.motif-crutch:before {
  content: "\e979";
}

.motif-curls-with-dumbbells:before {
  content: "\e97a";
}

.motif-cursor:before {
  content: "\e97b";
}

.motif-customer-support:before {
  content: "\e97c";
}

.motif-death:before {
  content: "\e97d";
}

.motif-decrease-font:before {
  content: "\e97e";
}

.motif-delete:before {
  content: "\e97f";
}

.motif-delete_link:before {
  content: "\e980";
}

.motif-delete_slide:before {
  content: "\e981";
}

.motif-department:before {
  content: "\e982";
}

.motif-design:before {
  content: "\e983";
}

.motif-details:before {
  content: "\e984";
}

.motif-device-information:before {
  content: "\e985";
}

.motif-diabetes:before {
  content: "\e986";
}

.motif-diabetes-monitor:before {
  content: "\e987";
}

.motif-dialysis_machine:before {
  content: "\e988";
}

.motif-diamond:before {
  content: "\e989";
}

.motif-dislike:before {
  content: "\e98a";
}

.motif-dislike-fill:before {
  content: "\e98b";
}

.motif-doctors-bag:before {
  content: "\e98c";
}

.motif-doctors-without-borders:before {
  content: "\e98d";
}

.motif-document:before {
  content: "\e98e";
}

.motif-documents:before {
  content: "\e98f";
}

.motif-donate:before {
  content: "\e990";
}

.motif-door-sensor-alarmed:before {
  content: "\e991";
}

.motif-double-down:before {
  content: "\e992";
}

.motif-double-left:before {
  content: "\e993";
}

.motif-double-right:before {
  content: "\e994";
}

.motif-double-up:before {
  content: "\e995";
}

.motif-down-2:before {
  content: "\e996";
}

.motif-down-3:before {
  content: "\e997";
}

.motif-down-arrow:before {
  content: "\e998";
}

.motif-down-left:before {
  content: "\e999";
}

.motif-down-left-arrow:before {
  content: "\e99a";
}

.motif-down-left-round:before {
  content: "\e99b";
}

.motif-down-right:before {
  content: "\e99c";
}

.motif-down-right-arrow:before {
  content: "\e99d";
}

.motif-down-right-round:before {
  content: "\e99e";
}

.motif-down-round:before {
  content: "\e99f";
}

.motif-down-squared:before {
  content: "\e9a0";
}

.motif-download:before {
  content: "\e9a1";
}

.motif-download-2:before {
  content: "\e9a2";
}

.motif-download-graph-report:before {
  content: "\e9a3";
}

.motif-download-pie-chart-report:before {
  content: "\e9a4";
}

.motif-downloads:before {
  content: "\e9a5";
}

.motif-drag-list-down:before {
  content: "\e9a6";
}

.motif-drag-list-up:before {
  content: "\e9a7";
}

.motif-drag-reorder:before {
  content: "\e9a8";
}

.motif-dumbbell:before {
  content: "\e9a9";
}

.motif-edit:before {
  content: "\e9aa";
}

.motif-elderly-person:before {
  content: "\e9ab";
}

.motif-ellipse:before {
  content: "\e9ac";
}

.motif-ellipse-filled:before {
  content: "\e9ad";
}

.motif-employee-card:before {
  content: "\e9ae";
}

.motif-empty-hourglass:before {
  content: "\e9af";
}

.motif-empty-trash:before {
  content: "\e9b0";
}

.motif-environment:before {
  content: "\e9b1";
}

.motif-erase:before {
  content: "\e9b2";
}

.motif-eraser:before {
  content: "\e9b3";
}

.motif-error:before {
  content: "\e9b4";
}

.motif-error-cloud:before {
  content: "\e9b5";
}

.motif-escape-mask:before {
  content: "\e9b6";
}

.motif-event-accepted:before {
  content: "\e9b7";
}

.motif-event-accepted-tentatively:before {
  content: "\e9b8";
}

.motif-exercise:before {
  content: "\e9b9";
}

.motif-expand:before {
  content: "\e9ba";
}

.motif-external-link:before {
  content: "\eb2d";
}

.motif-eye:before {
  content: "\e9bb";
}

.motif-facebook:before {
  content: "\e9bc";
}

.motif-false-teeth:before {
  content: "\e9bd";
}

.motif-family:before {
  content: "\e9be";
}

.motif-feedback:before {
  content: "\e9bf";
}

.motif-file:before {
  content: "\e9c0";
}

.motif-fill-color:before {
  content: "\e9c1";
}

.motif-filled-like:before {
  content: "\e9c2";
}

.motif-filled-star:before {
  content: "\e9c3";
}

.motif-filter:before {
  content: "\e9c4";
}

.motif-find-matching-job:before {
  content: "\e9c5";
}

.motif-fingerprint:before {
  content: "\e9c6";
}

.motif-fitness-tracker:before {
  content: "\eb39";
}

.motif-flip-horizontal:before {
  content: "\e9c7";
}

.motif-flip-vertical:before {
  content: "\e9c8";
}

.motif-flow-chart:before {
  content: "\e9c9";
}

.motif-foil-space-blanket:before {
  content: "\e9ca";
}

.motif-fold:before {
  content: "\e9cb";
}

.motif-foot-angle:before {
  content: "\e9cc";
}

.motif-forgot-password:before {
  content: "\e9cd";
}

.motif-fridge:before {
  content: "\e9ce";
}

.motif-full-image:before {
  content: "\e9cf";
}

.motif-full-stop:before {
  content: "\e9d0";
}

.motif-gavel:before {
  content: "\e9d1";
}

.motif-general-ledger:before {
  content: "\e9d2";
}

.motif-go-to-link:before {
  content: "\e9d3";
}

.motif-gold-bars:before {
  content: "\e9d4";
}

.motif-good-decision:before {
  content: "\e9d5";
}

.motif-graduation-cap:before {
  content: "\e9d6";
}

.motif-graph-report:before {
  content: "\e9d7";
}

.motif-graph-report-script:before {
  content: "\e9d8";
}

.motif-group-background-selected:before {
  content: "\e9d9";
}

.motif-group-foreground-selected:before {
  content: "\e9da";
}

.motif-group-of-questions:before {
  content: "\e9db";
}

.motif-groups:before {
  content: "\e9dc";
}

.motif-hand-cursor:before {
  content: "\e9dd";
}

.motif-hand-with-pen:before {
  content: "\e9de";
}

.motif-handshake:before {
  content: "\e9df";
}

.motif-hashtag-large:before {
  content: "\e9e0";
}

.motif-head-brain:before {
  content: "\eb43";
}

.motif-headset:before {
  content: "\e9e1";
}

.motif-health-book:before {
  content: "\e9e2";
}

.motif-health-plus:before {
  content: "\eb3a";
}

.motif-hearing:before {
  content: "\e9e3";
}

.motif-hearing-aid:before {
  content: "\e9e4";
}

.motif-heart-health:before {
  content: "\e9e5";
}

.motif-heart-monitor:before {
  content: "\e9e6";
}

.motif-heart-with-pulse:before {
  content: "\e9e7";
}

.motif-help:before {
  content: "\e9e8";
}

.motif-helping-hand:before {
  content: "\e9e9";
}

.motif-high-connection:before {
  content: "\e9ea";
}

.motif-high-importance:before {
  content: "\e9eb";
}

.motif-high-priority:before {
  content: "\e9ec";
}

.motif-home:before {
  content: "\e9ed";
}

.motif-honesty:before {
  content: "\e9ee";
}

.motif-honey:before {
  content: "\e9ef";
}

.motif-hospital-3:before {
  content: "\e9f0";
}

.motif-hot-dog:before {
  content: "\e9f1";
}

.motif-human-bone:before {
  content: "\e9f2";
}

.motif-ice-cream-cone:before {
  content: "\e9f3";
}

.motif-id-card:before {
  content: "\e9f4";
}

.motif-id-verified:before {
  content: "\e9f5";
}

.motif-idea:before {
  content: "\e9f6";
}

.motif-in-transit:before {
  content: "\e9f7";
}

.motif-inbox:before {
  content: "\e9f8";
}

.motif-info:before {
  content: "\e9f9";
}

.motif-info-squared:before {
  content: "\e9fa";
}

.motif-infusion-pumps:before {
  content: "\e9fb";
}

.motif-ingredients-list:before {
  content: "\e9fc";
}

.motif-inspection:before {
  content: "\e9fd";
}

.motif-internal:before {
  content: "\e9fe";
}

.motif-internet:before {
  content: "\e9ff";
}

.motif-invisible:before {
  content: "\ea00";
}

.motif-invite:before {
  content: "\ea01";
}

.motif-ios-development:before {
  content: "\ea02";
}

.motif-job:before {
  content: "\ea03";
}

.motif-key:before {
  content: "\ea04";
}

.motif-keyhole-shield:before {
  content: "\ea05";
}

.motif-kidney:before {
  content: "\ea06";
}

.motif-label-printer:before {
  content: "\ea07";
}

.motif-language:before {
  content: "\ea08";
}

.motif-large-intestine:before {
  content: "\ea09";
}

.motif-leave:before {
  content: "\ea0a";
}

.motif-left-2:before {
  content: "\ea0b";
}

.motif-left-3:before {
  content: "\ea0c";
}

.motif-left-arrow:before {
  content: "\ea0d";
}

.motif-left-down-2:before {
  content: "\ea0e";
}

.motif-left-round:before {
  content: "\ea0f";
}

.motif-left-squared:before {
  content: "\ea10";
}

.motif-left-up-2:before {
  content: "\ea11";
}

.motif-lgbt-men:before {
  content: "\ea12";
}

.motif-lgbt-women:before {
  content: "\ea13";
}

.motif-library:before {
  content: "\ea14";
}

.motif-lightning-bolt:before {
  content: "\ea15";
}

.motif-like:before {
  content: "\ea16";
}

.motif-list:before {
  content: "\ea17";
}

.motif-liver:before {
  content: "\ea18";
}

.motif-lock:before {
  content: "\ea19";
}

.motif-lock-2:before {
  content: "\ea1a";
}

.motif-login:before {
  content: "\eb3b";
}

.motif-loser:before {
  content: "\ea1b";
}

.motif-low-priority:before {
  content: "\ea1c";
}

.motif-loyalty:before {
  content: "\ea1d";
}

.motif-lungs:before {
  content: "\ea1e";
}

.motif-manage-payment:before {
  content: "\eb3c";
}

.motif-map-marker:before {
  content: "\ea1f";
}

.motif-marker:before {
  content: "\ea20";
}

.motif-marker-pen:before {
  content: "\ea21";
}

.motif-massage:before {
  content: "\ea22";
}

.motif-medical-doctor:before {
  content: "\ea23";
}

.motif-medical-heart:before {
  content: "\ea24";
}

.motif-medical-mobile-app:before {
  content: "\ea25";
}

.motif-medical-thermometer:before {
  content: "\ea26";
}

.motif-megaphone:before {
  content: "\ea27";
}

.motif-membership-card:before {
  content: "\ea28";
}

.motif-mental-state:before {
  content: "\ea29";
}

.motif-menu:before {
  content: "\eb3d";
}

.motif-menu-kebab:before {
  content: "\ea2a";
}

.motif-merge-horizontal:before {
  content: "\ea2b";
}

.motif-merge-vertical:before {
  content: "\ea2c";
}

.motif-message:before {
  content: "\ea2d";
}

.motif-message-filled:before {
  content: "\ea2e";
}

.motif-metamorphose:before {
  content: "\ea2f";
}

.motif-microbeam_radiation_therapy:before {
  content: "\ea30";
}

.motif-micropore-tape:before {
  content: "\ea31";
}

.motif-mind-and-body:before {
  content: "\eb3e";
}

.motif-minus:before {
  content: "\ea32";
}

.motif-mobile-shop-cards:before {
  content: "\ea33";
}

.motif-mortar-and-pestle:before {
  content: "\ea34";
}

.motif-move:before {
  content: "\ea35";
}

.motif-ms-excel:before {
  content: "\eb26";
}

.motif-multiple-devices:before {
  content: "\ea36";
}

.motif-music:before {
  content: "\ea37";
}

.motif-mute:before {
  content: "\ea38";
}

.motif-negative-dynamic:before {
  content: "\ea39";
}

.motif-news:before {
  content: "\ea3a";
}

.motif-no-chat:before {
  content: "\ea3b";
}

.motif-no-edit:before {
  content: "\ea3c";
}

.motif-no-filling:before {
  content: "\ea3d";
}

.motif-no-idea:before {
  content: "\ea3e";
}

.motif-no-reminders:before {
  content: "\ea3f";
}

.motif-no-smoking:before {
  content: "\ea40";
}

.motif-nose:before {
  content: "\ea41";
}

.motif-not-hearing:before {
  content: "\ea42";
}

.motif-notebook:before {
  content: "\eb3f";
}

.motif-numbered-list:before {
  content: "\ea43";
}

.motif-numerical-sorting-12:before {
  content: "\ea44";
}

.motif-numerical-sorting-21:before {
  content: "\ea45";
}

.motif-ok:before {
  content: "\ea46";
}

.motif-opened-captioning:before {
  content: "\ea47";
}

.motif-opened-folder:before {
  content: "\ea48";
}

.motif-order-on-the-way:before {
  content: "\ea49";
}

.motif-order-shipped:before {
  content: "\ea4a";
}

.motif-organization:before {
  content: "\ea4b";
}

.motif-overview_pages_3:before {
  content: "\ea4c";
}

.motif-pacemaker:before {
  content: "\ea4d";
}

.motif-paper-clip:before {
  content: "\eb27";
}

.motif-paper-plane:before {
  content: "\ea4e";
}

.motif-parse-from-clipboard:before {
  content: "\ea4f";
}

.motif-past:before {
  content: "\ea50";
}

.motif-paste:before {
  content: "\ea51";
}

.motif-paycheque:before {
  content: "\ea52";
}

.motif-pdf:before {
  content: "\ea53";
}

.motif-pen:before {
  content: "\ea54";
}

.motif-pencil:before {
  content: "\ea55";
}

.motif-pencil-tip:before {
  content: "\ea56";
}

.motif-pharmacist:before {
  content: "\ea57";
}

.motif-phone:before {
  content: "\ea58";
}

.motif-physical-therapy:before {
  content: "\ea59";
}

.motif-picture:before {
  content: "\ea5a";
}

.motif-pill:before {
  content: "\ea5b";
}

.motif-play:before {
  content: "\ea5c";
}

.motif-play-round:before {
  content: "\ea5d";
}

.motif-plus:before {
  content: "\ea5e";
}

.motif-posture:before {
  content: "\ea5f";
}

.motif-prescription-pill-bottle:before {
  content: "\ea60";
}

.motif-presentation-filled:before {
  content: "\ea61";
}

.motif-price-tag:before {
  content: "\ea62";
}

.motif-price-tag-usd:before {
  content: "\ea63";
}

.motif-print:before {
  content: "\ea64";
}

.motif-printed-ocr:before {
  content: "\ea65";
}

.motif-pulse:before {
  content: "\ea66";
}

.motif-puzzle:before {
  content: "\ea67";
}

.motif-question:before {
  content: "\ea68";
}

.motif-rating:before {
  content: "\ea69";
}

.motif-read-message:before {
  content: "\ea6a";
}

.motif-read-message1:before {
  content: "\ea6b";
}

.motif-reading:before {
  content: "\ea6c";
}

.motif-rebalance-portfolio:before {
  content: "\ea6d";
}

.motif-recurring-appointment:before {
  content: "\ea6e";
}

.motif-recurring-appointment-exception:before {
  content: "\ea6f";
}

.motif-redo:before {
  content: "\ea70";
}

.motif-refresh:before {
  content: "\ea71";
}

.motif-reply:before {
  content: "\ea72";
}

.motif-resize-diagonal:before {
  content: "\ea73";
}

.motif-resize-four-directions:before {
  content: "\ea74";
}

.motif-resize-horizontal:before {
  content: "\ea75";
}

.motif-resize-vertical:before {
  content: "\ea76";
}

.motif-restrict:before {
  content: "\ea77";
}

.motif-retweet:before {
  content: "\ea78";
}

.motif-reviewer-male:before {
  content: "\ea79";
}

.motif-ribbon:before {
  content: "\eb2e";
}

.motif-right-2:before {
  content: "\ea7a";
}

.motif-right-3:before {
  content: "\ea7b";
}

.motif-right-arrow:before {
  content: "\ea7c";
}

.motif-right-down-2:before {
  content: "\ea7d";
}

.motif-right-round:before {
  content: "\ea7e";
}

.motif-right-squared:before {
  content: "\ea7f";
}

.motif-right-up-2:before {
  content: "\ea80";
}

.motif-rod_of_asclepius:before {
  content: "\ea81";
}

.motif-rotate:before {
  content: "\ea82";
}

.motif-rotate-left:before {
  content: "\ea83";
}

.motif-rotate-right:before {
  content: "\ea84";
}

.motif-rotate-right-1-1-1:before {
  content: "\ea85";
}

.motif-rss:before {
  content: "\ea86";
}

.motif-ruler:before {
  content: "\ea87";
}

.motif-rules:before {
  content: "\ea88";
}

.motif-sad-cloud:before {
  content: "\eb1f";
}

.motif-safety-collection-place:before {
  content: "\ea89";
}

.motif-safety-pin:before {
  content: "\ea8a";
}

.motif-safety-shower:before {
  content: "\ea8b";
}

.motif-salad:before {
  content: "\eb40";
}

.motif-sales-performance:before {
  content: "\ea8c";
}

.motif-saliva-test:before {
  content: "\ea8d";
}

.motif-save-the-children:before {
  content: "\ea8e";
}

.motif-scale:before {
  content: "\ea8f";
}

.motif-scalpel:before {
  content: "\ea90";
}

.motif-scissors:before {
  content: "\ea91";
}

.motif-search-1:before {
  content: "\ea92";
}

.motif-search-contacts:before {
  content: "\ea93";
}

.motif-search-property:before {
  content: "\ea94";
}

.motif-secured-by-alarm-system:before {
  content: "\ea95";
}

.motif-security-ssl:before {
  content: "\ea96";
}

.motif-sell-property:before {
  content: "\ea97";
}

.motif-send:before {
  content: "\eb41";
}

.motif-sent:before {
  content: "\ea98";
}

.motif-services:before {
  content: "\ea99";
}

.motif-settings:before {
  content: "\ea9a";
}

.motif-shield:before {
  content: "\ea9b";
}

.motif-shopping-bag:before {
  content: "\ea9c";
}

.motif-shopping-cart:before {
  content: "\ea9d";
}

.motif-sign_language_interpretation:before {
  content: "\ea9e";
}

.motif-skeleton:before {
  content: "\ea9f";
}

.motif-skin:before {
  content: "\eaa0";
}

.motif-skull:before {
  content: "\eaa1";
}

.motif-sleeping-in-bed:before {
  content: "\eaa2";
}

.motif-slippery-floor:before {
  content: "\eb44";
}

.motif-small-business:before {
  content: "\eaa3";
}

.motif-smartphone-approve:before {
  content: "\eaa4";
}

.motif-sneaker:before {
  content: "\eb20";
}

.motif-sneeze:before {
  content: "\eaa5";
}

.motif-soldering-iron:before {
  content: "\eaa6";
}

.motif-sort:before {
  content: "\eaa7";
}

.motif-sort-down:before {
  content: "\eaa8";
}

.motif-sort-down-filled:before {
  content: "\eaa9";
}

.motif-sort-left:before {
  content: "\eaaa";
}

.motif-sort-right:before {
  content: "\eaab";
}

.motif-sort-up:before {
  content: "\eaac";
}

.motif-sort-up-filled:before {
  content: "\eaad";
}

.motif-sorting-arrows:before {
  content: "\eaae";
}

.motif-sorting-arrows-horizontal:before {
  content: "\eaaf";
}

.motif-sorting-options:before {
  content: "\eab0";
}

.motif-speech-bubble:before {
  content: "\eab1";
}

.motif-sperm-bank:before {
  content: "\eab2";
}

.motif-split-horizontal:before {
  content: "\eab3";
}

.motif-split-vertical:before {
  content: "\eab4";
}

.motif-standing-man:before {
  content: "\eab5";
}

.motif-standing-woman:before {
  content: "\eab6";
}

.motif-star:before {
  content: "\eab7";
}

.motif-star-half:before {
  content: "\eab8";
}

.motif-star-half-empty:before {
  content: "\eab9";
}

.motif-statistics:before {
  content: "\eaba";
}

.motif-stethoscope:before {
  content: "\eabb";
}

.motif-stitch-marker:before {
  content: "\eabc";
}

.motif-stocks:before {
  content: "\eabd";
}

.motif-stomach:before {
  content: "\eabe";
}

.motif-stop-pie-chart-report:before {
  content: "\eabf";
}

.motif-stretcher:before {
  content: "\eac0";
}

.motif-submit-resume:before {
  content: "\eac1";
}

.motif-suicide-risk:before {
  content: "\eac2";
}

.motif-support:before {
  content: "\eac3";
}

.motif-surgical-scissors:before {
  content: "\eac4";
}

.motif-swap:before {
  content: "\eac5";
}

.motif-symbol-mars:before {
  content: "\eb21";
}

.motif-symbol-venus:before {
  content: "\eb22";
}

.motif-synchronize:before {
  content: "\eac6";
}

.motif-syringe:before {
  content: "\eac7";
}

.motif-tags:before {
  content: "\eac8";
}

.motif-tasklist:before {
  content: "\eac9";
}

.motif-tasks:before {
  content: "\eaca";
}

.motif-tax:before {
  content: "\eacb";
}

.motif-technical_support:before {
  content: "\eacc";
}

.motif-technology-items:before {
  content: "\eacd";
}

.motif-template:before {
  content: "\eace";
}

.motif-test-partial-passed:before {
  content: "\eacf";
}

.motif-therapy:before {
  content: "\ead0";
}

.motif-thick-arrow-pointing-down:before {
  content: "\ead1";
}

.motif-thick-arrow-pointing-up:before {
  content: "\ead2";
}

.motif-thumb-down:before {
  content: "\ead3";
}

.motif-thumb-up:before {
  content: "\ead4";
}

.motif-tied-hands:before {
  content: "\ead5";
}

.motif-time-card:before {
  content: "\ead6";
}

.motif-timeline:before {
  content: "\ead7";
}

.motif-todo-list:before {
  content: "\ead8";
}

.motif-tooth:before {
  content: "\ead9";
}

.motif-toothbrush:before {
  content: "\eada";
}

.motif-toothpaste:before {
  content: "\eadb";
}

.motif-topic:before {
  content: "\eadc";
}

.motif-touchscreen-smartphone:before {
  content: "\eadd";
}

.motif-training:before {
  content: "\eade";
}

.motif-transaction-list:before {
  content: "\eadf";
}

.motif-transfer-between-users:before {
  content: "\eae0";
}

.motif-trash:before {
  content: "\eae1";
}

.motif-travel-card:before {
  content: "\eae2";
}

.motif-treatment-plan:before {
  content: "\eae3";
}

.motif-tree-structure:before {
  content: "\eae4";
}

.motif-triangle:before {
  content: "\eae5";
}

.motif-triangular-bandage:before {
  content: "\eae6";
}

.motif-true-false:before {
  content: "\eae7";
}

.motif-trust:before {
  content: "\eae8";
}

.motif-tv:before {
  content: "\eae9";
}

.motif-tweezers:before {
  content: "\eaea";
}

.motif-twitter:before {
  content: "\eaeb";
}

.motif-ultrasound:before {
  content: "\eaec";
}

.motif-unchecked-checkbox:before {
  content: "\eaed";
}

.motif-undo:before {
  content: "\eaee";
}

.motif-unhcr:before {
  content: "\eaef";
}

.motif-unicef:before {
  content: "\eaf0";
}

.motif-unlock:before {
  content: "\eaf1";
}

.motif-unlock-2:before {
  content: "\eaf2";
}

.motif-up-2:before {
  content: "\eaf3";
}

.motif-up-3:before {
  content: "\eaf4";
}

.motif-up-arrow:before {
  content: "\eaf5";
}

.motif-up-left:before {
  content: "\eaf6";
}

.motif-up-left-arrow:before {
  content: "\eaf7";
}

.motif-up-left-round:before {
  content: "\eaf8";
}

.motif-up-right:before {
  content: "\eaf9";
}

.motif-up-right-arrow:before {
  content: "\eafa";
}

.motif-up-right-round:before {
  content: "\eafb";
}

.motif-up-round:before {
  content: "\eafc";
}

.motif-up-squared:before {
  content: "\eafd";
}

.motif-update-tag:before {
  content: "\eafe";
}

.motif-upload:before {
  content: "\eaff";
}

.motif-upload-2:before {
  content: "\eb00";
}

.motif-urgent-message:before {
  content: "\eb01";
}

.motif-urine-collection:before {
  content: "\eb02";
}

.motif-user-checked:before {
  content: "\eb23";
}

.motif-user-group-man-man:before {
  content: "\eb03";
}

.motif-user-group-man-woman:before {
  content: "\eb04";
}

.motif-user-group-woman-woman:before {
  content: "\eb05";
}

.motif-user-male-circle:before {
  content: "\eb06";
}

.motif-user-manual:before {
  content: "\eb07";
}

.motif-user-remove:before {
  content: "\eb24";
}

.motif-uterus:before {
  content: "\eb08";
}

.motif-vaccine-drop:before {
  content: "\eb09";
}

.motif-vending-machine:before {
  content: "\eb0a";
}

.motif-video-conference:before {
  content: "\eb0b";
}

.motif-video-projector:before {
  content: "\eb0c";
}

.motif-view-details:before {
  content: "\eb0d";
}

.motif-vip:before {
  content: "\eb0e";
}

.motif-virus:before {
  content: "\eb0f";
}

.motif-visible:before {
  content: "\eb10";
}

.motif-visualy-impaired:before {
  content: "\eb11";
}

.motif-walker:before {
  content: "\eb12";
}

.motif-walking-stick:before {
  content: "\eb13";
}

.motif-warning-shield:before {
  content: "\eb14";
}

.motif-wheelchair:before {
  content: "\eb15";
}

.motif-why-us-male:before {
  content: "\eb16";
}

.motif-wipes:before {
  content: "\eb17";
}

.motif-wooden_massagetable:before {
  content: "\eb18";
}

.motif-world-health-organization:before {
  content: "\eb19";
}

.motif-xray:before {
  content: "\eb1a";
}

.motif-yoga:before {
  content: "\eb42";
}

.motif-yogurt:before {
  content: "\eb1b";
}

.motif-youtube-play:before {
  content: "\eb1c";
}

/*# sourceMappingURL=icons.css.map */
