.authordetails__container {
  width: 100%;
  padding: 0 0 16px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;
  background-color: #ffffff;
  display: flex;
  margin-top: 24px;
}

.separator {
  border-top: 1px solid #ccc;
  padding-top: 18px;
  margin-top: 36px;
}

.authordetails__container .author__img {
  width: 48px;
  height: 48px;
}

.authordetails__container .author__img > img {
  width: inherit;
  height: inherit;
  border-radius: 50px;
  object-fit: cover;
}

.authordetails__container .author__details {
  width: calc(100% - 48px);
  padding: 6px 0 0 12px;
}

.authordetails__container .author__details .author__details__info {
  display: flex;
}

.authordetails__container
  .author__details
  .author__details__info
  .author__name {
  font-family: "Lato-Bold";
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.38;
  color: #000000;
}

.authordetails__container
  .author__details
  .author__details__info
  .authorInfo__split__line {
  border: 0.5px solid #000000;
  margin: 4px 11px 4px 4px;
}

.authordetails__container
  .author__details
  .author__details__info
  .author__post {
  font-family: "Lato-Regular";
  font-size: 0.875rem;
  line-height: 1.57;
  color: #000000;
}

.authordetails__container .author__details .author__details__date {
  font-family: "Lato-Regular";
  font-size: 0.75rem;
  line-height: 1.83;
  color: #333333;
}
